mat-spinner {
  margin: 8rem auto;
}

.game-block {
  padding: 2rem;
  width: min(40rem, 90vw);
  min-height: 30rem;
  border: 0.2rem solid var(--color-1);
  border-radius: 2rem;
  text-align: left;
  background: var(--background-2);
}

.title {
  color: var(--color-1);
  font-size: 1.7rem;
  margin-top: 2rem;
  font-weight: 500;
}

.subtitle {
  color: var(--color-2);
  font-size: 1.3rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.mission {
  color: var(--text-1);
  font-size: 1.35rem;
  margin-top: 0.5rem;
  font-weight: 500;
}