<div class="page-wrapper">

  <h1 class="page-title">
    <span>{{'Дневни квиз' | translit}}</span>
  </h1>

  <div class="game-block">
    @if (showSpinner) {
    <mat-spinner></mat-spinner>
    }

    @if (showIntro) {
    <app-game-intro (startEmitter)="getPersons()" />
    }

    @if (storageChecked && !gamePoints[0]) {
    <app-game-one [list]="persons"
      (gameOneEmitter)="onGameOneFinish($event)" />
    }

    @if (storageChecked && gamePoints[0] && !gamePoints[1]) {
    <app-game-two [list]="persons"
      (gameTwoEmitter)="onGameTwoFinish($event)" />
    }

    @if (storageChecked && gamePoints[1] && !gamePoints[2]) {
    <app-game-three [list]="quotes"
      (gameThreeEmitter)="onGameThreeFinish($event)" />
    }

    @if (storageChecked && gamePoints[2] && !gamePoints[3]) {
    <app-game-four [list]="saints"
      (gameFourEmitter)="onGameFourFinish($event)" />
    }

    @if (storageChecked && gamePoints[3] && !gamePoints[4]) {
    <app-game-five [list]="chronology"
      (gameFiveEmitter)="onGameFiveFinish($event)" />
    }

    @if (storageChecked && gamePoints[4]) {
    <app-game-results [points]="gamePoints" />
    }

  </div>
</div>