@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    label="Назив свеца" />
  <app-form-text control="slug"
    label="Слуг"
    [slug]="true" />
  <app-form-select control="type"
    [items]="holidayTypes"
    label="Тип празника" />
  <app-form-number control="saintDay"
    label="Датум - дан" />
  <app-form-number control="saintMonth"
    label="Датум - месец" />
  <app-form-text control="saintDate"
    label="Месец.дан" />
  <app-form-textarea control="description"
    label="Опис" />
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}