@if (person && quote) {
<div mat-dialog-content
  class="dialog-wrapper">
  <div class="story-spacing">
    <div class="quote-title">
      <section>ЦИТАТ ДАНА</section>
    </div>
  </div>
  <div class="quote-wrapper"
    (click)="decreaseFont()">
    <mat-icon>format_quote</mat-icon>
    <div class="quote-text"
      [style.fontSize.px]="fontPixel">
      {{quote.text | trimText}}
    </div>
  </div>
  <h1 class="author"
    [style.fontSize.px]="fontPixel">
    <span>
      {{person.commonName | uppercase}}</span>
  </h1>
  <img class="person-image image-shadow-filter"
    [class.inverted]="invertImage"
    [style.height.px]="210 + (pxSize / 2)"
    [style.bottom.px]="76 - pxSize"
    (click)="onImageClick()"
    loading="lazy"
    [src]="person.imagePath" />
  <div class="logo-wrapper">
    <img src="assets/images/gallery-logo-text-outline.png"
      (click)="onLogoClick()"
      alt="Logo Galerija" />
  </div>
</div>
}