.story-spacing {
  position: static;
  height: 6rem;
  background: linear-gradient(135deg,
      var(--canva-blue) 0%,
      var(--canva-blue) 59.9%,
      white 60%,
      white 100%,
    );
}

.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 41rem;
  height: calc(16/9) * 41rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  text-align: center;

  @media (orientation: portrait) {
    height: calc(16/9) * 100vw;
    width: 100vw;
  }
}

.quote-title {
  position: absolute;
  right: 0;
  top: 0.8rem;
  width: 40%;
  border-radius: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: right;
  margin-right: 2rem;
  margin-top: 2rem;

  section {
    color: var(--canva-blue);
    font-weight: 600;
    font-size: 1.9rem;
  }
}

img.person-image {
  margin: 0;
  position: absolute;
  right: -1px;
  z-index: 2;
  width: auto;
  object-fit: cover;
  object-position: center top;

  &.inverted {
    transform: scaleX(-1);
  }
}

h1.author {
  text-align: right;
  position: relative;
  right: -3rem;
  z-index: 9;
}

h1.author span {
  display: inline-block;
  font-weight: 500;
  border-bottom: 0.2rem solid var(--canva-blue);
  background: var(--background);
  color: var(--canva-blue);
  padding: 1rem 2rem 1rem 3rem;
}

.quote-wrapper {
  position: relative;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 4rem 4rem 2rem 4rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--text-1);
}

.quote-text {
  color: var(--text-1);
  position: relative;
  font-weight: 500;
  font-style: italic;
}

.logo-wrapper {
  bottom: 0;
  width: 100%;
  border-top: 0.2rem solid var(--canva-blue);
  margin: 0 auto;
  padding: 1rem 1rem;
  text-align: center;
  position: absolute;
  margin-inline: auto;
  z-index: 3;
  right: auto;
  left: auto;
  background-color: #f0f0f0;
  overflow: hidden;

  img {
    height: 5rem;
    object-fit: contain;
  }
}

mat-icon {
  transform: scale(3);
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  color: var(--canva-blue);
}