<div class="page-wrapper">

  <h1 class="page-title">
    <span>{{'Календар' | translit}}</span>
  </h1>

  @if(authService.loginAdmin$ | async) {
  <button class="add-button-large"
    mat-icon-button
    color="primary"
    (click)="onAddButton()">
    <mat-icon>person_add</mat-icon>
  </button>

  <button class="add-button-large second"
    mat-icon-button
    color="primary"
    (click)="onPrintscreenMonth()">
    <mat-icon>post_add</mat-icon>
  </button>

  <button class="add-button-large third"
    mat-icon-button
    color="primary"
    (click)="onPrintscreenBirthdays()">
    <mat-icon>stay_current_portrait</mat-icon>
  </button>

  <button class="add-button-large fourth"
    mat-icon-button
    color="primary"
    (click)="onPrintscreenSaint()">
    <mat-icon>church</mat-icon>
  </button>

  <button class="add-button-large fifth"
    mat-icon-button
    color="primary"
    (click)="onPrintscreenEvent()">
    <mat-icon>event</mat-icon>
  </button>
  }

  <div class="calendar-wrapper">

    <!-- Navigator -->
    <div class="calendar">
      @if (dateControl) {
      <div class="calendar-item">
        <span class="change-date selection">
          <mat-icon class="arrow left"
            (click)="onBackArrow($event)">keyboard_double_arrow_left</mat-icon>
          <span class="date-title gagalin"
            (click)="showDateOverlay()">
            @if(showCalendarYears) {
            {{yearControl | translit}}
            } @else {
            {{dateControl | translit}}
            }
          </span>
          <mat-icon class="arrow right"
            (click)="onForwardArrow($event)">keyboard_double_arrow_right</mat-icon>
        </span>
      </div>
      }

      @if (dateOverlayDisplayed) {
      <div class="overlay-form"
        (click)="onOverlayCancel()">
        <div class="overlay-content"
          (click)="$event.stopPropagation()">
          <div class="overlay-header">
            <h6>{{'Изабери период' | translit}}</h6>
            <div class="overlay-switch">
              <button mat-stroked-button
                [class.active]="!showCalendarYears"
                (click)="showCalendarYears = false">
                {{'Датум' | translit}}
              </button>
              <button mat-stroked-button
                [class.active]="showCalendarYears"
                (click)="showCalendarYears = true">
                {{'Година' | translit}}
              </button>
            </div>
          </div>
          <div class="pickers">
            @if(showCalendarYears) {
            <!-- Year -->
            <mat-form-field appearance="outline"
              class="year">
              <mat-label>{{'Година' | translit}}</mat-label>
              <input matInput
                numbersOnly
                [placeholder]="'Пример: 1987' | translit"
                [(ngModel)]="selectedYearControl" />
              @if (minYearError) {
              <mat-hint>Минимум: 600</mat-hint>
              }
              @if (maxYearError) {
              <mat-hint>Максимум: {{currentYear}}</mat-hint>
              }
            </mat-form-field>
            } @else {
            <!-- Month -->
            <mat-form-field appearance="outline"
              class="month">
              <mat-label>{{'Месец' | translit}}</mat-label>
              <mat-select [ngModel]="monthControl"
                (ngModelChange)="onMonthChange($event)">
                @for (m of monthOptions; track m) {
                <mat-option [value]="m.value">
                  {{m.label | translit}}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <!-- Day -->
            <mat-form-field appearance="outline"
              class="day">
              <mat-label>{{'Дан' | translit}}</mat-label>
              <mat-select [(ngModel)]="dayControl">
                @for (day of dayOptions; track day) {
                <mat-option [value]="day">
                  {{day}}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            }
          </div>
          <div class="action-buttons">
            <button mat-button
              (click)="onClose()">
              {{'Одустани' | translit}}
            </button>
            <button mat-flat-button
              color="primary"
              [disabled]="searchDisabled"
              (click)="onSearch()">
              {{'Претражи' | translit}}
            </button>
          </div>
        </div>
      </div>
      }

    </div>

    <div class="flex-screen">
      <!-- Cards -->
      <div class="table-wrapper">
        <div class="card-buttons">
          <button mat-flat-button
            (click)="setSegment(Segment.rodjeni)"
            [class.inactive]="activeStep !== 1">
            {{'Рођени' | translit}}
          </button>
          <button mat-flat-button
            (click)="setSegment(Segment.umrli)"
            [class.inactive]="activeStep !== 2">
            {{'Умрли' | translit}}
          </button>
          <button mat-flat-button
            *ngIf="!isYearOn"
            [class.inactive]="activeStep !== 3"
            (click)="setSegment(Segment.dogadjaji)">
            {{'Догађаји' | translit}}
          </button>
        </div>

        <!-- Daily Events -->
        <div class="daily-extra-wrapper">
          @if(activeStep === 3) {
          <div>
            @for (item of allDailyCards; track item) {
            <span>
              @if (item.kind === 'event') {
              <app-daily-event-card [item]="item" />
              }
              @if (item.kind === 'holiday') {
              <app-saint-card [item]="item" />
              }
            </span>
            }
          </div>
          } @else {
          @for (card of persons; track card) {
          <app-person-card [card]="card" />
          }
          }
        </div>

      </div>
    </div>

  </div>