.calendar-wrapper {
  user-select: none;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  user-select: none;
}

.calendar-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;

  .change-date {
    margin: 0;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--color-1);

    &:hover {
      text-decoration: underline;
    }

    .date-title {
      font-size: 2.5rem;
      text-transform: uppercase;
      color: var(--color-1);
      font-weight: 500;

      &:hover {
        color: var(--color-3);
      }
    }
  }

  span {
    cursor: pointer;

    &:hover {
      color: var(--color-4);
    }
  }

  .arrow {
    position: relative;
    $icon-size: 2rem;
    font-size: $icon-size;
    width: $icon-size;
    height: $icon-size;
    color: var(--color-1);
    font-weight: 600;
    margin: 0;
    top: 0.2rem;
    cursor: pointer;

    &.left {
      margin-right: 1.5rem;
    }

    &.right {
      margin-left: 1.5rem;
    }

    &:hover {
      color: var(--color-3);
    }
  }

}

strong {
  font-weight: 500;
  color: var(--color-3)
}

.overlay-form {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(104, 104, 104, 0.659);
  width: 100vw;
  height: 100dvh;
  z-index: 9999;
}

.overlay-form button {
  margin: 0 1rem;
}

.overlay-content {
  position: absolute;
  padding: 2rem;
  background: var(--background);
  width: min(100vw, 40rem);
  border-radius: 0.5rem;

  mat-form-field {
    margin: 1rem;

    &.day {
      width: 10rem;
    }

    &.month {
      width: 28rem;
    }
  }
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

mat-form-field {
  margin: 2rem;
  background-color: var(--background);
}

mat-hint {
  color: var(--color-2);
  position: relative;
  right: 0.5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

img.sad-face {
  display: inline;
  height: 4rem;
  margin-top: 2rem;
}

.pickers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

mat-form-field {
  display: inline-block;
  max-width: 40%;
}

.historic-event-title {
  margin-top: 4rem;
  text-align: left;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

.daily-extra-wrapper {
  span {
    vertical-align: top;
  }

  @media (orientation: portrait) {
    flex-direction: column;
    align-items: center;
  }

  span {
    text-align: center;
    display: inline-block;
  }
}

h1 {
  text-align: left;
  margin-bottom: 2rem;

  @media (max-width: 428px) {
    font-size: 1.8rem;
  }
}

.flex-screen {
  display: flex;
  flex-direction: column;

  .daily-extra-wrapper {
    order: 1;

    @media (max-width: 900px) {
      order: 3;
    }
  }

  .table-wrapper {
    order: 2;
  }
}

.overlay-header {
  margin-bottom: 2rem;
  text-align: center;
}

.overlay-header h6 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.overlay-switch {
  display: flex;
  justify-content: center;
}

mat-hint {
  white-space: nowrap;
}

button.inactive {
  background-color: var(--inactive-background);
}

div.card-buttons {
  margin-block: 2rem;
  white-space: nowrap;

  @media (orientation: portrait) {
    margin-top: 2rem;
  }

  button {
    margin-right: 1rem;
  }
}