@if (personList.length) {
<div class="game-2">
  <div class="game-quiz-subtitle">{{'Друга игра' | translit}}</div>
  <div class="game-quiz-title">{{'ЧИК ПОГОДИ КО САМ?' | translit}}</div>
  <div class="game-quiz-mission">{{'Превлачењем блокова упари имена са сликама' | translit}}</div>
  <div class="game-two-content">
    <div class="game-two-images">
      @for (item of imageList; track item) {
      <div class="game-two-image-box">
        <img loading="lazy"
          [src]="item.imagePath"
          appDefaultLogo
          [alt]="'Погоди личност...' | translit" />
      </div>
      }
    </div>
    <div class="game-two-list drag-drop"
      cdkDropList
      [cdkDropListDisabled]="!!gamePoints"
      [cdkDropListData]="personList"
      (cdkDropListDropped)="onDropGame2($event)">
      @for (item of personList; track item; let i = $index) {
      <div>
        <div class="game-item"
          cdkDrag
          [class.correct-answer]="item.correctOrder === true"
          [class.wrong-answer]="item.correctOrder === false">
          <h6>{{ item.commonName | translit}}</h6>
          <p class="item-title">{{ item.fullTitle | translit}}</p>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="game-footer-block">
    @if (!gamePoints) {
    <button class="game-footer-button"
      (click)="checkGameTwo()"
      mat-flat-button>{{'Провери' | translit}}</button>
    }
    @if (!!gamePoints) {
    <div class="game-score">
      @if (gamePoints === 20) {
      {{'Браво! Освојено максималних' | translit}} <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
      }
      @if (gamePoints > 10 && gamePoints < 20)
        {
        <span>
        {{'Врло добро! Освојено' | translit}}</span>
        <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
        }
        @if (gamePoints > 1 && gamePoints <= 10)
          {
          <span> {{'Није лоше! Освојено' | translit}}</span>
          <br>
          <b>{{gamePoints}}</b> {{'поена' | translit}}
          }
          @if (gamePoints === 1) {
          {{'Све погрешно! Ипак, изволи' | translit}}<br> <b>{{gamePoints}}</b> {{'мотивациони поен' | translit}}
          }
          {{'у другој игри!' | translit}}
    </div>

    <button class="game-footer-button success"
      (click)="onNext()"
      mat-flat-button>{{'Иди даље' | translit}}
    </button>
    }
  </div>
</div>
}