.game-two-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.game-two-image-box {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 7rem;
  margin: 1rem 1rem 1rem 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.game-two-list {
  padding: 0;
  background: transparent;
}

.game-item {
  background: var(--background);
}

.item-text,
.game-item {
  border: 0.1rem solid var(--text-2);
  border-radius: 0.5rem;
  height: 7rem;
  width: 24rem;
  margin: 1rem 1rem;
  padding: 0 1rem;

  h6 {
    color: var(--color-1);
    font-size: 1.6rem;
  }

  p {
    margin-top: 0.3rem;
    color: var(--text-1);
    font-size: 1.4rem;
  }
}