@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    label="Назив битке" />
  <app-form-text control="slug"
    label="Слуг битке"
    [slug]="true" />
  <app-form-text control="leader"
    label="Наш лидер" />
  <app-form-text control="leaderSlug"
    label="Слуг лидера" />
  <app-form-text control="yearMonth"
    label="година.месец" />
  <app-form-text control="place"
    label="Локација"
    [wider]="true" />
  <app-form-text control="dates"
    label="Датум од - до" />
  <app-form-text control="ourSide"
    label="Наша страна - назив" />
  <app-form-text control="ourSideEstimation"
    label="Наша страна - процена" />
  <app-form-text control="battleOutcome"
    label="Исход"
    [wider]="true" />
  <app-form-text control="enemySide"
    label="Противник - назив" />
  <app-form-text control="enemyLeader"
    label="Противник - лидер" />
  <app-form-text control="enemyEstimation"
    label="Противник - процена" />
  <app-form-url control="wikipedia"
    [label]="Glossary.wiki" />
  <app-form-url control="youtube"
    [label]="Glossary.youtube" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}