.sheet-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

div.top-block {
  margin: 2rem 1rem 1rem 0;
  text-align: left;
  position: relative;

  h6 {
    display: block;
    text-align: left;
    max-width: calc(100vw - 4rem);
    color: var(--color-1);
    text-transform: uppercase;
    font-size: 1.8rem;
    white-space: normal;
    max-width: calc(100% - 2rem);
  }

  .card-subtitle {
    white-space: normal;
    max-width: calc(100% - 2rem);
  }

  &.red {
    color: var(--color-2);
  }
}

.sheet-content {
  overflow-y: auto;
  user-select: none;
}

mat-icon.close-x {
  position: absolute;
  top: -1rem;
  right: 0rem;
  cursor: pointer;

  &:hover {
    color: var(--text-2);
  }
}

img.sheet-image {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  max-height: 30vh;
  max-width: 90%;
  border: 0.2rem solid var(--divider-color);
}

p {
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

h4 {
  margin: 1rem 0 0.5rem 0;
  color: var(--color-3);
  text-align: left;
}

div.text-wrapper {
  position: relative;
  white-space: pre-wrap;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  margin-bottom: 1rem;

  &.founder {
    margin: 1rem 0;
    white-space: nowrap;
    font-size: 1.4rem;

    span {
      display: inline-block;
      margin-left: 0.5rem;
      font-size: 1.4rem;
      color: var(--color-3);
    }
  }

  span {
    text-align: left;
    line-height: 2rem;
  }
}

::ng-deep app-basic-sheet .sheet-inner-html {
  p {
    padding: 0.2rem 0;
    font-size: 1.4rem;
    text-align: left;

    span {
      display: inline;
      text-align: left;
    }
  }

  strong {
    color: var(--color-1);
    font-weight: 400;
    font-size: 1.4rem;
  }

  em {
    color: var(--color-2);
    font-style: normal;
    font-size: 1.4rem;
  }
}

.item-subtitle {
  cursor: pointer;
  color: var(--text-1);
}

.item-title {
  color: var(--color-1);
  font-weight: 500;
}

.navigate-buttons {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;

  button {
    margin-right: 1rem;

    &.previous-button {
      border: 1px solid var(--color-1);
      color: var(--color-1);
    }

    &.next-button {
      border: 1px solid var(--color-3);
      color: var(--color-3);
    }
  }
}

a.item-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--color-5);
  text-decoration: none;

  &:hover {
    color: var(--color-3);
  }
}

.pre-text {
  padding: 1rem;
  line-height: 120%;
  white-space: break-spaces;
  height: 100%;
  overflow-y: auto;
}

.mini-table {
  display: flex;
  flex-direction: column;
}

.mini-table-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--divider-color);
}

.mini-table-cell {
  width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}