.game-item {
  text-align: center;
  margin: 2rem 2rem 0 2rem;
  padding-top: 2rem;
  border-top: 0.2rem dashed var(--divider-color);
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  width: 30rem;
  margin: 1rem auto;
}