@if (saintList.length) {
<div>
  <div class="game-quiz-subtitle">{{'Четврта игра' | translit}}</div>
  <div class="game-quiz-title">{{'Срећна слава, домаћине!' | translit}}</div>
  <div class="game-quiz-mission">
    {{'Погоди месец у коме се одређена слава прославља.' | translit}}
  </div>
  <div class="game-block">
    @for (item of saintList; track item; let i = $index) {
    <div class="game-item"
      [class.correct-answer]="item.correctOrder === true"
      [class.wrong-answer]="item.correctOrder === false">
      <div class="game-item-name">{{item.name | translit}}</div>
      <mat-form-field appearance="outline">
        <mat-label>{{'Месец' | translit}}</mat-label>
        <mat-select [(ngModel)]="controls[i]"
          [disabled]="!!gamePoints">
          @for (month of monthList; track month) {
          <mat-option [value]="month.id">
            {{ month.name | translit}}
          </mat-option>
          }
        </mat-select>
        @if (!!gamePoints && !item.correctOrder) {
        <mat-hint>
          {{'Тачан одговор' | translit}}: {{correctOrderNames[i] | translit}}
        </mat-hint>
        }
      </mat-form-field>
    </div>
    }
  </div>
  <div class="game-footer-block">
    @if (!gamePoints) {
    <button class="game-footer-button"
      (click)="checkGameFour()"
      mat-flat-button>{{'Провери' | translit}}</button>
    }
    @if (!!gamePoints) {
    <div class="game-score">
      @if (gamePoints === 20) {
      {{'Браво! Освојено максималних' | translit}} <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
      }
      @if (gamePoints > 10 && gamePoints < 20)
        {
        {{'Врло
        добро!
        Освојено'
        |
        translit}}
        <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
        }
        @if (gamePoints > 1 && gamePoints <= 10)
          {
          {{'Није
          лоше!
          Освојено'
          |
          translit}}
          <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
          }
          @if (gamePoints === 1) {
          {{'Све погрешно! Ипак, изволи' | translit}}<br> <b>{{gamePoints}}</b> {{'мотивациони поен' | translit}}
          }
          {{'у четвртој игри!' | translit}}
    </div>
    <button class="game-footer-button success"
      (click)="onNext()"
      mat-flat-button>
      {{'Иди даље' | translit}}
    </button>
    }
  </div>
</div>
}