<div class="page-wrapper">

  <h1 class="page-title">
    <span>{{'Контакт и честа питања' | translit}}</span>
  </h1>

  <!-- Contact Form -->
  <div class="single-item form"
    id="form">
    <h4>{{Glossary.contactForm | translit}} </h4>
    @if (form) {
    <form [formGroup]="form">
      <app-form-text control="name"
        [ignoreErrorHint]="true"
        [label]="Glossary.firstName | translit" />
      <app-form-text control="email"
        [ignoreErrorHint]="true"
        [label]="Glossary.email | translit" />
      <app-form-select control="type"
        [label]="Glossary.messageType | translit"
        [ignoreErrorHint]="true"
        [items]="contactTypes"
        [wider]="true" />
      <app-form-textarea control="text"
        [label]="Glossary.messageText | translit"
        [ignoreErrorHint]="true"
        [fit]="true" />
      <div class="button-div">
        <button mat-flat-button
          (click)="onSend()">
          {{Glossary.send | translit}}
        </button>
      </div>
    </form>
    }
  </div>


  <div class="contact-wrapper">
    <!-- About gallery -->
    <div class="single-item">
      <h4>{{Glossary.aboutGalleryTitle | translit}}</h4>
      <p>{{Glossary.aboutGalleryText | translit}}</p>
    </div>

    <!-- About us -->
    <div class="single-item">
      <h4>{{Glossary.aboutUsTitle | translit}}</h4>
      <p>{{Glossary.aboutUsText | translit}}</p>

      <div class="faq-link"
        (click)="onAnchor('faqAnchor')">
        {{'Погледајте често постављена питања и одговоре.' | translit}}
      </div>
      <!-- MAIN LOGO -->
      <div class="logo-container">
        @if (themeService.isLightMode() && themeService.isCyrillicMode()) {
        <img loading="lazy"
          src="assets/images/gallery-logo-text-outline.png"
          alt="Logo Galerija" />
        }

        @if (themeService.isDarkMode() && themeService.isCyrillicMode()) {
        <img loading="lazy"
          src="assets/images/gallery-logo-text-outline.png"
          alt="Logo Galerija" />
        }

        @if (themeService.isLightMode() && themeService.isLatinMode()) {
        <img loading="lazy"
          src="assets/images/gallery-logo-text-latin.png"
          alt="Logo Galerija" />
        }

        @if (themeService.isDarkMode() && themeService.isLatinMode()) {
        <img loading="lazy"
          src="assets/images/gallery-logo-text-latin.png"
          alt="Logo Galerija" />
        }
      </div>
    </div>
  </div>
  <div id="faqAnchor">
    <h6>{{'Често постављана питања' | translit}}</h6>
    @for (faqItem of faqList; track faqItem; let i = $index) {
    <div class="faq-item">
      <div class="question">{{i + 1}}. {{faqItem.q | translit}}</div>
      <div class="answer">- {{faqItem.a | translit}}</div>
    </div>
    }
  </div>
</div>