.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100rem;
  margin: 4rem 1rem 0;
}

h4 {
  margin: 1rem auto 2rem;
}

.single-item {
  display: inline-block;
  text-align: left;
  width: min(40rem, calc(100vw - 4rem));
  min-height: 40rem;
  max-width: calc(100% - 2rem);
  border: 0.2rem solid var(--divider-color);
  border-radius: 0.8rem;
  padding: 1rem 2rem;

  p {
    text-align: justify;
  }

  &.form {
    display: block;
    width: min(120rem, calc(100vw - 4rem));
    margin: 2rem 1rem;
  }

  app-form-textarea {
    display: block;
  }
}

.contact-box h4 {
  color: var(--color-1);
}

.contact-box p {
  margin: 1rem;
}

div.button-div {
  text-align: right;
}

button[mat-flat-button] {
  margin-bottom: 2rem;
  margin-right: 2rem;
  background: var(--color-1);
  color: var(--text-light);
}

.faq-link {
  cursor: pointer;
  color: var(--color-1);
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#faqAnchor {
  width: min(120rem, calc(100vw - 4rem));
  max-width: calc(100% - 2rem);
  margin: 4rem 1rem;
  text-align: left;
  border: 0.2rem solid var(--divider-color);
  border-radius: 0.8rem;
  padding: 1rem 2rem 3rem;
}

#faqAnchor h6 {
  color: var(--color-1);
  margin: 2rem 1rem;
}

.faq-item {
  text-align: justify;
  width: min(110rem, 100%);
  padding: 1rem 0;
  margin: 0 1rem;
}

.faq-item .question {
  color: var(--color-1);
  font-weight: 500;
  font-size: 1.4rem;
}

.faq-item .answer {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.logo-container {
  img {
    max-height: 6.8rem;
    max-width: 100%;
    object-fit: contain;
  }
}