@if (person) {
<h5 class="common-name-title"
  (click)="goToBio(person.slug)">
  <span>{{person.commonName | translit}}</span>
  <mat-icon class="open-page-icon"
    (click)="goToBio(person.slug)">
    open_in_new
  </mat-icon>
  <mat-icon class="close-x"
    (click)="onClose($event, true, false)">
    close
  </mat-icon>
</h5>
<div class="top-block">
  <img class="sheet-image"
    (click)="goToBio(person.slug)"
    [src]="person.imagePath"
    [alt]="person.commonName | translit">
  <div class="header-text">
    <p (click)="goToBio(person.slug)">{{'Право име' | translit}}:
      <span>{{person.fullName | translit}}</span>
    </p>
    <p (click)="goToCategoryPage()">{{'Категорија' | translit}}:
      <span>{{person.category | idToName : categories | translit}}</span>
    </p>
    <p (click)="goToCategoryPage()">{{'Епоха' | translit}}:
      <span>{{person.epoch | idToName : epochs | translit}}</span>
    </p>
    <p (click)="goToBio(person.slug)">{{'Кратак опис' | translit}}:
      <span>{{person.fullTitle | translit}}</span>
    </p>
    @if (person.city) {
    <p>
      {{'Место' | translit}}:
      <span>{{person.city | translit}}</span>
    </p>
    }
    <p>
      {{'Датум' | translit}}:
      <span>{{person.birthDeath | birthMonthDate | lowercase | translit}}.</span>
    </p>
  </div>
</div>
<div class="text-wrapper inner-html-wrapper"
  (click)="goToBio(person.slug)">
  <span [innerHtml]="person.shortDescription | translit"></span>
</div>
@if (person.tags?.length) {
<div class="tags">
  <div>{{'Тагови' | translit}}: </div>
  @for (tag of personTags; track tag) {
  <app-tag-item [tag]="tag"
    [emitUrl]="true"
    (urlEmitter)="onTagUrl($event)" />
  }
</div>
}
<div class="similar">
  <div>{{'Акције' | translit}}: </div>
  <p class="profile-icon"
    (click)="goToBio(person.slug)">
    <mat-icon>person_search</mat-icon>
    {{'Отвори профил' | translit}}
  </p>
  @if (this.favouritedByUser === false) {
  <p class="star-icon"
    (click)="onEmptyStar()">
    <mat-icon>star_border</mat-icon>
    {{'Додај у фаворите' | translit}}
  </p>
  }
  @if (this.favouritedByUser === true) {
  <p class="star-icon"
    (click)="onFullStar()">
    <mat-icon>star</mat-icon>
    {{'Избаци из фаворита' | translit}}
  </p>
  }
  @if (this.favouritedByUser === null) {
  <p class="star-icon"
    (click)="onNullStar()"
    title="Да бисте додали ову личност у фаворите, морате бити улоговани.">
    <mat-icon>star_border</mat-icon>
    {{'Додај у фаворите' | translit}}
  </p>
  }
  @if (authService.loginAdmin$ | async) {
  <p class="edit-icon"
    (click)="onEdit()">
    <mat-icon>construction</mat-icon>
    {{'Ажурирај' | translit}}
  </p>
  }
  <br>
  <p class="category-icon"
    (click)="onCategory()">
    <mat-icon>diversity_3</mat-icon>
    {{person.category | idToName: categories | translit}}
  </p>
  @if (person.birthDay) {
  <p class="calendar-icon"
    (click)="onBirth()">
    <mat-icon>date_range</mat-icon>
    {{'Календар' | translit}}
  </p>
  }
</div>
}