div.top-block {
  display: flex;
  flex-direction: revert;
  align-items: flex-start;
  margin: 4rem 0 1rem 0;
  cursor: pointer;
  position: relative;
}

img.sheet-image {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 0.85 * 21rem;
  width: 0.85 * 15rem;
  object-position: center top;
  object-fit: cover;
  border: 0.2rem solid var(--divider-color);
  background-color: var(--background);
  z-index: 9;
}

div.header-text {
  position: relative;

  p {
    margin-top: 0.4rem;

    span {
      color: var(--color-1);
      display: block;
    }
  }
}

h5.common-name-title {
  display: block;
  background: var(--color-1);
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  width: 100%;

  span {
    color: var(--background);
    width: calc(100% - 8rem);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    line-height: 2.4rem;
    white-space: nowrap;
  }
}

h6 {
  display: block;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

p {
  color: var(--text-1);
  margin: 0.2rem 0;
  font-size: 1.5rem;
}

div.text-wrapper {
  position: relative;
  width: 100%;
  white-space: pre-wrap;
  text-align: left;
  padding: 0;
  margin: 0;
  overflow: auto;
  max-height: calc(100dvh - 48rem);
  margin-bottom: 1rem;

  span {
    text-align: left;
  }

  &.birth-data {
    padding-bottom: 1rem;
    border-bottom: 0.1rem dashed var(--divider-color);

    span {
      color: var(--color-1);
    }
  }
}

::ng-deep div.text-wrapper.inner-html-wrapper {
  border-top: 0.1rem dashed var(--divider-color);
  border-bottom: 0.1rem dashed var(--divider-color);
  padding-block: 1rem;
  font-size: 1.5rem;

  p {
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.7rem;

    span {
      display: inline;
    }
  }

  strong {
    color: var(--color-1);
    font-weight: 400;
    font-size: 1.4rem;
  }

  em {
    color: var(--color-2);
    font-style: normal;
    font-size: 1.4rem;
  }
}

mat-icon.open-page-icon {
  position: absolute;
  color: var(--background);
  top: 1rem;
  right: 5rem;
  cursor: pointer;

  &:hover {
    color: var(--text-2);
  }
}

mat-icon.close-x {
  position: absolute;
  color: var(--background);
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;

  &:hover {
    color: var(--text-2);
  }
}

div.tags {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 0.1rem dashed var(--divider-color);
}

div.similar {
  margin: 0 0 1rem 0;

  p {
    cursor: pointer;
    font-size: 1.3rem;
    align-items: center;
    margin-right: 2rem;
    font-weight: 500;
    display: inline-flex;
  }

  mat-icon {
    transform: scale(0.85);
    margin-right: 0.2rem;
  }
}

.profile-icon {
  color: var(--color-3);
}

.star-icon {
  color: var(--color-4);
}

.calendar-icon {
  color: var(--color-5);
}

.category-icon {
  color: var(--color-6);
}

.edit-icon {
  color: var(--color-2);
}