<div class="page-wrapper">
  <h1 class="page-title">
    <span>{{'Поезија'| translit}}</span>
  </h1>
  @if (songGroups.length) {
  <div class="song-author-list">
    @for (songs of songGroups; track songs; let i = $index) {
    @let elementId = 'song-author-' + i;
    <span class="song-author-name"
      (click)="scrollTo(elementId)">
      {{songs[0].authorName | translit}}
    </span>
    }
  </div>

  @for (songs of songGroups; track songs; let i = $index) {
  <div class="song-group"
    [id]="'song-author-' + i">
    <span class="song-author gagalin"
      (click)="onAuthor(songs[0].authorSlug)">
      {{songs[0].authorName | translit}}
    </span>
    @for (song of songs; track song.id) {
    <div class="song-title">
      <mat-icon (click)="onEdit(song.id, $event)">menu_book</mat-icon>
      <span class=""
        (click)="onSongTitle(song)">{{song.title | trimText | translit}}
        @if(song.important) {
        <mat-icon class="star">star</mat-icon>
        }
      </span>
    </div>
    }
  </div>
  }
  }

  <button class="add-button-large"
    mat-icon-button
    (click)="onFilterButton()">
    <mat-icon>filter_alt</mat-icon>
  </button>

  <button class="add-button-large second"
    mat-icon-button
    (click)="onNewSong()">
    <mat-icon>post_add</mat-icon>
  </button>

</div>