@if (item) {
<div class="single-item card"
  [ngClass]="{'with-breadcrumbs' : breadcrumbs}">

  <h6 class="card-title"
    (contextmenu)="onContextMenu()">{{ item.name | translit}} </h6>
  <div class="card-subtitle">{{ item.place | translit }}</div>


  <div class="item-image-div">
    <img class="item-image"
      loading="lazy"
      [src]="item.imagePath"
      appDefaultLogo
      [alt]="item.name | translit">
  </div>
  @if (breadcrumbs) {
  <div class="item-breadcrumbs">
    <span (click)="onHeritage($event)">{{'Наслеђе' | translit}}</span>
    <mat-icon>chevron_right</mat-icon>
    <mat-icon class="item-icon"
      (click)="onTypeIcon($event)">
      {{item.type | typeToIcon}}
    </mat-icon>
    <mat-icon>chevron_right</mat-icon>
    <span (click)="onTypeTitle($event)">
      {{item.type | typeToTitle | translit}}
    </span>
  </div>
  }
</div>
}