$width: min(calc(100vw - 4rem), 40rem);

.single-item {
  position: relative;
  display: inline-block;
  text-align: left;
  width: $width;
  height: calc($width * (315/500) + 5.6rem);
}

div.item-image-div {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: calc($width * (315/500) - 1.5rem);
}

img.item-image {
  height: 100%;
  width: 100%;
  margin-top: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.edit-button {
  position: absolute;
  z-index: 999;
  right: 1rem;
  top: 2.7rem;
  color: var(--color-2);
  cursor: pointer;
  transform: scale(0.8);
}

div.item-breadcrumbs {
  margin: 0.7rem 0;
  display: flex;
  align-items: flex-start;
  white-space: nowrap;

  span {
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: var(--color-1);
    }
  }

  mat-icon {
    $iconSize: 1.2rem;
    font-size: $iconSize;
    height: $iconSize;
    width: $iconSize;
    margin-inline: 0.6rem;

    &.item-icon {
      margin-inline: 0rem;
      cursor: pointer;

      &:hover {
        color: var(--color-1);
      }
    }
  }
}