.bottom-toolbar {
  background: var(--background);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: top 0.5s ease 0s;
  display: none;
  height: 0;
  transition: bottom 0.5s ease 0s;
  border-top: 1px solid var(--divider-color);
  padding: 0;
  margin: 0;

  @media (orientation: portrait) and (max-width: 1000px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5.6rem;
  }
}

button.bottom-button {
  border: 0;
  background: transparent;
  margin-right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: var(--text-1);

  mat-icon {
    margin: 0 1rem;
    font-weight: 600;
    font-size: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    color: var(--text-2);
  }
}

button.bottom-button mat-icon.middle-icon {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  color: var(--color-1);
}