@if (tile) {
<div class="tile"
  [class.always-small]="alwaysSmall"
  (click)="onBiography(tile.slug)">
  <img class="tile-image image-shadow-filter"
    loading="lazy"
    [src]="tile.imagePath"
    [alt]="tile.commonName"
    appDefaultLogo />
  <div class="tile-name">{{tile.commonName}}</div>
</div>
}