.tile {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 0.2rem solid var(--divider-color);
  border-radius: 1rem;
  margin: 0.2rem 0.4rem;
  padding: 0;
  background: var(--background-3);
  width: 15rem;
  height: 21rem;
}

div.tile.always-small {
  width: 10rem;
  height: 19rem;
  border-width: 0.1rem;
  border-radius: 0.5rem;

  &:hover .tile-name {
    color: var(--color-1);
  }

  img.tile-image {
    width: 10rem;
    height: 14rem;

    &:hover {
      transform: scale(1);
    }
  }

  .tile-name {
    font-size: 1rem;
    height: 4.9rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.tile-image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: transform 0.7s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.tile-name {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--semi-transparent);
  color: var(--text-1);
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0.3rem;
  cursor: pointer;
  white-space: pre-wrap;
}