.footer-wrapper {
  border-top: 0.4rem solid var(--color-1);
  color: var(--text-1);
  min-height: 10rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  background: var(--background);
}

.footer-wrapper.compact {
  min-height: 4.5rem;
}