.sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min(calc(100vw - 4rem), 100rem);
}

h4.type-subheader {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 1rem;
}

.instagram-post {
  margin: 1rem;
  padding: 0.5rem 2rem;
  display: inline-block;
  border: 0.1rem solid var(--divider-color);
  border-radius: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;

  span {
    color: var(--color-1);
  }

  &:hover {
    border-color: var(--color-1);
    color: var(--color-1);
    transform: scale(1.05);
  }
}