<div class="page-wrapper">
  <h1 class="page-title">
    <span>{{'Инстаграм објаве'| translit}}</span>
  </h1>

  <div class="sections">
    @for (group of postGroups; track group[0].id; let idx = $index) {
    <app-collapser [minimized]="group[0].minimized"
      [attr.id]="'section' + (idx + 1)">
      <h6 class="header-content">{{group[0].typeName | translit}}</h6>
      <ng-container *ngTemplateOutlet="instagramTemplate; context: {group}" />
    </app-collapser>
    }
  </div>
</div>

<ng-template #instagramTemplate
  let-group="group">
  @for (post of group; track post.id; let i = $index) {

  <div class="instagram-post"
    (contextmenu)="onContextMenu($event, post.id)"
    (click)="onPost(post)">
    {{post.title | translit}} <span> - {{post.likes}}</span>

    <!-- OPEN IN SHEET <iframe [srcdoc]="post.safeUrl"
        frameborder="0"
        scrolling="no"></iframe> -->
  </div>
  }
</ng-template>