.stats {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--shadow);
  width: 30rem;
  margin: 0;

  div.counter {
    cursor: pointer;
    user-select: none;
    padding: 0;
    height: 7rem;
    width: 14rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
      transform: scale(1.05);
    }

    span {
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.3rem;
    }
  }

  b.auto-counter {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-1);
  }

}

.stats.stick-to-side {
  position: relative;
  border: 0.2rem solid var(--canva-blue);
  padding-right: 1rem;
}

.stats.borderless {
  border: none;
}