@if (form) {
<ng-container [formGroup]="form">
  <mat-form-field appearance="outline"
    [ngClass]="{ wider: wider}">
    <mat-label>{{ label }} </mat-label>
    <input matInput
      (paste)="onPaste($event)"
      [class.danger]="form.controls[control].errors"
      [formControlName]="control" />
    @if (slug) {
    <mat-icon matSuffix
      (click)="onConvert()">settings_suggest</mat-icon>
    }
    @if (spaceCheck) {
    <mat-icon matSuffix
      (click)="onSpaceCheck()">keyboard_backspace</mat-icon>
    }
    @if (showHint && textHint && !ignoreErrorHint) {
    <mat-hint class="danger">
      <span class="text-hint"
        (click)="onRepeatItem(textHint)">
        {{textHint}}
      </span>
    </mat-hint>
    }
    @if (doubleSpaceError) {
    <mat-hint class="danger">ДУПЛИ РАЗМАК...</mat-hint>
    }
    @if (!doubleSpaceError && !ignoreErrorHint && form.controls[control].errors) {
    <mat-hint class="danger">УПОЗОРЕЊЕ</mat-hint>
    }
  </mat-form-field>
</ng-container>
}