.wider {
  width: calc(100vw - 6rem);
}

mat-form-field {
  width: 50rem;
  max-width: calc(100% - 4rem);
}

input {
  color: var(--text-1);
}

.danger {
  color: red !important;
}

.text-hint {
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  color: var(--color-3);

  &:hover {
    color: var(--color-5);
  }
}