#sidebar-wrapper {
  position: relative;
  height: 100dvh;
  overflow: hidden;
}

.sidebar-content {
  position: fixed;
  left: 0;
  width: 15rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  cursor: pointer;
  width: 12rem;
  height: 7rem;
  object-fit: contain;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid var(--divider-color);
  padding: 1.55rem 2rem;
}

button.sidebar-button {
  border: 0;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  text-align: left;
  margin: 0.7rem 1rem;
  width: calc(100% - 2rem);
  gap: 0.5rem;

  &:hover {
    transform: scale(1.05);
  }

  mat-icon {
    color: var(--text-1);
    margin: 0.2rem;
    transform: scale(0.9);
  }

  span {
    color: var(--text-1);
    margin: 0.2rem;
    font-size: 1.3rem;
    font-weight: 500;
  }


  @media (max-height: 750px) {

    span {
      font-size: 1.2rem;
    }
  }

  @media (max-height: 680px) {

    span {
      font-size: 1.1rem;
    }
  }

  @media (max-height: 550px) {

    span {
      font-size: 1rem;
    }
  }
}

.item-icon.even {
  color: var(--color-1) !important;
}


.item-icon:not(.even) {
  color: var(--color-2) !important;
}

.sidebar-button:hover {

  .item-text.even {
    color: var(--color-1);
  }

  .item-text:not(.even) {
    color: var(--color-2);
  }
}