@let isLogged = authService.login$ | async;

<div class="page-wrapper">
  <h1 class="page-title">
    <span>{{'Изабрани фаворити' | translit}}</span>
  </h1>

  @if (!isLogged) {
  <p>
    {{'Пријави се својим налогом како би могао да додајеш фаворите.' | translit}}
  </p>
  <!-- LOGIN -->
  <button mat-flat-button
    class="login"
    (click)="authService.googleLogin()">
    {{'Пријави се' | translit}}
  </button>
  }

  <!-- Favourites -->
  @let userProfile = authService.userProfile$ | async;

  @if (userProfile) {
  <div class="favourite-list">
    @if (cards.length) {
    @for (card of cards; track card) {
    <app-person-card [card]="card" />
    }
    }
    @if (!cards.length) {
    <div class="no-card-message">
      {{'Немате ниједног фаворита тренутно.' | translit}}
      <br>
      <br>
      {{'Да бисте додали фаворите, потребно је' | translit}}
      {{'да кликнете на звездицу поред имена одређене личности.' | translit}}
      <br>
      <br>
      {{'Максималан број означених фаворита по кориснику је' | translit}} <strong>20</strong>.
    </div>
    }
  </div>
  }

</div>