button {
  margin: 2rem;
}

button.login {
  background-color: var(--color-1);
  color: var(--text-light);
}

.favourite-list {
  text-align: center;
}

.no-card-message {
  margin: 2rem auto;
  line-height: 2.5rem;
  width: min(45rem, calc(100vw - 4rem));

  strong {
    color: var(--color-1);
  }
}