.card-form {
  margin: 2rem;
}

form {
  max-width: 100%;
  text-align: center;
}

button#save {
  margin: 2rem 0;
  width: 50rem;
  max-width: calc(100% - 4rem);
  height: 5rem;
}

.inline-flex {
  display: flex;
  flex-direction: row;

  app-form-textarea {
    flex-grow: 1;
  }
}

button#delete {
  margin: 1rem;
}

button#save {
  width: 20rem;
  margin: 0;
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 999;
  border-radius: 0;

  @media (max-width: 50rem) {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 5.5rem !important;
    left: 0;
    bottom: 0rem;
  }
}

.checkboxes {
  display: flex;
  justify-content: center;
  gap: 3rem;
}