@if (form && categories.length && allEpochs.length) {
<form [formGroup]="form">
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <br>
  <app-form-text control="firstName"
    [paster]="true"
    [label]="Glossary.firstName" />
  <app-form-text control="lastName"
    [label]="Glossary.lastName" />
  <app-form-text control="nickName"
    [label]="Glossary.nickName" />
  <app-form-text control="commonName"
    [label]="Glossary.titleName" />
  <app-form-text control="fullName"
    [label]="Glossary.fullName" />
  <app-form-text control="slug"
    [label]="Glossary.slug"
    [slug]="true" />
  <app-form-url control="wikiUrl"
    [label]="Glossary.wiki" />
  <app-form-select control="category"
    [label]="Glossary.category"
    [items]="categories" />
  <app-form-select control="epoch"
    [label]="Glossary.epoch"
    [items]="epochs" />
  <app-form-text control="birthDeath"
    [label]="Glossary.birthDeath" />
  <app-form-number control="birthDay"
    [label]="Glossary.birthDay" />
  <app-form-number control="birthMonth"
    [label]="Glossary.birthMonth" />
  <app-form-number control="birthYear"
    [label]="Glossary.birthYear" />
  <app-form-number control="age"
    [label]="Glossary.oldness" />
  <app-form-text control="city"
    [label]="Glossary.birthCity" />
  <app-form-text control="fullTitle"
    [label]="Glossary.fullTitle" />
  <app-form-multiselect control="tags"
    [label]="Glossary.tags"
    [items]="allTags" />
  <app-form-textarea control="shortDescription"
    [rows]="8"
    [label]="Glossary.shortDescription" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>

  <div class="checkboxes">
    <app-form-checkbox control="frontPage"
      [label]="Glossary.frontPage" />
    <app-form-checkbox control="topTen"
      [label]="Glossary.topTen" />
    <app-form-checkbox control="localHero"
      label="Локално важан" />
  </div>
  <br>
  <app-form-url control="instagramUrl"
    [label]="Glossary.instagram" />
  <app-form-url control="biographyUrl"
    [label]="Glossary.biography" />
  <app-form-url control="porekloUrl"
    [label]="Glossary.poreklo" />
  <br>
  <!-- QUILL -->
  <div class="quill-wrapper">
    <quill-editor formControlName="keyNotes"
      [styles]="{height: '20rem', width: '100%'}">
    </quill-editor>
  </div>
  <!-- INSTAGRAM POSTS -->
  <app-form-textarea control="instagramPosts"
    [rows]="3"
    label="Инстраграм објаве" />
</form>
}

@if(id) {
<div style="text-align: center;">
  <button id="delete"
    mat-flat-button
    (click)="onDelete()">
    Обриши
  </button>
</div>
}