.header-toolbar {
  background: var(--background);
  position: fixed;
  top: -6rem;
  left: 0;
  right: 0;
  z-index: 999;
  transition: top 0.5s ease 0s;
  border-bottom: 1px solid var(--divider-color);
}

.fixed-toolbar {
  top: 0;
}

button {
  border: 0;
  background: transparent;
  margin-left: 2rem;

  @media (orientation: portrait) {
    margin-left: 1rem;
  }
}

.header-item {
  cursor: pointer;
  margin-right: 0;
  border: 0;
}

.header-item img {
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
  object-position: center;
  margin-left: 1rem;
}

.header-profile-image {
  border-radius: 50%;
}

button[mat-button] {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;

  mat-icon {
    margin-left: 1rem;
    font-weight: 600;
  }

  img {
    margin: 0 1rem;
    font-weight: 600;
    height: 3rem;
  }

  span:not(.translit-icon) {
    margin-right: 2rem;
    font-weight: 600;

    @media (max-width: 60rem) {
      display: none;
    }
  }
}

mat-icon {
  color: var(--text-2);
}

.search-icon {
  color: var(--color-5);
}

.instagram-icon {
  margin-left: 3rem;
  height: 2.4rem;
  cursor: pointer;

  @media (orientation: portrait) {
    margin-left: 2rem;
  }
}

.star-icon {
  color: var(--color-4);
}

.theme-icon {
  color: var(--color-6);
}

button span.translit-icon {
  color: var(--color-3);
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.3rem 0.3rem;
  border: 0.2rem solid var(--color-3);
  border-radius: 0.5rem;
  min-width: 4.2rem;
}

.contact-icon {
  color: var(--color-1);
  transform: scale(1.1);
}

.settings-icon {
  color: var(--color-3);
}

.invert-color {
  filter: invert(1);
}