@import '../../../assets/scss/custom-defaults.scss';

.mini-box-item {
  @extend .scroll-item;
  display: inline-block;
  vertical-align: top;
  height: 25rem;
  width: 25rem;
  white-space: normal;
  text-align: center;
  padding: 1rem 1.5rem;

  .title {
    display: block;
    margin-block: 1rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.text {
  font-size: 1.6rem;
  line-height: 2rem;
  transition: transform 0.3s;
  -webkit-font-smoothing: antialiased;
}

.text-inner {
  color: var(--text-3);
  line-height: 1.8rem;
  transition: transform 0.3s;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  &.fade {
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 9;
    -webkit-line-clamp: 9;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    max-height: 17rem;

    &.bigtitle {
      max-height: 15rem;
    }
  }
}

.box-1 {
  background: linear-gradient(166deg, transparent 0%, transparent 80%, var(--color-1) 100%);


  .title {
    color: var(--color-1);
  }
}

.box-2 {
  background: linear-gradient(166deg, transparent 0%, transparent 80%, var(--color-2) 100%);

  .title {
    color: var(--color-2);
  }
}

.box-3 {
  background: linear-gradient(166deg, transparent 0%, transparent 80%, var(--color-3) 100%);

  .title {
    color: var(--color-3);
  }
}

.box-4 {
  background: linear-gradient(166deg, transparent 0%, transparent 80%, var(--color-4) 100%);

  .title {
    color: var(--color-4);
  }
}

.box-5 {
  background: linear-gradient(166deg, transparent 0%, transparent 80%, var(--color-5) 100%);

  .title {
    color: var(--color-5);
  }
}

.box-6 {
  background: linear-gradient(166deg, transparent 0%, transparent 80%, var(--color-6) 100%);

  .title {
    color: var(--color-6);
  }
}

.age {
  display: block;
  margin-block: 1rem;
  font-weight: 500;
  font-size: 1.7rem;
}