@let singleItem = item();

@if (singleItem) {
<div class="mini-box-item"
  [ngClass]="'box-' + (index() % 6 + 1)">

  @if (singleItem.age) {
  <div class="age">{{singleItem.age | translit}}</div>
  }

  <div class="title">{{singleItem.title || singleItem.authorName | translit}}</div>

  @if (singleItem.text) {
  <div class="text"
    [style.fontSize]="fontSize + 'px'"
    [style.lineHeight]="fontSize + 4 + 'px'">
    {{singleItem.text | translit}}
  </div>
  }

  @if (singleItem.innerHtml) {
  <div class="text-inner"
    [class.fade]="fade()"
    [class.bigtitle]="singleItem.title?.length > 14"
    [innerHtml]="singleItem.innerHtml | translit">
  </div>
  }
</div>
}