<div id="table-wrapper">
  <div class="filter-row flex">
    <div class="spacer"></div>

    <mat-form-field appearance="outline">
      <mat-label>Претрага</mat-label>
      <input matInput
        [formControl]="searchControl" />
    </mat-form-field>

    <button class="shortcut-button"
      mat-stroked-button
      (click)="onShortcut()"
      color="primary">
      Картице
    </button>

    <button class="add-button"
      mat-flat-button
      (click)="onAddButton()"
      color="primary">
      Додај здање
    </button>
  </div>

  @if (items.length) {
  <app-table [items]="items"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    (editEmitter)="onEditButton($event)"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>