<div class="admin-container">
  <button mat-flat-button
    color="primary"
    (click)="onPerson()">Личности</button>
  <button mat-flat-button
    color="primary"
    (click)="onInstagramEvent()">Инстаграм</button>
  <button mat-flat-button
    color="primary"
    (click)="onNoteEvent()">Белешке</button>
  <button mat-flat-button
    color="primary"
    (click)="onQuote()">Цитати</button>
  <button mat-flat-button
    color="primary"
    (click)="onSong()">Поезија</button>
  <button mat-flat-button
    color="warn"
    (click)="onMemorial()">Здања</button>
  <button mat-flat-button
    color="warn"
    (click)="onChurch()">Светиње</button>
  <button mat-flat-button
    color="warn"
    (click)="onNature()">Природна добра</button>
  <button mat-flat-button
    color="warn"
    (click)="onManifestation()">Манифестације</button>
  <button mat-flat-button
    color="warn"
    (click)="onSymbol()">Симболи</button>
  <button mat-flat-button
    color="warn"
    (click)="onSaint()">Празници</button>
  <button mat-flat-button
    color="accent"
    (click)="onChronology()">Хроника</button>
  <button mat-flat-button
    color="accent"
    (click)="onTag()">Тагови</button>
  <button mat-flat-button
    color="accent"
    (click)="onHistoricalEvent()">Догађај</button>
  <button mat-flat-button
    color="accent"
    (click)="onMessage()">Поруке</button>
  <button mat-flat-button
    color="accent"
    (click)="onUser()">Корисници</button>
</div>

<router-outlet />