button {
  margin: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  overflow: auto;
  touch-action: auto;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem var(--text-2);
  }
}

.flex button {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.admin-container {
  padding-left: 1rem;
  margin: 1rem;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  text-align: left;
  touch-action: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}