@if (form && categories.length && allEpochs.length) {
<form [formGroup]="form">
  <app-form-text control="title"
    label="Наслов" />
  <app-form-number control="age"
    label="Година" />
  <app-form-select control="typeId"
    label="Тип хронике"
    [items]="chronologyTypes" />
  <app-form-select control="categoryId"
    label="Категорија"
    [items]="categories" />
  <app-form-select control="epochId"
    label="Епоха"
    [items]="epochs" />
  <br>
  <app-form-text control="wikipedia"
    label="Википедија" />
  <app-form-text control="imdb"
    label="ИМДБ" />
  <br>
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <br>
  <!-- QUILL -->
  <div class="quill-wrapper">
    <quill-editor formControlName="innerHtml"
      [styles]="{height: '20rem', width: '100%'}">
    </quill-editor>
  </div>
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}