@let loggedAsAdmin = authService.loginAdmin$ | async;

<div class="page-wrapper">

  <h1 class="page-title">
    <span>{{'Тагови' | translit}}</span>
  </h1>

  @if (loggedAsAdmin) {
  <button class="add-button-large"
    mat-icon-button
    color="primary"
    (click)="onAddButton()">
    <mat-icon>add</mat-icon>
  </button>
  }

  <!-- Real Tags -->
  @for (tagGroup of tagGroups; track tagGroup) {
  <div class="tag-group">
    <h4 class="tag-group-title">{{tagGroup.title | translit}}</h4>
    @for (item of tagGroup.items; track item) {
    <span class="tag-item"
      (click)="onTag(item.slug)">
      <img class="item-image"
        [src]="item.imagePath"
        [alt]="item.name | translit">
      <span class="item-title">
        {{item.name | translit}}
      </span>
    </span>
    }
  </div>
  }
</div>