.tag-group {
  display: block;
  margin-bottom: 2rem;
  padding: 0;
  text-align: left;
  width: min(144rem, 90vw);
}

h4.tag-group-title {
  margin: 1rem 0;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--color-1);
  color: var(--color-1);
}

.tag-item {
  display: inline-flex;
  vertical-align: top;
  margin: 0 1rem 1rem 0;
  gap: 1rem;
  width: 15rem;
  height: 10rem;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--divider-color);
  cursor: pointer;
  padding: 1rem;

  @media (max-width: 400px) {
    width: calc(100vw/2 - 6rem);
    padding: 0.7rem;
  }

  @media (max-width: 300px) {
    width: calc(100% - 1.5rem);
    padding: 0.7rem;
  }

  &:hover {
    background-color: var(--background-2);
  }
}

.tag-item img.item-image {
  height: 4rem;
  width: auto;
  object-fit: contain;
  display: block;
}

.tag-item span.item-title {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  white-space: wrap;
  word-wrap: break-word;
  width: 100%;

  @media (max-width: 600px) {
    font-size: 1.4rem;
  }

  @media (max-width: 400px) {
    font-size: 1.3rem;
  }

}

.tag-counter {
  color: var(--color-3) !important;

  &.red {
    color: var(--color-2) !important;
  }
}