<div class="chronology-wrapper">
  <h4 class="chronology-title margin uppercase"
    (click)="onItem()">Времеплов</h4>

  @if (chronologyTypes.length) {
  <div class="box-items-wrapper">
    @for (item of chronologyTypes; track item; let i = $index) {
    <div class="box-item"
      [ngClass]="item.class"
      (click)="onItem(item.url)">
      <mat-icon>{{icons[i]}}</mat-icon>
      <span>{{item.name}}</span>
    </div>
    }
  </div>
  }
</div>