@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    label="Назив симбола" />
  <app-form-text control="slug"
    label="Слуг"
    [slug]="true" />
  <app-form-select control="type"
    label="Тип"
    [items]="symbolTypes" />
  <app-form-text control="date"
    label="Датум" />
  <app-form-text control="dateOrder"
    label="Датум.редослед" />
  <app-form-text control="author"
    label="Аутор" />
  <app-form-text control="authorSlug"
    label="Слуг аутора" />
  <app-form-text control="author2"
    label="Додатни аутор" />
  <app-form-text control="authorSlug2"
    label="Слуг додатног аутора" />
  <app-form-textarea control="description"
    [label]="Glossary.shortDescription" />
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}