:host {
  width: 50rem;
}

.dialog-wrapper {
  text-align: center;
  padding: 1rem;
}

.default-image,
.preview-image,
.preview-crop {
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  border: 0.1rem dashed var(--divider-color);
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#imagefile {
  height: 0;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

image-cropper {
  border: 0.1rem dashed var(--divider-color);
}