<div mat-dialog-content
  class="dialog-wrapper">

  <!-- Change format -->
  <button mat-flat-button
    color="primary"
    (click)="switchRatio()">
    Промени формат ({{resizeToWidth}})
  </button>

  <!-- Image (old + cropped) -->
  <div class="flex">
    <div class="upload-image">
      <label for="imagefile"
        class="image-upload">
        @if (!imagePreview) {
        <img class="default-image"
          id="preview"
          loading="lazy"
          [src]="imageSrc"
          appDefaultLogo />
        }
        @if (imagePreview) {
        <img class="preview-image"
          id="preview"
          loading="lazy"
          [src]="imagePreview" />
        }
      </label>
      <input #file
        id="imagefile"
        accept="image/*"
        type="file"
        (change)="fileChangeEvent($event)" />
    </div>

    <img class="preview-crop"
      [src]="croppedImage" />
  </div>

  <!-- Cropper -->
  <image-cropper [imageChangedEvent]="imageChangedEvent"
    [format]="extension"
    [aspectRatio]="ratio"
    [resizeToWidth]="resizeToWidth"
    [maintainAspectRatio]="maintainAspectRatio"
    [onlyScaleDown]="true"
    (imageCropped)="imageCropped($event)">
  </image-cropper>
</div>

<!-- Upload -->
<div mat-dialog-actions
  align="end">
  <button mat-button
    mat-dialog-close>Одустани</button>
  <button mat-stroked-button
    color="accent"
    (click)="maintainAspectRatio = false">
    Слободан кроп
  </button>
  <button mat-flat-button
    color="primary"
    cdkFocusInitial
    (click)="doImageUpload()">Додај</button>
</div>