.song-author-list {
  position: fixed;
  top: 10rem;
  direction: rtl;
  right: 5rem;
  padding-left: 1rem;
  max-height: calc(100dvh - 12rem);
  overflow: auto;

  @media (max-width: 1300px) {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0.3rem;
    border-radius: 0.3rem;
    background: var(--background-3);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-1);
  }

  .song-author-name {
    color: var(--text-1);
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    display: block;
    direction: ltr;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;

    &:hover {
      color: var(--color-1);
    }

  }
}

.song-group {
  width: min(120rem, calc(100vw - 35rem));
  border-left: 0.2rem solid var(--color-2);
  text-align: left;
  margin-left: 1rem;
  margin-right: 0;
  margin-bottom: 6rem;
  padding: 0.5rem 2rem;

  @media (max-width: 1300px) {
    margin-left: 1rem;
    width: min(120rem, calc(90vw));
    margin-right: 0;
  }
}

.song-title {
  margin-bottom: 2rem;
  display: flex;
  height: auto;
  border-radius: 0.8rem;
  color: var(--text-1);
  text-align: left;
  cursor: pointer;
  align-items: center;

  mat-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
    position: relative;
    top: 0.1rem;
    color: var(--color-1);
  }

  span {
    font-weight: 500;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 3rem);
  }

  &:hover span {
    color: var(--color-3);
  }
}

.song-author {
  color: var(--color-1);
  text-align: left;
  cursor: pointer;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;

  &:hover {
    color: var(--color-3);
  }
}

.edit-icon {
  $icon-size: 1.4rem;
  font-size: $icon-size;
  height: $icon-size;
  width: $icon-size;
  line-height: $icon-size;
  position: relative;
  top: 0.1rem;
  color: var(--color-2);

  &.admin {
    cursor: pointer;
  }
}

button.add-button-large {
  @media (min-width: 1301px) {
    right: 25rem;
  }

  &.selected {
    border-color: var(--color-6);

    mat-icon {
      color: var(--color-6);
    }
  }
}

::ng-deep .song-text {
  display: block;

  p {
    min-height: 1.5rem;
    font-size: 1.5rem;

    @media (orientation: landscape) {
      font-size: 2rem;
    }
  }
}

.author {
  margin-bottom: 2rem;
  color: var(--color-1);
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.author-image {
  height: 15rem;
  border: 1px solid var(--divider-color);
  border-radius: 0.5rem;
  object-fit: cover;
  display: inline-block;
  object-position: center 20%;
  transition: transform 0.7s ease;
}

.author-data {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.author-name {
  color: var(--color-1);
  margin-bottom: 1rem;
}

.author-city {
  font-size: 1.5rem;
  font-weight: 500;
}

.author-date {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-4);
}

.author-epoch-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.author-epoch {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-3);
}

.other-songs-headline {
  display: inline-block;
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid var(--divider-color);
  font-weight: 500;
  text-transform: uppercase;
}

.other-song-title {
  margin-block: 1rem;
  cursor: pointer;
  display: flex;
  color: var(--color-1);
  gap: 1rem;
  align-items: center;
}

::ng-deep button.poetry-button {
  margin-top: 2rem;
  color: var(--color-2);

  mat-icon {
    color: var(--color-2);
    transform: scale(1.1);
    position: relative;
    top: 0rem;
  }

  span {
    font-weight: 500;
    color: var(--color-2);
  }
}