@let loggedAsAdmin = authService.loginAdmin$ | async;

@if(song) {
<div class="page-wrapper">
  <h1 class="page-title">
    <span>{{song.title | translit}}</span>
  </h1>

  @if(author) {
  <div class="author"
    (click)="onAuthor()">
    <img class="author-image image-shadow-filter"
      [src]="author.imagePath"
      [alt]="author.commonName">
    <span class="author-data">
      <span class="author-name gagalin">{{author.commonName | translit}}</span>
      <span class="author-city">{{author.city | translit}}</span>
      <span class="author-date">{{author.birthDeath | translit}}.</span>

      @if(author.epoch && epochs.length) {
      <span class="author-epoch-title">{{'Епоха' | translit}}:</span>
      <span class="author-epoch">{{author.epoch! | idToName : epochs | translit}}</span>
      }

    </span>
  </div>
  }

  <div class="song-text"
    [innerHTML]="song.innerHtml | translit"></div>

  @if(otherSongs.length) {
  <h4 class="other-songs-headline">
    {{'Остале песме аутора' | translit}}:
  </h4>
  }

  @for (song of otherSongs; track song.slug) {
  <p class="other-song-title gagalin"
    (click)="onOtherSong(song)">
    <mat-icon>menu_book</mat-icon>
    {{song.title | translit}}
  </p>
  }

  <button mat-stroked-button
    class="poetry-button"
    (click)="onPoetry()">
    <mat-icon>arrow_back_ios</mat-icon>
    {{'Назад на комплетну поезију' | translit}}
  </button>


  @if(loggedAsAdmin) {
  <button class="add-button-large"
    mat-icon-button
    color="primary"
    (click)="onEdit()">
    <mat-icon>edit</mat-icon>
  </button>


  <button class="add-button-large second"
    mat-icon-button
    color="primary"
    (click)="onAddSong()">
    <mat-icon>music_note</mat-icon>
  </button>
  }
</div>
}