@let loggedAsAdmin = authService.loginAdmin$ | async;
@let loggedIn = authService.login$ | async;
@let userProfile = authService.userProfile$ | async;

<div class="page-wrapper">

  <h1 class="page-title">
    <span>{{'Налог и подешавања' | translit}}</span>
  </h1>

  <h4 class="subtitle">{{'Налог' | translit}}</h4>

  <!-- ACCOUNT DATA -->
  @if (userProfile) {
  <div class="account-data">
    <img class="user-image image-shadow-filter"
      [src]="userProfile.image"
      loading="lazy"
      [alt]="userProfile.name | translit"
      appDefaultLogo />
    <div class="account-details">
      <div class="account-name">{{ userProfile.name | translit }}
        @if(loggedAsAdmin) {
        <mat-icon>admin_panel_settings</mat-icon>
        }
      </div>
      <div class="account-email">{{ userProfile.email | translit }}</div>
    </div>
  </div>
  }

  <!-- LOGOUT -->
  @if (loggedIn) {
  <button mat-flat-button
    class="favourite-button"
    (click)="onFavourites()">
    {{'Ваши фаворити' | translit}}
  </button>
  <button mat-flat-button
    class="logout"
    (click)="authService.googleLogout()">
    {{'Одјави се' | translit}}
  </button>
  } @else {
  <p> {{'Нисте тренутно пријављени.' | translit}}</p>
  <button mat-flat-button
    class="login"
    (click)="authService.googleLogin()">
    {{'Пријави се' | translit}}
  </button>
  }

  <h4 class="subtitle">{{'Осветљење' | translit}}</h4>

  <p> {{'Изаберите тему апликације.' | translit}}</p>

  <button mat-flat-button
    class="theme-button"
    [class.active]="themeService.isDarkMode()"
    (click)="themeService.setDarkTheme()">
    <mat-icon class="theme-icon">
      dark_mode
    </mat-icon> {{'Тамна' | translit}}
  </button>

  <button mat-flat-button
    class="theme-button"
    [class.active]="themeService.isLightMode()"
    (click)="themeService.setLightTheme()">
    <mat-icon class="theme-icon">
      light_mode
    </mat-icon> {{'Светла' | translit}}
  </button>

  <h4 class="subtitle">{{'Писмо' | translit}}</h4>

  <p> {{'Изаберите писмо апликације.' | translit}}</p>


  <button mat-flat-button
    class="theme-button"
    [class.active]="!themeService.isLatinMode()"
    (click)="themeService.setCyrillic()">
    {{'Ћирилица' | translit}}
  </button>

  <button mat-flat-button
    class="theme-button"
    [class.active]="themeService.isLatinMode()"
    (click)="themeService.setLatin()">
    {{'Латиница' | translit}}
  </button>

  <h4 class="subtitle">{{'Остало' | translit}}</h4>

  <!-- APP VERSION -->
  <div class="metadata">
    <div class="app-details">
      {{'Верзија апликације' | translit}}:
      2.6.7
    </div>

    <div class="device-resolution">
      {{'Екран' | translit}}:
      {{browser.innerWidth}} x {{browser.innerHeight}}
    </div>

    @if (navigator.userAgentData?.platform) {
    <div class="app-details">
      {{'Платформа' | translit}}:
      {{navigator.userAgentData?.platform }}
    </div>
    }

    @if (navigator.connection?.effectiveType) {
    <div class="app-details">
      {{'Конекција' | translit}}:
      {{navigator.connection?.effectiveType }}
    </div>
    }
  </div>
</div>