.account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}


h4.subtitle {
  text-transform: uppercase;
  margin-block: 2rem;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--divider-color);
}

p {
  margin-bottom: 2rem;
}

.account-data {
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 2rem;
  color: var(--text-1);
}

img.user-image {
  height: 5rem;
  width: auto;
  margin-bottom: 2rem;
  border-radius: 50%;
}

.account-name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  mat-icon {
    color: var(--color-4);
  }
}

button.favourite-button {
  margin-right: 1rem;
}

button.login {
  background-color: var(--color-1);
  color: var(--text-light);
  margin-bottom: 2rem;
}

button.theme-button {
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: var(--inactive-background);

  &.active {
    background-color: var(--color-1);
  }
}

mat-icon.theme-icon {
  transform: scale(1.6);
  margin-right: 1rem;
}

button.logout {
  background-color: var(--color-2);
  color: var(--text-light);
}

.metadata {
  text-align: left;

  >div {
    margin-top: 0.5rem;
  }
}