page-wrapper {
  @media (max-width: 500px) {
    padding: 2rem;
  }
}

.epoch-wrapper {
  margin: 2rem auto;
  position: relative;
  text-align: center;
}

.epoch-title {
  display: inline-block;
  margin: 0 2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: 0.1rem dashed var(--divider-color);
  position: relative;
  border-radius: 1rem;
}

caption {
  font-weight: 500;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.general-data {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;

  @media (orientation: portrait) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.general-extenders {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(100rem, 100vw - 50rem);

  @media (max-width:1200px) {
    width: min(100rem, 100vw - 5rem);
  }
}

.city-data {
  display: block;
}

.spinner-wrapper {
  text-align: center;
}

mat-spinner {
  margin: 4rem auto;
  display: inline-block;
}

app-church-card,
app-memorial-card {
  cursor: pointer;
}

.edit-data {
  position: absolute;
  color: var(--color-2);
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.basic-data-row {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 1rem 2rem 1rem;
}

.basic-data-row-icon {
  position: relative;
  top: 0.2rem;
  color: var(--color-1);
  display: inline-block;
  margin-right: 1rem;
  width: 5rem;
  height: 4.2rem;
  font-size: 4rem;
  text-align: center;
}

.basic-data-row-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.basic-data-title {
  color: var(--color-1);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
  padding: 0.2rem 0;
}

.basic-data-content {
  color: var(--text-1);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
}

.tab-group-wrapper {
  width: 100%;
  position: relative;
}

div.divider {
  position: absolute;
  top: 2.6rem;
  left: 0;
  right: 0;
  border-bottom: 0.2rem solid var(--divider-color);
}

::ng-deep .tab-group-wrapper mat-tab-group {
  margin: 0 auto;
  position: relative;
  top: -2rem;

  mat-tab-header.mat-mdc-tab-header {
    width: min(35rem, calc(100vw - 4rem));
    justify-content: flex-start;
    margin: 0;
  }

  div.mat-mdc-tab-body-wrapper {
    margin-top: 2rem;
  }

  div.mat-mdc-tab {
    padding-inline: 0.5rem;
    width: 33%;
  }
}

.city-logo {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 0.2rem solid var(--divider-color);
  border-radius: 1rem;

  img {
    width: auto;
    height: auto;
    max-height: min(30rem, 60vh);
    max-width: min(40rem, 95vw);
    object-fit: contain;
    object-position: center top;
    margin: 0;
    filter: drop-shadow(0.25rem 0.25rem 0.5rem var(--shadow));
  }
}

div.box-text {
  font-size: 1.4rem;
  line-height: 2rem;

  &.break-spaces {
    white-space: pre-wrap;
  }

  @media (min-width: 1000px) {
    text-align: justify;
  }
}

.memorial-tags {
  padding-bottom: 2rem;
  text-align: left;
}

.person-cards-wrapper {
  text-align: left;
  padding-top: 0.5rem;
}

h5.headline {
  cursor: pointer;
  font-family: 'Gagalin', sans-serif;
  letter-spacing: 2px;
  font-size: 2.3rem;
  text-align: left;
  padding-top: 1rem;
  color: var(--color-2);
  border-bottom: 0.2rem solid var(--color-2);
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  left: 1.5rem;
}

.empty {
  height: 21rem;
  width: 33rem;
  display: inline-block;
}

.button-sheet {
  width: 18rem;
}

.button-sheet:nth-of-type(1) {
  background-color: var(--color-2);
}

.button-sheet:nth-of-type(2) {
  background-color: var(--color-1);
}

.button-sheet:nth-of-type(3) {
  background-color: var(--color-3);
}

.button-sheet:nth-of-type(4) {
  background-color: var(--color-4);
}

.button-sheet:nth-of-type(5) {
  background-color: var(--color-5);
}

.button-sheet:nth-of-type(6) {
  background-color: var(--color-6);
}

.generals-holder {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media (max-width: 770px) {
    gap: 3rem;
    flex-direction: column;
  }
}

.map-box {
  @media (max-width: 500px) {
    transform: scale(0.8);
    left: -1rem;
    position: relative;
  }

  @media (max-width: 400px) {
    transform: scale(0.7);
    left: -2rem;
  }

  @media (max-width: 350px) {
    transform: scale(0.7);
    left: -3rem;
  }
}

.minimize-data-list {
  width: min(55rem, 50vw);
  gap: 2rem;
}

.generals-holder {
  width: min(55rem, 50vw);
}

button.add-button-large.selected {
  border-color: var(--color-6);

  mat-icon {
    color: var(--color-6);
  }
}

.instagram-post {
  color: var(--text-1);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;

  mat-icon {
    display: inline-block;
    margin-right: 0.5rem;
    transform: scale(0.8);
  }

  &:hover {
    color: var(--color-1);
  }
}

::ng-deep .local-hero-switch {
  margin-bottom: 2rem;
  position: relative;

  button.active {
    background: var(--color-1);
    border-color: var(--color-1);

    .mdc-button__label {
      color: white !important;
    }
  }
}

.white-space {
  background-color: transparent;
  height: 1rem;
}

.region-cities {
  margin: 2rem 0 1rem 0;
}

.single-city {
  display: inline-block;
  margin: 0 1.5rem 0 0;
  color: var(--color-1);
  cursor: pointer;

  &:hover {
    color: var(--color-5);
  }
}