@let loggedAsAdmin = authService.loginAdmin$ | async;
@let pageIndex0 = selectedIndex === 0;
@let pageIndex1 = selectedIndex === 1;
@let pageIndex2 = selectedIndex === 2;

<div class="page-wrapper">

  <ng-container *ngTemplateOutlet="headTitle" />
  <ng-container *ngTemplateOutlet="adminButtons" />
  <ng-container *ngTemplateOutlet="tabGroup" />

  @if(tag && !tag.region) {
  <ng-container *ngTemplateOutlet="personCards" />
  }

</div>

<ng-template #headTitle>
  @if (tag) {
  <h1 class="page-title">
    <span>{{tag.name | translit}}</span>
  </h1>
  }
</ng-template>

<ng-template #tabGroup>
  <div class="tab-group-wrapper">
    @if (tag && tag.region) {
    <div class="divider">
    </div>
    }
    @if (tag && tag.region) {
    <mat-tab-group [selectedIndex]="selectedIndex"
      (selectedIndexChange)="onTabChange($event)"
      animationDuration="0ms"
      [disablePagination]="true">
      <mat-tab [label]="'Подаци' | translit">
        <ng-container *ngTemplateOutlet="generalData" />
      </mat-tab>
      <mat-tab [label]="'Личности' | translit">
        <ng-container *ngTemplateOutlet="personCards" />
      </mat-tab>
      <mat-tab [label]="'Знаменитости' | translit">
        <div class="spinner-wrapper">
          @if (showSpinner) {
          <mat-spinner></mat-spinner>
          }
        </div>
        <ng-container *ngTemplateOutlet="memorials" />
      </mat-tab>
    </mat-tab-group>
    }
  </div>
</ng-template>

<ng-template #generalData>
  <div class="general-data">

    @if (tag.imagePath) {
    <div class="city-logo">
      <img [src]="tag.imagePath"
        [alt]="tag.name">
    </div>
    }

    <div class="general-extenders">
      @if(cityPosts.length) {
      <app-collapser>
        <h6 class="header-content">{{'Инстаграм објаве' | translit}}</h6>
        <ng-container *ngTemplateOutlet="instagramPosts">
        </ng-container>
      </app-collapser>
      }

      <app-collapser>
        <h6 class="header-content">{{'Лична карта' | translit}}</h6>
        <ng-container *ngTemplateOutlet="generalSheet">
        </ng-container>
      </app-collapser>

      @if(tag.description) {
      <app-collapser>
        <h6 class="header-content">{{'Кратак опис' | translit}}</h6>
        <ng-container *ngTemplateOutlet="descriptionSheet">
        </ng-container>
      </app-collapser>
      }

      @if(tag.cityHistory) {
      <app-collapser>
        <h6 class="header-content">{{'Историјски развој' | translit}}</h6>
        <ng-container *ngTemplateOutlet="historySheet">
        </ng-container>
      </app-collapser>
      }

      @if(tag.cityGeography) {
      <app-collapser>
        <h6 class="header-content">{{'Географија' | translit}}</h6>
        <ng-container *ngTemplateOutlet="geoSheet">
        </ng-container>
      </app-collapser>
      }

      @if(tag.cityDemography) {
      <app-collapser>
        <h6 class="header-content">{{'Демографија' | translit}}</h6>
        <ng-container *ngTemplateOutlet="demographySheet">
        </ng-container>
      </app-collapser>
      }

      @if(tag.cityCulture) {
      <app-collapser>
        <h6 class="header-content">{{'Култура' | translit}}</h6>
        <ng-container *ngTemplateOutlet="cultureSheet">
        </ng-container>
      </app-collapser>
      }

    </div>
  </div>
</ng-template>

<ng-template #memorials>
  @if (!showSpinner && selectedIndex === 2) {
  <div>
    @if (tag && (tag.group === TagGroup.cities)) {
    <div class="memorial-tags">
      @if (flattenSights.length) {
      <!-- 1. CULTURAL BUILDINGS -->
      @if (sights.museums?.length) {
      <div>
        <h5 class="headline"
          (click)="goToMemorials()"
          #museumSights>
          {{MemorialNames.museum | translit}}
          ({{sights.museums.length}})
        </h5>
      </div>
      @defer (on viewport(museumSights)) {
      @for (item of sights.museums; track item) {
      <app-memorial-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 2. PUBLIC BUILDINGS -->
      @if (sights.buildings?.length) {
      <div>
        <h5 class="headline"
          (click)="goToMemorials()"
          #buildingsSights>
          {{MemorialNames.building | translit}}
          ({{sights.buildings.length}})
        </h5>
      </div>
      @defer (on viewport(buildingsSights)) {
      @for (item of sights.buildings; track item) {
      <app-memorial-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 3. PALACES -->
      @if (sights.palaces?.length) {
      <div>
        <h5 class="headline"
          (click)="goToMemorials()"
          #palaceSights>
          {{MemorialNames.palace | translit}}
          ({{sights.palaces.length}})
        </h5>
      </div>
      @defer (on viewport(palaceSights)) {
      @for (item of sights.palaces; track item) {
      <app-memorial-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 4. MONUMENTS -->
      @if (sights.monument?.length) {
      <div>
        <h5 class="headline"
          (click)="goToMemorials()"
          #monumentSights>
          {{MemorialNames.monument | translit}}
          ({{sights.monument.length}})
        </h5>
      </div>
      @defer (on viewport(monumentSights)) {
      @for (item of sights.monument; track item) {
      <app-memorial-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 5. FORTRESSES -->
      @if (sights.location?.length) {
      <div>
        <h5 class="headline"
          (click)="goToMemorials()"
          #locationSights>
          {{MemorialNames.location | translit}}
          ({{sights.location.length}})
        </h5>
      </div>
      @defer (on viewport(locationSights)) {
      @for (item of sights.location; track item) {
      <app-memorial-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 6. SPORT OBJECTS -->
      @if (sights.sports?.length) {
      <div>
        <h5 class="headline"
          (click)="goToMemorials()"
          #sportsights>
          {{MemorialNames.sports | translit}}
          ({{sights.sports.length}})
        </h5>
      </div>
      @defer (on viewport(sportsights)) {
      @for (item of sights.sports; track item) {
      <app-memorial-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 7. SQUARES & BRIDGES -->
      @if (sights.streets?.length) {
      <div>
        <h5 class="headline"
          (click)="goToMemorials()"
          #streets>
          {{MemorialNames.streets | translit}}
          ({{sights.streets.length}})
        </h5>
      </div>
      @defer (on viewport(streets)) {
      @for (item of sights.streets; track item) {
      <app-memorial-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 8. MONASTERIES -->
      @if (sights.monastery?.length) {
      <div>
        <h5 #monasterySights
          (click)="goToChurches()"
          class="headline">
          {{'Православни манастири' | translit}}
          ({{sights.monastery.length}})
        </h5>
      </div>
      @defer (on viewport(monasterySights)) {
      @for (item of sights.monastery; track item) {
      <app-church-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 9. CHURCHES -->
      @if (sights.church?.length) {
      <div>
        <h5 #churchSights
          (click)="goToChurches()"
          class="headline">
          {{'Православне цркве' | translit}}
          ({{sights.church.length}})
        </h5>
      </div>
      @defer (on viewport(churchSights)) {
      @for (item of sights.church; track item) {
      <app-church-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 10. OTHER RELIGIONS -->
      @if (sights.other?.length) {
      <div>
        <h5 #otherReligionSights
          (click)="goToChurches()"
          class="headline">
          {{'Остале религије' | translit}}
          ({{sights.other.length}})
        </h5>
      </div>
      @defer (on viewport(otherReligionSights)) {
      @for (item of sights.other; track item) {
      <app-church-card [item]="item"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 11. MOUNTAINS -->
      @if (sights.mountain?.length) {
      <div>
        <h5 class="headline"
          (click)="goToNature()"
          #mountains>
          {{'Планине' | translit}}
          ({{sights.mountain.length}})
        </h5>
      </div>
      @defer (on viewport(mountains)) {
      @for (item of sights.mountain; track item) {
      <app-memorial-card [item]="item"
        [isNature]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 12. SPA -->
      @if (sights.spa?.length) {
      <div>
        <h5 class="headline"
          (click)="goToNature()"
          #spas>
          {{'Бање' | translit}}
          ({{sights.spa.length}})
        </h5>
      </div>
      @defer (on viewport(spas)) {
      @for (item of sights.spa; track item) {
      <app-memorial-card [item]="item"
        [isNature]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 13. CAVES -->
      @if (sights.cave?.length) {
      <div>
        <h5 class="headline"
          (click)="goToNature()"
          #caves>
          {{'Пећине' | translit}}
          ({{sights.cave.length}})
        </h5>
      </div>
      @defer (on viewport(caves)) {
      @for (item of sights.cave; track item) {
      <app-memorial-card [item]="item"
        [isNature]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 14. PARKS -->
      @if (sights.park?.length) {
      <div>
        <h5 class="headline"
          (click)="goToNature()"
          #parks>
          {{'Паркови и резервати' | translit}}
          ({{sights.park.length}})
        </h5>
      </div>
      @defer (on viewport(parks)) {
      @for (item of sights.park; track item) {
      <app-memorial-card [item]="item"
        [isNature]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 15. RIVERS -->
      @if (sights.river?.length) {
      <div>
        <h5 class="headline"
          (click)="goToNature()"
          #rivers>
          {{'Реке' | translit}}
          ({{sights.river.length}})
        </h5>
      </div>
      @defer (on viewport(rivers)) {
      @for (item of sights.river; track item) {
      <app-memorial-card [item]="item"
        [isNature]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 16. LAKES -->
      @if (sights.water?.length) {
      <div>
        <h5 class="headline"
          (click)="goToNature()"
          #lakes>
          {{'Језера и клисуре' | translit}}
          ({{sights.water.length}})
        </h5>
      </div>
      @defer (on viewport(lakes)) {
      @for (item of sights.water; track item) {
      <app-memorial-card [item]="item"
        [isNature]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 17. ETNO VILLAGES -->
      @if (sights.etno?.length) {
      <div>
        <h5 class="headline"
          (click)="goToNature()"
          #etnoNature>
          {{'Етно села' | translit}}
          ({{sights.etno.length}})
        </h5>
      </div>
      @defer (on viewport(etnoNature)) {
      @for (item of sights.etno; track item) {
      <app-memorial-card [item]="item"
        [isNature]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 18. ZOO -->
      @if (sights.zoo?.length) {
      <div>
        <h5 class="headline"
          (click)="goToNature()"
          #zoopark>
          {{'Зоо вртови' | translit}}
          ({{sights.zoo.length}})
        </h5>
      </div>
      @defer (on viewport(zoopark)) {
      @for (item of sights.zoo; track item) {
      <app-memorial-card [item]="item"
        [isNature]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 19. MANIFESTATIONS CULTURAL -->
      @if (sights.culture?.length) {
      <div>
        <h5 class="headline"
          (click)="goToManifestations()"
          #culture>
          {{ManifestationNames.culture | translit}}
          ({{sights.culture.length}})
        </h5>
      </div>
      @defer (on viewport(culture)) {
      @for (item of sights.culture; track item) {
      <app-memorial-card [item]="item"
        [isManifestation]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 20. MANIFESTATIONS SPORTS -->
      @if (sights.sportManifestation?.length) {
      <div>
        <h5 #sportManifestation1
          (click)="goToManifestations()"
          class="headline">
          {{ManifestationNames.sport | translit}}
          ({{sights.sportManifestation.length}})
        </h5>
      </div>
      @defer (on viewport(sportManifestation1)) {
      @for (item of sights.sportManifestation; track item) {
      <app-memorial-card [item]="item"
        [isManifestation]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 21. MANIFESTATIONS ETNO -->
      @if (sights.tavern?.length) {
      <div>
        <h5 #tavern
          (click)="goToManifestations()"
          class="headline">
          {{ManifestationNames.tavern | translit}}
          ({{sights.tavern.length}})
        </h5>
      </div>
      @defer (on viewport(tavern)) {
      @for (item of sights.tavern; track item) {
      <app-memorial-card [item]="item"
        [isManifestation]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      <!-- 22. MANIFESTATIONS GASTRO -->
      @if (sights.fair?.length) {
      <div>
        <h5 #etnofair
          (click)="goToManifestations()"
          class="headline">
          {{ManifestationNames.fair | translit}}
          ({{sights.fair.length}})
        </h5>
      </div>
      @defer (on viewport(etnofair)) {
      @for (item of sights.fair; track item) {
      <app-memorial-card [item]="item"
        [isManifestation]="true"
        (click)="onHeritageCard(item)"
        view="shorten" />
      }
      } @placeholder (minimum 200ms) { <p class="empty"></p> }
      }
      }
    </div>
    }
  </div>
  }
</ng-template>

<ng-template #personCards>
  @if(filteredList.length > 40) {
  <div class="local-hero-switch">
    <button mat-stroked-button
      (click)="localHeroActive = !localHeroActive"
      [class.active]="localHeroActive">
      Избор уредника
    </button>
  </div>
  }

  @let list = localHeroActive ? localHeroList : filteredList;
  <div class="person-cards-wrapper">
    @if (tag && list.length) {
    @for (item of list; track item.id) {
    @defer (on viewport) {
    <app-person-card [card]="item" />
    } @placeholder (minimum 200ms) {
    <div class="empty"></div>
    }
    }
    }
  </div>
</ng-template>

<ng-template #generalSheet>
  <div class="generals-holder">
    <div class="minimize-data-list">
      @for (item of generals; track item.icon) {
      @if(item.text) {
      <div class="minimize-data-item">
        <mat-icon class="data-image">{{item.icon}}</mat-icon>
        <span class="data-text">
          <span>{{item.text | translit}}</span>
          <p>{{item.title | translit}}</p>
        </span>
      </div>
      }
      }
    </div>
    @if (tag && (tag.group === TagGroup.cities)) {
    <div class="map-box">
      <app-serbian-map [citySlug]="tag.slug" />
    </div>
    }
  </div>
  @if(tag && tag.region) {
  <div class="region-cities">
    <h5 class="region-title"> {{tag.region}}
      @if (tag.region !== "Град Београд")
      {
      {{ "округ"
      |
      translit
      }}
      }:

      @for (city of sameRegionCities; track city.id) {
      <span class="single-city"
        (click)="goToTag(city.slug)">
        {{city.name}}
      </span>
      }
    </h5>

  </div>
  }
</ng-template>

<ng-template #descriptionSheet>
  @if (tag.description) {
  <div class="box-text break-spaces"
    [innerHtml]="tag.description">
  </div>
  }
</ng-template>

<ng-template #historySheet>
  @if (tag.cityHistory) {
  <div class="box-text"
    [innerHtml]="tag.cityHistory">
  </div>
  }
</ng-template>

<ng-template #instagramPosts>
  @if (cityPosts.length) {
  <div class="box-text">
    @for (post of cityPosts; track post.id) {
    <div class="instagram-post"
      (click)="onPost(post)">
      <mat-icon>open_in_new</mat-icon>
      {{post.title | translit}}
    </div>
    }
  </div>
  }
</ng-template>

<ng-template #geoSheet>
  @if (tag.cityGeography) {
  <div class="box-text"
    [innerHtml]="tag.cityGeography">
  </div>
  }
</ng-template>

<ng-template #demographySheet>
  @if (tag.cityDemography) {
  <div class="box-text"
    [innerHtml]="tag.cityDemography">
  </div>
  }
</ng-template>

<ng-template #cultureSheet>
  @if (tag.cityCulture) {
  <div class="box-text"
    [innerHtml]="tag.cityCulture">
  </div>
  }
</ng-template>

<ng-template #adminButtons>

  @if (loggedAsAdmin && pageIndex0) {
  <button class="add-button-large"
    mat-icon-button
    (click)="onPrintscreenFlags()">
    <mat-icon>flag</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && pageIndex0) {
  <button class="add-button-large second"
    mat-icon-button
    (click)="onEditData(tag)">
    <mat-icon>edit</mat-icon>
  </button>
  }

  @if (pageIndex1) {
  <button class="add-button-large"
    [class.selected]="selectedCategories.length"
    mat-icon-button
    (click)="onFilterButton()">
    <mat-icon>filter_alt</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && pageIndex1) {
  <button class="add-button-large third"
    mat-icon-button
    (click)="onAddPersonButton()">
    <mat-icon>add</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && pageIndex1) {
  <button class="add-button-large second"
    mat-icon-button
    (click)="onPrintscreenTags(false)">
    <mat-icon>grid_view</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && pageIndex2) {
  <button class="add-button-large"
    mat-icon-button
    (click)="onAddMonumentButton()">
    <mat-icon>account_balance</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && pageIndex2) {
  <button class="add-button-large second"
    mat-icon-button
    (click)="onAddNatureButton()">
    <mat-icon>forest</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && pageIndex2) {
  <button class="add-button-large third"
    mat-icon-button
    (click)="onAddChurchButton()">
    <mat-icon>church</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && pageIndex2) {
  <button class="add-button-large fourth"
    mat-icon-button
    (click)="onAddManifestationButton()">
    <mat-icon>stadium</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && pageIndex2) {
  <button class="add-button-large fifth"
    mat-icon-button
    (click)="onPrintscreenSights()">
    <mat-icon>desktop_mac</mat-icon>
  </button>
  }
</ng-template>