.content {
  min-height: 100dvh;
  background: var(--background);
  box-sizing: content-box;
  overflow-x: hidden;

  &.extra-margin-top {
    margin-top: 5.6rem;
  }
}

.router-outlet {
  min-height: 100dvh;
  background: var(--background);
}

.bottom-wrapper {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 2rem;
  margin: 0;
}

.tiles-wrapper {
  width: min(120rem, 100% - 4rem);
  margin: 3rem auto 3rem auto;

  @media (max-width: 1800px) {
    margin: 1rem 0;
  }
}

.category-wrapper {
  width: min(120rem, calc(100% - 4rem));
  margin: 0 auto;
  padding: 0 0 2rem 0;
  text-align: center;
}

.category {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: var(--text-1);
  margin: 1rem;
  border: 0.2rem solid var(--color-1);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  &:hover {
    font-weight: 500;
    color: var(--color-1);
    font-weight: 500;
  }
}

.divider {
  border-top: 0.4rem solid var(--color-2);
  background-color: var(--background);
  width: 60rem;
  max-width: calc(100% - 10rem);
  height: 0.1rem;
  margin: 4rem auto;
  animation: animateBorder 6s linear infinite;
}

h5.headline {
  font-size: 2.4rem;
  margin: 2rem 0;
  text-transform: uppercase;

  @media (max-width: 1800px) {
    text-align: left;
    font-size: 3rem;
    padding-left: 2rem;
    margin: 8rem 0 2rem 0;
    text-transform: unset;
  }
}

@keyframes animateBorder {
  0% {
    border-color: var(--color-2);
    width: 60rem;
    max-width: calc(90vw - 10rem);
  }

  32% {
    border-color: var(--color-2);
  }

  33% {
    border-color: var(--color-1);
    width: 30rem;
    max-width: calc(50vw - 10rem);
  }

  65% {
    border-color: var(--color-1);
  }

  66% {
    border-color: var(--text-2);
    max-width: calc(70vw - 10rem);
  }

  99% {
    border-color: var(--text-2);
  }

  100% {
    border-color: var(--color-2);
    max-width: calc(90vw - 10rem);
  }
}

.report-error {
  position: fixed;
  display: none;
  flex-direction: row;
  align-items: center;
  z-index: 9999;
  justify-content: center;
  bottom: 1rem;
  right: 0;
  border: 0.2rem solid var(--color-2);
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
  background: var(--background);
  padding: 0.5rem;

  mat-icon {
    cursor: pointer;
    position: relative;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: var(--color-2);
  }
}

.error-link {
  font-size: 1.3rem;
  display: inline-block;
  font-weight: 500;
  margin: 0 0.3rem;
  color: var(--text-1);
  cursor: pointer;

  &:hover {
    color: var(--color-2);
  }
}

.small-logo {
  margin: 0 auto;

  img {
    margin: 2rem auto;
    width: 6rem;
    cursor: pointer;
  }
}

.category-counter {
  position: absolute;
  border: 0.2rem solid var(--color-2);
  border-radius: 50%;
  background: var(--background);
  color: var(--color-2);
  top: -1.2rem;
  right: -1.2rem;
  font-size: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}