@if (person) {
<div mat-dialog-content
  class="dialog-wrapper">
  <div class="story-spacing"
    [class.grayscale]="isGrayscale"></div>
  @if (birthday) {
  <div class="birthday"
    [class.grayscale]="isGrayscale"
    [class.transparent]="transparentText"
    (click)="onBirthday()">
    <div class="date gagalin"
      *ngIf="!isGrayscale">РОЂЕНДАН - {{birthday | uppercase}}</div>
  </div>
  }
  <h1 class="gagalin">{{person.commonName}}</h1>
  <img class="person-image image-shadow-filter"
    [class.grayscale]="isGrayscale"
    (click)="isGrayscale = !isGrayscale"
    loading="lazy"
    [src]="person.imagePath" />
  <div class="details">
    <div class="left-side">
      <div class="details-segment">
        <h6>КАТЕГОРИЈА</h6>
        <p>{{person.category | idToName : categories}}</p>
      </div>
      <div class="details-segment">
        <h6>ЕПОХА</h6>
        <p>{{person.epoch | idToName : epochs}}</p>
      </div>

      @if (person.fullName !== person.commonName) {
      <div class="details-segment">
        <h6>ПУНО ИМЕ</h6>
        <p>{{ person.fullName }}
        </p>
      </div>
      } @else if (person.nickName && person.nickName !== person.commonName) {
      <div class="details-segment">
        <h6>Надимак</h6>
        <p>{{person.nickName}}</p>
      </div>
      }
    </div>
    <div class="right-side">
      @if (person.city) {
      <div class="details-segment">
        <h6 class="red">МЕСТО РОЂЕЊА</h6>
        <p>{{person.city}}</p>
      </div>
      }

      <div class="details-segment">
        <h6 class="red">ДАТУМ РОЂЕЊА</h6>
        <p>{{ dateBirth }}.
        </p>
      </div>

      @if (dateDeath) {
      <div class="details-segment">
        <h6 class="red">ДАТУМ СМРТИ</h6>
        <p>{{ dateDeath }}.
        </p>
      </div>
      }

    </div>
  </div>
  <p class="description">{{person.shortDescription}}</p>
  <div class="logo-wrapper">
    <img loading="lazy"
      src="assets/images/gallery-logo-text-outline.png"
      alt="Logo Galerija" />
  </div>
</div>
}