.story-spacing {
  position: static;
  background-color: var(--canva-blue);
}

.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(16/9) * 41rem;
  width: 41rem;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0;

  @media (orientation: portrait) {
    height: calc(16/9) * 100vw;
    width: 100vw;
  }
}

.logo-wrapper {
  position: absolute;
  bottom: 1rem;
  width: 80%;
  margin: 1rem auto 0 auto;
  padding-top: 0.5rem;
  text-align: center;

  img {
    width: 60%;
    object-fit: contain;
  }
}


button {
  margin: 0.5rem auto 1rem auto;
}

img.person-image {
  margin-block: 1rem 1rem;
  position: relative;
  z-index: 2;
  height: 20rem;
  width: 15rem;
  object-fit: cover;
  object-position: center top;
  border: 0.2rem solid var(--divider-color);
  border-radius: 1rem;
}


.birthday {
  width: 100%;
  background-color: var(--canva-blue);
  border-radius: 0;
  margin-bottom: 1rem;

  .date {
    color: var(--background);
    width: calc(100% - 4rem);
    margin-inline: 2rem;
    font-size: 2rem;
    font-weight: 500;
    padding-block: 0.5rem;
    border-top: 0.1rem solid var(--background);
  }

  &.transparent .date {
    color: transparent !important;
    border-top-color: transparent;
  }
}

.years {
  color: var(--text-3);
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
}

h1 {
  margin-block: 2rem 1rem;
  margin-inline: 1rem;
  font-size: 3rem;
  color: var(--color-1);
  font-weight: 600;
  text-transform: uppercase;
}

.details-segment {
  margin-bottom: 1rem;

  h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-1);

    &.red {
      color: var(--color-2);
    }
  }

  p {
    font-size: 1.5rem;
  }
}


.description {
  margin-inline: 3rem;
  border-top: 0.2rem dotted var(--divider-color);
  padding-block: 1rem;
  font-size: 1.6rem;
  color: var(--text-1);
  text-align: center;
}

.serbian-flag-colors {
  position: absolute;
  z-index: 1;
  top: 27rem;
  left: 0;
  right: 0;

  div {
    height: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
  }

  .red {
    background: var(--color-2);
    width: 30rem;
    margin-inline: auto;
  }

  .blue {
    background: var(--color-1);
    width: 25rem;
    margin-inline: auto;
  }

  .white {
    background: var(--background-3);
    width: 22rem;
    margin-inline: auto;
  }
}

.details {
  display: flex;
  flex-direction: row;
  margin-block: 1rem;
  text-align: left;
  width: 100%;
}

.left-side {
  border-right: 0.3rem solid var(--color-1);
  margin-right: 0.2rem;
  text-align: right;
  width: 49%;
  padding-right: 1rem;

  p {
    text-align: right;
  }
}

.right-side {
  padding-left: 1rem;
  border-left: 0.3rem solid var(--color-2);
  margin-left: 0.2rem;
  width: 49%;
  text-align: left;

  p {
    text-align: left;
  }
}

.grayscale {
  filter: grayscale(100%);
}