<div class="page-wrapper">

  <h1 class="page-title">
    <span>{{'Личности'| translit}}</span>
  </h1>

  @for (category of categories$ | async; track category; let i = $index) {
  <div class="category-box single-item"
    [ngClass]="'color-' + (i % 5)"
    [class.invert-shadow]="themeService.isDarkMode()"
    (click)="onCategory(category)">

    <img class="category-img"
      [class.invert-color]="themeService.isDarkMode()"
      [src]="category.imagePath"
      appDefaultLogo
      [alt]="category.name | translit">

    <div class="text-content">
      <h5 class="category-title">
        {{category.name | translit}}
      </h5>
      <p class="category-counter">
        {{getCounterById(category.id)}} {{'личности' | translit}}
      </p>
    </div>

  </div>
  }

</div>