.category-box {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: min(34rem, calc(100vw - 4rem));
  height: 12rem;
  border: 0.2rem solid var(--shadow);
  border-radius: 1rem;
  padding: 2rem;
  cursor: pointer;

  &:hover {
    border-width: 0.2rem;
    border: 0.2rem solid var(--text-1);

    img {
      transition: transform 0.5s ease;
      transform: scale(1.1);
    }

    h5.category-title {
      color: var(--color-2);
    }
  }
}

img.category-img {
  width: 5rem;
  margin-right: 2rem;
}

.invert-color {
  filter: invert(1);
}

div.text-content {
  display: block;
  text-align: left;
}

h5.category-title {
  color: var(--color-1);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: left;

}

p.category-counter {
  font-weight: 500;
  display: inline-block;
  color: var(--color-4);
  font-size: 1.5rem;
  margin-top: 0.2rem;

}