@if (form) {
<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <input matInput
      [formControlName]="control"
      [(colorPicker)]="color"
      [style.background]="color"
      (colorPickerClose)="setColor()" />
  </mat-form-field>
</ng-container>
}