.intro {
  padding: 0;
}

.intro-content {
  text-align: left;
  margin-top: 2rem;
}

.intro-text {
  padding: 1rem 0;
}

.game-name {
  padding: 0.3rem 0;
}

.footer-intro {
  margin-top: 2rem;
  text-align: left;
}

b {
  color: var(--color-3);
}