@if (introStarted) {
  <div class="intro"
    >
    <div class="game-quiz-title">
      {{'Добро дошао у дневни квиз' | translit}}
    </div>
    <div class="game-quiz-subtitle">{{date | translit}}
    </div>
    <div class="intro-content">
      <p class="intro-text">{{'Сваког дана те чека' | translit}} <b>5</b> {{'игара са новим питањима,' | translit}}
      {{'на основу којих сакупљаш поене и добијаш коначну оцену.' | translit}}
      {{'Само једном дневно можеш да играш, зато се фокусираj!' | translit}}
    {{'Чекају те следеће игре:' | translit}}</p>
    <P class="game-name">{{'1. Од Кулина Бана...' | translit}}</P>
    <P class="game-name">{{'2. Чик погоди ко сам?' | translit}}</P>
    <P class="game-name">{{'3. Причај српски да те цео свет разуме!' | translit}}</P>
    <P class="game-name">{{'4. Срећна слава, домаћине!' | translit}}</P>
    <P class="game-name">{{'5. Година прође, дан никад.' | translit}}</P>
    <div class="footer-intro">
      <button class="game-footer-button"
        (click)="onIntroButton()"
      mat-flat-button>{{'Започни' | translit}}</button>
    </div>
  </div>
</div>
}