@let title = activeSegment === Segment.prezime ? 'Регистар презимена' : 'Регистар имена';
@let placeholder = activeSegment === Segment.prezime ? 'Упиши презиме' : 'Упиши име';

<div class="page-wrapper">
  <h1 class="page-title">
    <span>{{'Имена и презимена'| translit}}</span>
  </h1>

  <div class="card-buttons">
    <button mat-flat-button
      (click)="setSegment(Segment.prezime)"
      [class.inactive]="activeSegment !== Segment.prezime">
      {{'Презиме' | translit}}
    </button>
    <button mat-flat-button
      (click)="setSegment(Segment.ime)"
      [class.inactive]="activeSegment !== Segment.ime">
      {{'Име' | translit}}
    </button>
  </div>


  <form class="surname-form">
    <mat-form-field appearance="outline">
      <mat-label>{{title | translit}}</mat-label>
      <input #autoCompleteInput
        matInput
        type="text"
        [matAutocomplete]="auto"
        [placeholder]="placeholder | translit"
        [formControl]="inputControl"
        (input)="filterList()"
        (focus)="filterList()">
      <button mat-icon-button
        class="prefix-button"
        matPrefix
        (click)="filterList()">
        <mat-icon>search</mat-icon>
      </button>

      @if(inputControl.value) {
      <button mat-icon-button
        class="suffix-button"
        matSuffix
        (click)="clearSearch()">
        <mat-icon>clear</mat-icon>
      </button>
      }
      <mat-autocomplete #auto="matAutocomplete"
        requireSelection
        [displayWith]="displayOption"
        autoActiveFirstOption
        (optionSelected)="onOptionSelected($event)">
        @for (option of dropdownOptions; track option) {
        <mat-option [value]="option">
          {{option.title}} ({{option.elements?.length}})
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <br>

  <div class="person-cards-wrapper">
    @if (filteredList.length) {
    @for (item of filteredList; track item.id) {
    @defer (on viewport) {
    <app-person-card [card]="item" />
    } @placeholder (minimum 200ms) {
    <div class="empty"></div>
    }
    }
    } @else {
    <div class="no-results">
      {{'Претражите личности српске историје према' | translit}}
      {{activeSegment === Segment.prezime ? 'презимену' : 'имену' | translit}}
    </div>
    }
  </div>
</div>