.surname-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 16px;

  mat-form-field {
    width: 40rem;
    max-width: calc(100vw - 8rem);
  }
}

button.prefix-button {
  transform: scale(0.9);
  top: -0.2rem;
  color: var(--color-1);
}

button.suffix-button {
  transform: scale(0.75);
  color: var(--color-2);
}

.no-results {
  padding: 0 2rem;
  color: var(--color-4);
}

div.card-buttons {
  margin-block: 2rem;
  white-space: nowrap;

  @media (orientation: portrait) {
    margin-top: 2rem;
  }

  button {
    margin-right: 1rem;
  }
}

button.inactive {
  background-color: var(--inactive-background);
}