.page-wrapper {
  text-align: left;
  padding-inline: 2rem;
}

div.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

h1.person-name {
  display: inline-block;
  font-size: 3rem;
  padding: 0.5rem 3rem;
  color: var(--text-1);
  background: var(--background);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  border-top: 5px solid var(--color-2);
  border-bottom: 5px solid var(--color-1);
  width: min-content;
}

div.main-data {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-right: 0.4rem solid var(--color-2);
  margin-left: 1rem;
  text-align: right;
  width: 15rem;

  @media (min-width: 80rem) {
    width: min(36rem, calc(100vw - 20rem))
  }
}

div.sub-data {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-left: 0.4rem solid var(--color-1);
  margin-left: 1rem;
  width: min(34rem, calc(100vw - 15rem))
}

.main-data-title {
  font-weight: 500;
  color: var(--color-1);
  text-transform: uppercase;
  text-align: left;
}

.main-data-text {
  font-weight: 400;
  color: var(--text-1);
  margin-bottom: 1.3rem;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}

.image-wrapper {
  height: 21rem;
  width: 15rem;
  overflow: hidden;
  position: relative;
  margin: 0;
  border-radius: 0.8rem;
  border: 0.2rem solid var(--divider-color);
}

.person-image {
  object-fit: cover;
  display: inline-block;
  object-position: center 20%;
  height: 100%;
  width: 100%;
  transition: transform 0.7s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.sub-data-text {
  margin-bottom: 2rem;
  text-align: left;
}

.full-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.7rem;
  font-family: 'Gagalin';
  color: var(--color-4);
  text-align: left;
  margin-bottom: 1rem;
}

.person-description {
  color: var(--text-1);
  margin: 1rem 0;
  text-align: left;
  max-width: min(50rem, 90vw);
  padding: 1rem 1.5rem;
  border: 0.1rem dashed var(--text-1);
  border-radius: 1rem;
}

.links a {
  display: inliine-block;
  text-align: left;
  margin-right: 2rem;
  padding: 0;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
  color: var(--text-1);

  img {
    height: 2.5rem;
    width: auto;
  }
}


div.short-description {
  color: var(--text-2);
  font-style: italic;
  margin-top: 1rem;
  font-size: 1.3rem;
  line-height: 120%;
}

.deceased {
  height: 1.3rem;
  position: relative;
  filter: drop-shadow(0.1rem 0 15px var(--color-2));
  top: 0.1rem;
}

.tiles-wrapper {
  margin: 0 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.7rem;
}

div.under-line {
  margin: 1rem 0 1rem 0;
  border-top: 0.2rem solid rgb(209, 209, 209);
  width: 10rem;

  &.left-margin {
    margin-left: 2rem;
  }
}

.related-list {
  margin: 4rem auto;
  width: min(80rem, 100vw);
  text-align: center;
}

p {
  font-size: 1.4rem;
}

textarea {
  border-radius: 0.5rem;
  border: 0.1rem solid var(--text-2);
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  text-align: justify;
}

.text-wrapper {
  position: relative;
  width: 100%;
  white-space: pre-wrap;
  text-align: center;
  padding: 1rem 2rem;
  margin: 4rem auto;
  font-size: 1.4rem;

  span {
    text-align: justify;
  }

  &.multi-color {
    width: min(100rem, 90vw);
    border-top: 0.2rem solid var(--color-2);
    border-left: 0.2rem solid var(--color-2);
    border-bottom: 0.2rem solid var(--color-1);
    border-right: 0.2rem solid var(--color-1);
    border-radius: 0.5rem;
    text-align: left;
    padding-bottom: 2rem;

    span.inner-html-wrapper {
      ::ng-deep {
        span {
          display: inline;
        }
      }
    }

    h6 {
      margin: 1rem 0 2rem 0;
      text-align: left;
      color: var(--color-2);
    }

    span {
      text-align: left;
    }
  }
}

h6 {
  color: var(--color-1);
  margin: 3rem 0 2rem 0;
}

.quote-title {
  cursor: pointer;
}

.quotes {
  width: min(140rem, 90vw);
  margin: 0 auto;
}

.quote-wrapper {
  position: relative;
  display: block;
  color: var(--text-1);
}

.quote-text {
  color: var(--text-1);
  display: flex;
  position: relative;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;

  span {
    font-size: 1.4rem;
    font-weight: 500;
  }

  mat-icon {
    color: var(--color-3);
    min-width: 2.5rem;
    position: relative;
    top: -0.4rem;
  }
}

.invert-color {
  filter: invert(1);
}

.edit-quote {
  position: absolute;
  display: inline;
  bottom: 0.5rem;
  right: 0.5rem;
  color: var(--color-2);
}

::ng-deep app-person-page {
  p {
    padding: 0.4rem 0;
    font-size: 1.4rem;
  }

  strong {
    color: var(--color-1);
    font-weight: 400;
    font-size: 1.4rem;
  }

  em {
    color: var(--color-2);
    font-style: normal;
    font-size: 1.4rem;
  }
}

.related-title.birthday {
  cursor: pointer;
}

button.icon-button {

  mat-icon {
    color: var(--color-1);

    &.red {
      color: var(--color-2);
    }
  }
}

.quote-printscreen {
  position: relative;
  cursor: pointer;
  color: var(--color-2);
  left: 0.5rem;
  top: 0.5rem;
}

.click-link-item {
  color: var(--color-1);
  height: 1.3rem;
  width: 1.3rem;
  font-size: 1.6rem;
}

.instagram-post {
  color: var(--color-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;

  mat-icon {
    display: inline-block;
    margin-right: 0.5rem;
  }

  &:hover {
    color: var(--color-4);
  }
}

.action-buttons {
  p {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    text-align: left;
    margin-top: 1rem;
    cursor: pointer;
  }

  span {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-4);
    text-transform: uppercase;
  }
}

mat-icon.star-icon {
  position: relative;
  font-size: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  color: var(--color-4);
}

.action-buttons mat-icon {
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;

  &.copy-button {
    color: var(--color-1);
  }
}

.person-image-and-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-block: 2rem;
}

.top-block {
  margin: 0;
}

.top-block-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;

  &.category {

    mat-icon,
    &:hover {
      color: var(--color-2);
    }
  }

  &.epoch {

    mat-icon,
    &:hover {
      color: var(--color-1);
    }
  }
}

.data-wrapper {
  padding-top: 1rem;
}

.extra-data {
  display: inline-block;
}

app-horizontal-scroll {
  position: relative;
  left: -2rem;
  display: block;
  width: min(calc(100vw), calc(100% + 4rem));
}

.clickable {
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  color: var(--color-2);
}