@let loggedAsAdmin = authService.loginAdmin$ | async;
@let selectedPerson = person();
@let epoch = personEpoch()! | idToName : epochs() | translit;
@let personName = selectedPerson?.commonName | translit;
@let personFirstName = selectedPerson?.firstName | translit;
@let personSurname = selectedPerson?.lastName | translit;
@let bornYear = selectedPerson?.birthYear | translit;
@let personNickname = selectedPerson?.nickName | translit;
@let personCategory = selectedPerson?.category! | idToName : categories() | translit;
@let personIsAlive = !selectedPerson?.age;
@let clickableDate = (selectedPerson?.birthDeath! | splitBirthday)[0];
@let nonClickableDate = (selectedPerson?.birthDeath! | splitBirthday)[1];
@let lifeAge = selectedPerson ? (selectedPerson?.age | yearsOld : selectedPerson! | translit) : null;
@let keyNotes = personKeynotes();
@let darkMode = themeService.isDarkMode();
@let imgCross = 'assets/images/cross.png';
@let instagrams = instagramPosts();
@let tags = personTags();
@let quoteList = quotes();
@let songList = songs();
@let surnameList = sameLastNameList();
@let firstNameList = sameFirstNameList();
@let birthdayList = sameBirthdayList();
@let birthYearList = sameBirthYearList();
@let sameCategoryList = relatedPersons();
@let externals = externalLinks();
@let favourited = favouritedByUser();

@if(selectedPerson) {
<div class="page-wrapper">

  <!-- Person Name -->
  <h1 class="page-title"><span>{{ personName }}</span></h1>

  <!-- Top Block -->
  <div class="top-block">

    @if(selectedPerson.fullTitle) {
    <div class="full-title">
      {{ selectedPerson.fullTitle | translit}}
    </div>
    }
    <div class="top-block-row category"
      (click)="goToCategoryPage()">
      <mat-icon class="">category</mat-icon>
      {{ personCategory }}
    </div>

    <div class="top-block-row epoch"
      (click)="goToCategoryPage()">
      <mat-icon class="">date_range</mat-icon>
      {{ epoch }}
    </div>
  </div>

  <!-- Image and side data -->
  <div class="person-image-and-info">

    <!-- Image -->
    <div class="image-wrapper">
      <img class="person-image image-shadow-filter"
        loading="lazy"
        [src]="selectedPerson.imagePath"
        appDefaultLogo />
    </div>

    <!-- Side Data -->
    <div class="data-wrapper">
      @if(selectedPerson.fullName !== selectedPerson.commonName) {
      <div class="main-data-title">{{'Право име' | translit}}</div>
      <div class="main-data-text">{{ selectedPerson.fullName | translit}}</div>
      } @else if(personNickname) {
      <div class="main-data-title">{{Glossary.nickName | translit}}</div>
      <div class="main-data-text">{{ personNickname }}</div>
      }

      @if(selectedPerson.city) {
      <div class="main-data-title">{{'Место рођења' | translit}}</div>
      <div class="main-data-text">{{ selectedPerson.city | translit }}</div>
      }

      @if(selectedPerson.birthDeath) {
      <div class="main-data-title">
        @if(personIsAlive) {
        {{Glossary.birthOnly | translit}}
        } @else {
        {{Glossary.birthDeath | translit}}
        }
      </div>

      <div class="main-data-text">
        @if(clickableDate) {
        <span class="clickable"
          (click)="onBirth()">{{ clickableDate }}
        </span>
        }{{ nonClickableDate }}.
      </div>
      }

      @if(selectedPerson.birthDeath){
      <div class="main-data-title">{{'Године' | translit}}</div>
      <div class="main-data-text">{{ lifeAge }}
        @if(!personIsAlive) {
        <img class="deceased"
          [class.invert-color]="darkMode"
          [src]="imgCross"
          loading="lazy"
          alt="deceased" />
        }
      </div>
      }
    </div>
  </div>

  <!-- 2. Description -->
  @if(selectedPerson.shortDescription) {
  <div class="person-description">
    {{ selectedPerson.shortDescription | translit}}
  </div>
  }

  <!-- 3. Tags -->
  @if(tags?.length) {
  <div class="tags">
    @for (tag of personTags(); track tag.id) {
    <app-tag-item [tag]="tag" />
    }
  </div>
  }

  <!-- Favorites -->
  <div class="action-buttons">
    @let titleTrue = personName + ' је ваш фаворит!' | translit;
    @let titleFalse = 'Додајте у Ваше фаворите.' | translit;
    @let titleNull = 'Додајте у Ваше фаворите.' | translit;

    @switch (favourited) {
    @case (true) {
    <p (click)="onFullStar()">
      <mat-icon class="star-icon">star</mat-icon>
      <span>{{titleTrue}}</span>
    </p>
    } @case (false) {
    <p (click)="onEmptyStar()">
      <mat-icon class="star-icon">
        star_border
      </mat-icon>
      <span>{{titleFalse}}</span>
    </p>
    } @case (null) {
    <p (click)="onNullStar()">
      <mat-icon class="star-icon">
        star_border
      </mat-icon>
      <span>{{titleNull}}</span>
    </p>
    }
    }

    <!-- <mat-icon class="copy-button"
        (click)="onCopy()">
        content_copy
      </mat-icon>-->
  </div>

  <!-- 4. Horizontal Scrolls -->
  @if (instagrams?.length) {
  <app-horizontal-scroll #instagramScroll
    [textOnly]="true"
    mainTitle="Инстаграм галерија"
    [subtitle]="'Објаве: ' + personName | translit"
    [method]="onInstragram">
    @for (post of instagrams; track post.id; let i = $index) {
    <ul>
      <li (click)="onInstagramBox(post.link)">
        <mat-icon>open_in_new</mat-icon>
        {{post.title}}
      </li>
    </ul>
    }
  </app-horizontal-scroll>
  }

  @if (quoteList?.length) {
  <app-horizontal-scroll #quoteScroll
    mainTitle="Издвојени цитати"
    [subtitle]="'Аутор: ' + personName | translit"
    [method]="onQuoteHeadline">
    @defer (on viewport(quoteScroll)) {
    @for (quote of quoteList; track quote.id; let i = $index) {
    <app-mini-text [index]="i"
      [dynamicSize]="true"
      (click)="onCopyQuote(quote.text)"
      (dblclick)="onEditQuote(quote.id)"
      [item]="quote" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
  }

  @if (songList?.length) {
  <app-horizontal-scroll #songScroll
    mainTitle="Издвојенe песме"
    [subtitle]="'Аутор: ' + personName | translit"
    [method]="onSongHeadline">
    @defer (on viewport(songScroll)) {
    @for (song of songList; track song.id; let i = $index) {
    <app-mini-text [index]="i"
      [dynamicSize]="true"
      [fade]="true"
      (click)="onSong(song.slug)"
      [item]="song" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
  }

  @if (keyNotes?.length) {
  <app-horizontal-scroll #keynotesScroll
    [mainTitle]="Glossary.keyNotes"
    subtitle="Кључне године"
    [method]="onKeynotes">
    @defer (on viewport(keynotesScroll)) {
    @for (note of keyNotes; track note.year; let i = $index) {
    <app-mini-text [index]="i"
      [item]="note" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
  }

  @if(surnameList?.length) {
  <app-horizontal-scroll #surnameScroll
    mainTitle="Истог презимена"
    [subtitle]="personSurname"
    [method]="onSurname">
    @defer (on viewport(surnameScroll)) {
    @for (card of surnameList; track card.id) {
    <app-person-mini-card [card]="card" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
  }

  @if(firstNameList?.length) {
  <app-horizontal-scroll #nameScroll
    mainTitle="Истог имена"
    [subtitle]="personFirstName"
    [method]="onName">
    @defer (on viewport(nameScroll)) {
    @for (card of firstNameList; track card.id) {
    <app-person-mini-card [card]="card" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
  }

  @if(birthdayList?.length) {
  <app-horizontal-scroll #birthdayScroll
    mainTitle="Истог датума рођени"
    [subtitle]="clickableDate| birthMonthDate"
    [method]="onBirthdayHeadline">
    @defer (on viewport(birthdayScroll)) {
    @for (card of birthdayList; track card.id) {
    <app-person-mini-card [card]="card" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
  }

  @if(birthYearList?.length) {
  <app-horizontal-scroll #birthYearScroll
    mainTitle="Исте године рођени"
    [subtitle]="'Генерација ' + bornYear"
    [method]="onBirthYearHeadline">
    @defer (on viewport(birthYearScroll)) {
    @for (card of birthYearList; track card.id) {
    <app-person-mini-card [card]="card" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
  }

  @if(sameCategoryList?.length) {
  <app-horizontal-scroll #sameEpochScroll
    mainTitle="Иста епоха"
    [subtitle]="epoch"
    [method]="onSameEpoch">
    @defer (on viewport(sameEpochScroll)) {
    @for (card of sameCategoryList; track card.id) {
    <app-person-mini-card [card]="card" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
  }

  <app-horizontal-scroll #linkScroll
    mainTitle="Екстерни линкови"
    subtitle="Откријте више...">
    @defer (on viewport(linkScroll)) {
    @for (box of externals; track box; let i = $index) {
    <app-mini-box (clickEmitter)="onLink($event)"
      [box]="box | miniBoxParser: i : imagePrefix" />
    }
    } @placeholder (minimum 500ms) {
    <br />
    }
  </app-horizontal-scroll>
</div>
}

<!-- Admin Buttons -->
@if(loggedAsAdmin) {

<button class="add-button-large"
  mat-icon-button
  color="primary"
  (click)="onPrintscreen(false)">
  <mat-icon>stay_current_landscape</mat-icon>
</button>

<button class="add-button-large second"
  mat-icon-button
  color="primary"
  (click)="onPrintscreen(true)">
  <mat-icon>stay_current_portrait</mat-icon>
</button>

<button class="add-button-large third"
  mat-icon-button
  color="primary"
  (click)="onAddQuote()">
  <mat-icon>format_quote</mat-icon>
</button>

<button class="add-button-large fourth"
  mat-icon-button
  color="primary"
  (click)="onAddSong()">
  <mat-icon>music_note</mat-icon>
</button>

<button class="add-button-large fifth"
  mat-icon-button
  color="primary"
  (click)="onEdit()">
  <mat-icon>edit</mat-icon>
</button>
}