@if (form) {
<form [formGroup]="form"
  [class.fit]="fit">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <textarea [attr.rows]="rows"
      matInput
      [formControlName]="control">
      </textarea>
    @if (!ignoreErrorHint && form.controls[control].errors) {
    <mat-hint class="danger">УПОЗОРЕЊЕ</mat-hint>
    }
  </mat-form-field>
</form>
}