form {
  width: min(120rem, calc(100% - 2rem));
  display: inline-block;

  &.fit {
    width: 100%;
    margin: 0;
  }

  mat-form-field {
    width: calc(100% - 4rem);
  }
}

.danger {
  color: red !important;
}