@if (form) {
<form [formGroup]="form">
  <app-form-text control="text"
    label="Текст цитата"
    [wider]="true" />
  <app-form-text control="authorName"
    label="Назив аутора" />
  <app-form-text control="authorSlug"
    [slug]="true"
    label="Слуг аутора" />
  <app-form-text control="slug"
    [slug]="true"
    label="Слуг цитата" />
  <app-form-select control="type"
    [items]="quoteTypes"
    label="Тип цитата" />
  <app-form-checkbox control="important"
    label="Издвојено" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>

  @if(id) {
  <button id="delete"
    mat-flat-button
    (click)="onDelete()">
    Обриши
  </button>
  }
</form>
}