$mapWidth: 35rem;
$mapHeight: 48.2rem;
$mapWidthBigger: 44rem;
$mapHeightBigger: 64.24rem;

.serbian-map-container {
  width: $mapWidth;
  height: $mapHeight;
  overflow: visible;
  position: relative;
  user-select: none;
  margin-inline: auto;
  touch-action: pan-y pan-x !important;

  &.doubleZoomContainer {
    height: 100vh;
    width: 100vw;
    max-width: 66rem;
    overflow: auto;
    z-index: 99999;
    background: var(--background);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.map-holder {
  height: $mapHeight;
  width: $mapWidth;
  position: relative;
  margin: 0rem auto 3rem auto;
  overflow: visible;
}

.bigger {
  width: 100vw;
  max-width: $mapWidthBigger;
  height: $mapHeightBigger;

  .map-holder {
    height: $mapHeightBigger;
    width: $mapWidthBigger;
  }
}

.serbian-map-container.small {
  width: 0.33 * $mapWidth;
  height: 0.33 * $mapHeight;
  position: relative;
  top: 8rem;

  .map-holder {
    width: 0.33 * $mapWidth;
    height: 0.33 * $mapHeight;
  }
}

.doubleZoomLevel.map-holder {
  width: 4 * $mapWidth;
  height: 4 * $mapHeight;
}

.zoom-level-picker {
  @media (min-width: 600px) {
    display: none;
  }

  position: absolute;
  z-index: 5;
  right: 0;
  top: 3rem;
  color: var(--text-2);
  border: 0.1rem solid var(--shadow);
  border-radius: 1rem;
  padding: 0.5rem 1rem;

  span {
    display: inline-block;
    margin: 0.5rem 1rem 0;
    cursor: pointer;
    color: var(--text-3);
  }

  .active {
    color: var(--color-1);
    font-weight: 500;
  }

}

.serbia-map {
  height: 100%;
  width: 100%;
  user-select: none;
  filter: drop-shadow(0.25rem 0.25rem 0.5rem var(--shadow));

  :hover {
    filter: drop-shadow(0.25rem 0.25rem 0.5rem var(--color-1));
  }
}

.invert {
  filter: invert(1);

  :hover {
    filter: invert(0.9);
  }
}

.city-placeholder {
  position: absolute;
  cursor: pointer;
  background: var(--background);
  border-radius: 50%;
  border: 0.2rem solid var(--color-1);
  transition: transform .2s ease-in-out;

  &.invisible {
    border: 0 !important;
    height: 0 !important;
    width: 0 !important;
    border: 0;
  }

  &.size-0 {
    height: 1.4rem;
    width: 1.4rem;
  }

  &.size-1 {
    height: 1rem;
    width: 1rem;
  }

  &.size-2 {
    height: 0.8rem;
    width: 0.8rem;
  }

  &.size-3 {
    height: 0.6rem;
    width: 0.6rem;
    border-width: 0.2rem;
  }

  &.size-4 {
    height: 0.2rem;
    width: 0.2rem;
    border-width: 0.2rem;
  }

  &:hover {
    z-index: 20;
  }
}

.map-holder.doubleZoomLevel .city-placeholder {
  &.size-0 {
    height: 2.5rem;
    width: 2.5rem;
  }

  &.size-1 {
    height: 2rem;
    width: 2rem;
  }

  &.size-2 {
    height: 1.6rem;
    width: 1.6rem;
  }

  &.size-3 {
    height: 1.2rem;
    width: 1.2rem;
    border-width: 0.2rem;
  }

  &.size-4 {
    height: 0.8rem;
    width: 0.8rem;
    border-width: 0.2rem;
  }
}

.city-image-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom: 0.1rem solid var(--divider-color);
  cursor: pointer;
}

img.city-logo {
  height: 10rem;
  padding-block: 1rem;
  margin: 0 auto;
}

div.city-stats {
  text-align: center;
  padding: 0.3rem 1rem;
  min-width: 20rem;
  overflow: hidden;
}

div.city-stats>div {
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

div.city-stats div.city-name {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
  color: var(--text-1);
  border-bottom: 0.1rem solid var(--divider-color);
}

div.city-stats div:not(.city-name) {
  text-align: left;
  color: var(--text-2);
  padding: 0.3rem 0;

  mat-icon {
    font-size: 1.8rem;
    height: 1.5rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    color: var(--color-4);
  }

  &.region span {
    font-weight: 500;
  }

  &:not(.region) span {
    font-weight: 400;
  }

  span {
    font-size: 1.5rem;
    display: inline-block;
    width: 6rem;
    text-align: left;
    white-space: nowrap;
    position: relative;
    line-height: 1.8rem;
  }
}

div.city-buttons {
  padding: 0 1rem 0.5rem;

  mat-icon {
    margin: 0;
    margin-right: 0.6rem;
    padding: 0;
    $size: 1.4rem;
    font-weight: 600;
    height: $size;
    width: $size;
    font-size: $size;
  }
}

button.menu-button {
  padding: 0.3rem;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--text-1);

  &:first-child {
    border-top: 0.1rem solid var(--divider-color);
  }
}

.licence-plate {
  color: var(--text-2);
  display: inline-block;
  margin-left: 0.5rem;
}

.height span.post-number {
  color: var(--text-2);
  display: inline-block;
  margin-left: 0.2rem;
}

.zoomed-city {
  position: absolute;
  top: -2.2rem;
  left: auto;
  right: auto;
  padding: 0.2rem 0.5rem;
  text-shadow: -1px -1px 0 var(--background),
    1px -1px 0 var(--background),
    -1px 1px 0 var(--background),
    1px 1px 0 var(--background);
  font-weight: 500;
  white-space: nowrap;
  z-index: 10;
  transform: translateX(-50%);

  @media (orientation: portrait) {
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.external-country {
  position: absolute;
  display: inline;
  color: var(--shadow-font);
  cursor: pointer;
  font-size: 1.4rem;

  @media (orientation: portrait) {
    font-size: 1.3rem;
  }

  &:hover {
    color: var(--text-1);
    transform: scale(1.06);
  }

  &.croatia {
    top: 15%;
    transform: rotate(80deg);

    @media (width < 380px) {
      left: -9%;
    }

    @media (381px < width < 700px) {
      left: -10%;
    }

    @media (width > 700px) {
      left: -11%;
    }

    @media (width > 1000px) {
      left: -10%;
    }
  }

  &.bosnia {
    top: 47%;
    transform: rotate(82deg);

    @media (width < 700px) {
      left: -3%;
    }

    @media (width > 700px) {
      left: -3%;
    }

    @media (width > 1000px) {
      left: -1%;
    }
  }

  &.montenegro {
    top: 70%;
    left: 7%;
    transform: rotate(40deg);
  }

  &.albania {
    top: 88%;
    left: 22%;
    transform: rotate(42deg);
  }

  &.macedonia {
    top: 92%;
    left: 62%;
    transform: rotate(-8deg);
  }

  &.bulgary {
    top: 60%;
    left: 88%;
    transform: rotate(45deg);
  }

  &.romania {
    top: 15%;
    left: 50%;
    transform: rotate(32deg);
  }

  &.hungary {
    left: 0%;
    transform: rotate(-20deg);

    @media (width < 380px) {
      top: -2%;
    }

    @media (381px < width < 1000px) {
      top: -2%;
    }

    @media (width > 1000px) {
      top: -1%;
    }
  }
}

.serbian-map-container:hover div.button-group {
  display: block;
}

div.button-group {
  display: none;
  position: absolute;
  z-index: 15;
  top: 1%;
  right: 1%;

  &.zoomed {
    @media (width < 800px) {
      right: 45%;
    }
  }

  button.switch {
    background-color: var(--background);
    border: 0.1rem solid var(--divider-color);
    color: var(--text-1);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    margin-left: 0.5rem;
    outline: 0;
    cursor: pointer;

    &:hover {
      background-color: var(--background-2);
    }
  }

  button.switch-active {
    background-color: var(--color-1);
    border: 0.1rem solid var(--color-1);
    color: var(--background);

    &:hover {
      background-color: var(--color-1);
    }
  }
}

div.name-tag {
  font-size: 1rem;
  line-height: 1rem;
  transform: translateX(-50%);
  display: block;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  text-shadow:
    -1px -1px 0 var(--background),
    1px -1px 0 var(--background),
    -1px 1px 0 var(--background),
    1px 1px 0 var(--background);

  &.tag-size-0 {
    font-size: 2rem;
  }

  &.tag-size-1 {
    font-size: 1.8rem;
  }

  &.tag-size-2 {
    font-size: 1.6rem;
  }

  &.tag-size-3 {
    font-size: 1.4rem;
  }
}