<div id="table-wrapper">
  <div class="filter-row flex">
    <div class="spacer"></div>
    <button class="shortcut-button"
      mat-stroked-button
      (click)="onShortcut()"
      color="primary">
      Картице
    </button>
    <button class="add-button"
      mat-flat-button
      (click)="onAddButton()"
      color="primary">
      Додај догађај
    </button>
  </div>

  @if (events$ | async; as events) {
  <app-table [items]="events"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    (editEmitter)="onEditButton($event)"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>