mat-form-field {
  width: 50rem;
  max-width: calc(100% - 4rem);
}

.repeat-item {
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  color: var(--color-3);

  &:hover {
    color: var(--color-5);
  }
}