@if (form) {
<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <mat-select [formControlName]="control"
      multiple>
      @for (item of items; track item.id) {
      <mat-option [value]="item.id">
        {{item.name}}
      </mat-option>
      }
    </mat-select>
    @if (showHint) {
    <mat-hint class="danger">
      <span class="check-hints">
        @if(repeatItems.length) {
        @for (item of repeatItems; track item.id) {
        <span class="repeat-item"
          (click)="onRepeatItem(item.id)">
          {{ item.name || item.title }}
        </span>
        }
        } @else {
        <span>Понови!</span>
        }
      </span>
    </mat-hint>
    }
  </mat-form-field>
</ng-container>
}