@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    [wider]="true"
    label="Назив светиње" />
  <app-form-text control="place"
    [wider]="true"
    label="Локација" />
  <app-form-text control="slug"
    label="Слуг светиње"
    [slug]="true" />
  <app-form-select control="type"
    label="Тип"
    [items]="churchTypes" />
  <app-form-text control="yearMonth"
    label="година.месец" />
  <app-form-text control="dates"
    label="Датум описно" />
  <app-form-text control="founder"
    label="Оснивач" />
  <app-form-text control="founderSlug"
    label="Слуг оснивача" />
  <br>
  <app-form-textarea control="description"
    label="Опис" />
  <br>
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}