@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    [wider]="true"
    label="Назив манифестације" />
  <app-form-text control="place"
    [wider]="true"
    label="Локација" />
  <app-form-text control="slug"
    label="Слуг"
    [slug]="true" />
  <app-form-select control="type"
    label="Тип"
    [items]="manifestationTypes" />
  <app-form-text control="externalLink"
    label="Спољна веза" />
  <br>
  <app-form-textarea control="description"
    [label]="Glossary.shortDescription" />
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}