mat-form-field {
  width: 50rem;
  max-width: calc(100% - 4rem);
}

.check-hints {
  color: var(--color-1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  right: 1.2rem;
}

.danger {
  color: red !important;
}