@if (form) {
<ng-container [formGroup]="form">
  <mat-form-field appearance="outline"
    [class.wider]="wider">
    <mat-label>{{ label }}</mat-label>
    <mat-select [formControlName]="control">
      @for (item of items; track item.id) {
      <mat-option [value]="item.id">
        {{ item.name }}
      </mat-option>
      }
    </mat-select>
    @if (!ignoreErrorHint && form.controls[control].errors) {
    <mat-hint class="danger">
      <span class="check-hints"
        (click)="checkHints()">Понови! </span>
      УПОЗОРЕЊЕ
    </mat-hint>
    }
  </mat-form-field>
</ng-container>
}