h5.headline {
  cursor: pointer;
  position: relative;
  text-align: left;
  max-width: max(50rem, 50vw);
  margin-block: 7rem 1rem;
  padding-block: 0.7rem 0rem;
  padding-inline: 2rem 3rem;
  user-select: none;

  mat-icon {
    color: var(--color-1);
    position: absolute;
    right: 2rem;
    top: 3rem;

    @media (max-width: 370px) {
      right: 1rem;
      top: 0.5rem;
    }
  }
}

.headline-title {
  color: var(--color-1);
  text-align: left;
  font-size: 2.7rem;
  text-transform: uppercase;

  @media (max-width: 370px) {
    font-size: 2.3rem;
  }
}

.headline-subtitle {
  text-align: left;
  color: var(--color-4);
  font-size: 1.8rem;

  @media (max-width: 370px) {
    font-size: 1.8rem;
  }
}

.scroll-container {
  margin: 1rem;
  padding-left: 1rem;
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  white-space: nowrap;
  text-align: left;
  overflow-y: hidden;
  touch-action: auto;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

::ng-deep .scroll-container.text-only {
  flex-direction: column;
  gap: 0.8rem;

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-1);
    font-size: 1.6rem;

    mat-icon {
      color: var(--color-1);
      transform: scale(0.9);
    }

    &:hover {
      color: var(--color-1);
    }
  }

}