.search-header {
  margin: 2rem auto;
  text-align: center;
}

.category-button-div {
  margin: 1rem;
  display: flex;
  justify-content: center;

  button {
    margin: 0 1rem;
  }
}

button.category-button {
  border-color: var(--color-2);

  ::ng-deep span.mdc-button__label {
    color: var(--color-2);
  }
}

button.tag-button {
  border-color: var(--color-1);

  ::ng-deep span.mdc-button__label {
    color: var(--color-1);
  }
}

button.birthday-button {
  border-color: var(--text-2);

  ::ng-deep span.mdc-button__label {
    color: var(--text-2);
  }
}

.search-form {
  width: 90%;
  margin: 1rem auto;
  min-height: 40vh;
}

.search-field {
  width: 100%;
  margin: 0;
}

.autocomplete-option ::ng-deep {
  span.mdc-list-item__primary-text {
    align-items: center;
    display: flex;
  }

  img.item-image {
    height: 5rem;
    width: 3rem;
    object-fit: cover;
    object-position: center top;
    margin: 1rem;
  }

  div.item-name {
    display: block;
    color: var(--text-1);
    margin-right: 1rem;
    margin-bottom: 0.3rem;
  }

  small {
    display: inline-block;
    color: var(--text-2);

    span {
      color: var(--color-3);
    }
  }
}

.warning-message {
  color: var(--color-4);
  font-size: 1.3rem;
  position: relative;
  top: -1.5rem;
  left: 0.5rem;

  &.info {
    color: var(--color-1);
  }
}

.recent-searches {
  margin: 0 1rem;
  display: flex;
  width: min(100%, calc(100vw - 3rem));
  align-items: center;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
  }

  &::-webkit-scrollbar-track {
    box-shadow: 0;
  }
}

img.recent-image {
  height: 6rem;
  width: 4rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center top;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--text-2);
  cursor: pointer;
}