<div id="table-wrapper">
  <div class="filter-row flex">

    <div class="spacer"></div>

    <mat-form-field appearance="outline">
      <mat-label>Претрага</mat-label>
      <input matInput
        [formControl]="searchControl" />
    </mat-form-field>

    <button class="shortcut-button"
      mat-stroked-button
      (click)="onShortcut()"
      color="primary">
      Календар
    </button>

    <button class="add-button"
      mat-flat-button
      color="primary"
      (click)="onAddButton()">
      Додај личност
    </button>
  </div>

  <!-- Table -->
  @if (items.length) {
  <app-table [items]="items"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [extraButton]="true"
    (extraButtonEmitter)="onExtraButton($event)"
    (rightClickEmitter)="onContextMenuButton($event)"
    (editEmitter)="onEditButton($event)"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>