<div id="table-wrapper">
  <div class="filter-row flex">
    <div class="spacer"></div>
    <button class="add-button"
      mat-flat-button
      (click)="onAddButton()"
      color="primary">
      Додај спортски успех
    </button>
  </div>

  @if (sports$ | async; as sports) {
  <app-table [items]="sports"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    (editEmitter)="onEditButton($event)"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>