.breadcrumbs {
  display: flex;
  justify-content: flex-start;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  mat-icon {
    margin: 0 0.5rem 0 0.5rem;
  }
}

.step-1 {
  @extend .step,
}

.step-2 {
  @extend .step,
}

.step-3 {
  @extend .step,
}

.step-text {
  font-weight: 500;
  text-transform: uppercase;
}

.step-1-view {
  display: flex;
  margin: 0;
  max-width: 90rem;
  gap: 2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.step-2-view {
  display: flex;
  margin: 1rem;
  width: min-content;
  flex-direction: column;
  justify-content: flex-start;
}

.step-3-view {
  display: flex;
  margin: 2rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  >* {
    cursor: pointer;
  }
}

.block-item {
  flex-shrink: 0;
  display: flex;
  border-width: 0.2rem;
  user-select: none;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: var(--shadow);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform .05s ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-blend-mode: normal, color, normal;
  height: 15rem;
  width: 25rem;
  transition: transform 0.5s ease;

  &:hover {
    border-color: var(--text-1);
  }

  @media (max-width: 565px) {
    width: calc(100vw - 5rem);
  }

  &:hover {
    transform: scale(1.05);

    * {
      font-weight: 500;
    }
  }
}

.block-item-icon {
  transform: scale(2);
  margin-bottom: 2rem;
}

.block-item-title {
  font-weight: 500;
  user-select: none;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.box-1 {

  * {
    color: var(--color-3);
  }
}

.box-2 {

  * {
    color: var(--color-2);
  }
}

.box-3 {

  * {
    color: var(--color-1);
  }
}

.box-4 {

  * {
    color: var(--color-4);
  }
}

.box-5 {

  * {
    color: var(--color-5);
  }
}

.box-6 {

  * {
    color: var(--color-6);
  }
}

.option-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  user-select: none;
  border: 0.2rem solid var(--shadow);
  cursor: pointer;

  mat-icon.option-item-icon {
    color: var(--text-1);
    margin-right: 1rem;
  }

  span.option-item-title {
    color: var(--text-1);
    display: inline-block;
    width: 25rem;
    text-align: left;
    user-select: none;
    font-size: 1.6rem;
    padding-inline: 2rem;
  }

  &:hover {
    border-color: var(--text-1);

    mat-icon.option-item-icon,
    span.option-item-title {
      color: var(--color-1);
    }
  }
}