@let loggedAsAdmin = authService.loginAdmin$ | async;
@let items = items$ | async;


<div class="page-wrapper">
  <h1 class="page-title">
    <span>{{'Знаменитости' | translit}}</span>
  </h1>

  @if (loggedAsAdmin) {
  <button class="add-button-large"
    mat-icon-button
    color="primary"
    (click)="onAddButton()">
    <mat-icon>add</mat-icon>
  </button>
  }

  @if (loggedAsAdmin && currentStep === 3) {
  <button class="add-button-large second"
    mat-icon-button
    color="primary"
    (click)="onPrintscreenSights()">
    <mat-icon>desktop_mac</mat-icon>
  </button>
  }

  @if (currentStep !== 1) {
  <div class="breadcrumbs">
    <div class="step-1"
      (click)="goToStep1()">
      <mat-icon class="step-icon">home</mat-icon>
    </div>
    @if (currentStep > 1) {
    <mat-icon>chevron_right</mat-icon>
    }
    @if (currentStep > 1) {
    <div class="step-2"
      [ngClass]="currentBox.style"
      (click)="goToStep2()">
      <mat-icon class="step-icon">{{currentBox?.icon}}</mat-icon>
      @if (currentStep === 2) {
      <span class="step-text gagalin">{{currentBox?.title | translit}}</span>
      }
    </div>
    }
    @if (currentStep === 3) {
    <mat-icon>chevron_right</mat-icon>
    }
    @if (currentStep === 3) {
    <div class="step-3"
      [ngClass]="currentBox.style">
      <span class="step-text gagalin">{{currentOption?.title | translit}}</span>
    </div>
    }
  </div>
  }

  @if (currentStep === 1) {
  <div class="step-1-view">
    @for (box of heritageBoxes; track box) {
    <div class="block-item"
      [ngClass]="box.style"
      [style.backgroundImage]="imagePrefix + box.image"
      (click)="setStep2(box.path)">
      <mat-icon class="block-item-icon">{{box.icon}}</mat-icon>
      <span class="block-item-title">{{box.title | translit}}</span>
    </div>
    }
  </div>
  }

  @if (currentStep === 2) {
  <div class="step-2-view">
    @for (option of pathOptions; track option) {
    @if (option.box === boxPath) {
    <div class="option-item"
      (click)="setStep3(option.path)">
      <span class="option-item-title">{{option.title | translit}}</span>
    </div>
    }
    }
  </div>
  }

  @if (currentStep === 3) {
  <div class="step-3-view">
    @if (items) {
    @for (item of items; track item) {
    @if (currentBox.path === HeritageUrls.churches) {
    <app-church-card [item]="item"
      (click)="onItem(item, items)" />
    }
    @if (currentBox.path === HeritageUrls.memorials || currentBox.path === HeritageUrls.nature) {
    <app-memorial-card [item]="item"
      [isNature]="currentBox.path === HeritageUrls.nature"
      (click)="onItem(item, items)" />
    }
    @if (currentBox.path === HeritageUrls.manifestations) {
    <app-memorial-card [item]="item"
      [isManifestation]="true"
      (click)="onItem(item, items)" />
    }
    @if (currentBox.path === 'drzavni-simboli') {
    <app-symbol-card [item]="item"
      (click)="onItem(item, items)"
      view="shorten" />
    }
    @if (currentBox.path === 'slave-i-praznici') {
    <app-saint-card [item]="item"
      (click)="onItem(item, items)"
      view="shorten" />
    }
    }
    }
  </div>
  }

</div>