.single-item {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 30rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border-top: 0.2rem solid var(--color-2);
  border-left: 0.2rem solid var(--color-2);
  border-bottom: 0.2rem solid var(--color-1);
  border-right: 0.2rem solid var(--color-1);

  h6 {
    text-transform: uppercase;
  }

  @media (orientation: portrait) and (max-width: 500px) {
    margin-right: 0;
  }

  &.full {
    height: 42rem;
  }

  &.shorten {
    height: 26rem;

    .item-title {
      min-height: 3.8rem;
      text-align: center;
      display: block;
    }
  }
}

.edit-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: var(--text-2);
}

div.item-image-div {
  border-radius: 1rem;
  overflow: hidden;
}

h6.item-title {
  text-transform: uppercase;
  display: flex;
  margin-bottom: 1rem;

  img {
    cursor: pointer;
    height: 2rem;
    margin-left: 1rem;
  }
}

.item-data {
  position: relative;
  font-size: 1.3rem;
  color: var(--text-1);

  &.date {
    margin-top: 1rem;
  }

  &.desc {
    width: 27rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: justify;
    max-height: 14rem;
    overflow: auto;
    padding-right: 1rem;

    &::-webkit-scrollbar {
      width: 0.3rem;
      border-radius: 50%;
    }


    &::-webkit-scrollbar-thumb {
      background: var(--color-1);
    }
  }

  b {
    cursor: pointer;
    font-weight: 500;
    color: var(--color-1);

    &:hover {
      color: var(--color-2);
    }
  }
}

img.item-image {
  height: 18rem;
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 0.5rem;
}

.flag {
  h6.item-title {
    height: 4rem;
  }

  div.item-image-div {
    border-radius: 0;
    text-align: center;
  }

  img.item-image {
    border-radius: 0;
    max-height: 16rem;
    width: auto;
    height: auto;
    max-width: 25rem;
    margin: 0 auto;
    border: 1px solid var(--divider-color);
  }
}