@if (item) {
<div class="single-item"
  [ngClass]="view">
  <h6 class="item-title">
    {{ item.name | translit}}
    @if (authService.loginAdmin$ | async) {
    <mat-icon class="edit-button"
      (click)="onEdit()">
      construction
    </mat-icon>
    }
  </h6>
  <div class="item-image-div">
    <img class="item-image"
      loading="lazy"
      [src]="item.imagePath"
      appDefaultLogo
      [alt]="item.name | translit">
  </div>
  @if (view === 'full') {
  @if (item.date) {
  <div class="item-data date">
    {{'Временски период' | translit}}: {{ item.date | translit}}
  </div>
  }
  <div class="item-data author">
    @if (item.author) {
    {{'Аутор' | translit}}:
    }
    @if (!item.authorSlug) {
    {{ item.author | translit}}
    }
    @if (item.authorSlug) {
    <b (click)="onLeader(item.authorSlug)">
      {{ item.author | translit}}
    </b>
    }
  </div>
  <div class="item-data desc">{{ item.description | translit }}</div>
  }
</div>
}