@let loggedAsAdmin = authService.loginAdmin$ | async;
@let items = items$ | async;

<div class="page-wrapper chronology-wrapper">
  <h1 class="page-title">
    <span>{{'Времеплов' | translit}}</span>
  </h1>

  @if (loggedAsAdmin) {
  <button class="add-button-large"
    mat-icon-button
    color="primary"
    (click)="onAddButton()">
    <mat-icon>add</mat-icon>
  </button>
  }


  @if (currentStep !== 1) {
  <div class="breadcrumbs">
    <div class="step-1"
      (click)="goToStep1()">
      <mat-icon class="step-icon">home</mat-icon>
    </div>
    @if (currentStep > 1) {
    <mat-icon>chevron_right</mat-icon>
    }
    @if (currentStep > 1) {
    <div class="step-2"
      [ngClass]="currentBox.style">
      <mat-icon class="step-icon">{{currentBox?.icon}}</mat-icon>
      @if (currentStep === 2) {
      <span class="step-text gagalin">{{currentBox?.title | translit}}</span>
      }
    </div>
    }
  </div>
  }



  @if (currentStep === 1) {
  <div class="step-1-view">
    @for (box of chronologyBoxes; track box) {
    <div class="block-item"
      [ngClass]="box.style"
      [style.backgroundImage]="imagePrefix + box.image"
      (click)="setStep2(box.path)">
      <mat-icon class="block-item-icon">{{box.icon}}</mat-icon>
      <span class="block-item-title">{{box.title | translit}}</span>
    </div>
    }
  </div>
  }

  @if (showStep2Data) {
  <div class="step-2-view"
    [style.height]="zoomDefault + 'rem'">
    <div class="vertical-line"></div>
    @if (items) {
    @for (item of items; track item.id; let i = $index) {
    @if(boxPath !== 'biografije-velikana') {
    @defer (on viewport) {
    <div class="dot-position"
      (click)="onItem(item, items)"
      [style.top]="items | timelineTop : i">
      <span class="item-box">
        <div class="item-title">
          <span>{{item.age}}</span> - {{item.title | translit}}
        </div>
        <div class="item-description multiline-ellipsis"
          [innerHtml]="item.innerHtml | removeHtmlTags | translit"></div>
      </span>
      @if (loggedAsAdmin) {
      <mat-icon class="edit-icon"
        (contextmenu)="onEditAux(item.id)"
        (click)="onEdit($event, item.id)">
        construction
      </mat-icon>
      }
    </div>
    } @placeholder (minimum 100ms) {
    <br />
    }
    } @else {
    <div class="dot-position"
      (click)="onPerson(item.slug)"
      [style.top]="items | timelineTop : i">
      <span class="item-box">
        <div class="item-title"><span>{{item.birthYear}}</span> - {{item.commonName | translit}}</div>
        <div class="item-description multiline-ellipsis"
          [innerHtml]="item.shortDescription | translit"></div>
      </span>
      @if (loggedAsAdmin) {
      <mat-icon class="edit-icon"
        (click)="onEditPerson($event, item.id)">
        construction
      </mat-icon>
      }
    </div>
    }
    }
    }
  </div>
  }

</div>