.page-content {
  text-align: center;
  margin-top: 2rem;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  mat-icon {
    margin: 0 0.5rem 0 0.5rem;
  }
}

.step-1 {
  @extend .step,
}

.step-2 {
  @extend .step,
}

.step-3 {
  @extend .step,
}

.step-text {
  font-weight: 500;
  text-transform: uppercase;
}

.step-1-view {
  display: flex;
  margin: 0;
  max-width: 90rem;
  gap: 2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.step-2-view {
  display: block;
  position: relative;
  margin: 3rem 1rem;
  justify-content: flex-start;
  flex-direction: column;
  width: min-content;
}

.block-item {
  flex-shrink: 0;
  display: flex;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: var(--shadow);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform .05s ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-blend-mode: normal, color, normal;
  height: 15rem;
  width: 25rem;
  transition: transform 0.5s ease;

  &:hover {
    border-color: var(--text-1);
  }

  @media (max-width: 565px) {
    width: calc(100vw - 5rem);
  }

  &:hover {
    transform: scale(1.05);

    * {
      font-weight: 500;
    }
  }
}

.block-item-icon {
  transform: scale(2);
  margin-bottom: 2rem;
}

.block-item-title {
  font-weight: 500;
  user-select: none;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.box-1 {

  * {
    color: var(--color-3);
  }
}

.box-2 {

  * {
    color: var(--color-2);
  }
}

.box-3 {
  * {
    color: var(--color-1);
  }
}

.box-4 {
  * {
    color: var(--color-4);
  }
}

.box-5 {
  * {
    color: var(--color-5);
  }
}

.box-6 {
  * {
    color: var(--color-6);
  }
}

.option-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0.1rem dotted var(--text-2);
  cursor: pointer;

  mat-icon.option-item-icon {
    color: var(--text-1);
    margin-right: 1rem;
  }

  span.option-item-title {
    color: var(--text-1);
    display: inline-block;
    width: 20rem;
    text-align: left;
  }

  &:hover {
    border-color: var(--color-1);

    mat-icon.option-item-icon,
    span.option-item-title {
      color: var(--color-1);
    }
  }
}

.single-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: min(35rem, 100%);
  text-align: center;
  border: 0.2rem solid var(--divider-color);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  height: 16rem;
  cursor: pointer;

  &:hover {
    border: 0.2rem solid var(--color-1);
  }
}

.item-year {
  color: var(--color-2);
  font-size: 1.6rem;
  font-weight: 500;
}


::ng-deep .chronology-wrapper .item-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  white-space: pre-wrap;
  font-size: 1.3rem !important;

  * {
    font-size: 1.3rem !important;
  }

  a {
    color: var(--text-1);
    text-decoration: none;

    &:hover {
      font-weight: 500;
      color: var(--color-5);
    }
  }
}

.item-epoch {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 0.2rem dotted var(--divider-color);
  color: var(--text-2);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem;
}


mat-icon.edit-icon {
  color: var(--color-2);
  right: 0rem;
  font-size: 1.5rem;
  height: 1.5rem;
  left: -2rem;
  top: 2rem !important;
  position: absolute;
  cursor: pointer;
}

.vertical-line {
  height: 100%;
  width: 0.5rem;
  border-radius: 1rem;
  background-color: var(--color-1);
  position: absolute;
  top: 0;
  left: 0.3rem;
  z-index: 1;
}

.dot-position {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  user-select: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-1);
  background-color: var(--background);
  cursor: pointer;

  mat-icon.edit-icon {
    position: absolute;
    top: 0;
  }

  .arrow-right {
    position: absolute;
    top: 0.3rem;
    left: 3.65rem;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid var(--color-1);
  }

  .arrow-left {
    position: absolute;
    top: 0.3rem;
    left: -0.57rem;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right: 0.5rem solid var(--color-1);
  }

  &:hover {
    z-index: 99 !important;
    border-color: var(--color-2);

    .dot-year {
      color: var(--color-2);
    }

    .item-box {
      border-color: var(--color-2);
    }

    .arrow-left {
      border-right-color: var(--color-2);
    }

    .arrow-right {
      border-left-color: var(--color-2);
    }
  }
}

.dot-year {
  position: absolute;
  white-space: nowrap;
  left: 0rem;
  top: 0rem;
  text-align: center;
  font-size: 1.1rem;
  user-select: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-1);
}

.item-box {
  position: absolute;
  text-align: left;
  user-select: none;
  top: -1rem;
  background: var(--background);
  color: var(--text-1);
  border: 0.2rem solid var(--color-1);
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  left: 1.5rem;
  align-items: flex-start;
  width: min(100rem, 100vw - 10rem);
}

.item-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 0.4rem 0;
  color: var(--color-1);

  span {
    color: var(--color-2);
    display: inline-block;
    font-weight: 500;
  }

  @media (min-width: 700px) {
    font-size: 1.6rem;

    * {
      font-size: 1.6rem;
    }
  }
}

::ng-deep .item-description {
  font-size: 1.2rem;
  color: var(--text-1);

  * {
    font-size: 1.2rem;
    color: var(--text-1);
    text-decoration: none;
  }

  @media (min-width: 700px) {
    -webkit-line-clamp: 2;
    font-size: 1.5rem;

    * {
      font-size: 1.5rem;
    }
  }
}