@if (form) {
<form [formGroup]="form">
  <app-form-text control="title"
    label="Назив објаве" />
  <app-form-text control="slug"
    label="Слуг"
    [slug]="true" />
  <app-form-select control="type"
    [items]="types"
    label="Тип објаве" />
  <br>
  <app-form-number control="likes"
    label="likes" />
  <app-form-number control="comments"
    label="comments" />
  <app-form-number control="shares"
    label="shares" />
  <app-form-number control="saves"
    label="saves" />
  <br>
  <app-form-number control="reach"
    label="reach" />
  <app-form-number control="views"
    label="views" />
  <app-form-text control="embeddedCode"
    [wider]="true"
    label="Инстаграм код" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}