.heritage-wrapper {
  position: relative;
  display: inline-block;
  width: 27rem;
  height: 40rem;
  border: 0.2rem solid var(--divider-color);
  border-radius: 0.5rem;
  text-align: center;
  user-select: none;

  @media (orientation: portrait) {
    width: min(38rem, calc(100vw - 5rem));
  }
}

h4.heritage-title {
  max-width: 24rem;
  margin: 1.6rem auto;
}

.box-items-wrapper {
  display: block;
  margin: 0 auto;
  height: calc(100% - 8rem);
  width: calc(100% - 3rem);
}

.box-item {
  border: 0.1rem solid var(--divider-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;

  mat-icon {
    margin-inline: 0.5rem;
    transform: scale(0.8);
  }

  span {
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    min-width: 13.6rem;
    text-align: left;
  }

  &.one,
  &.one mat-icon {
    color: var(--color-1);
  }

  &.two,
  &.two mat-icon {
    color: var(--color-2);
  }

  &.three,
  &.three mat-icon {
    color: var(--color-3);
  }

  &.four,
  &.four mat-icon {
    color: var(--color-4);
  }

  &.five,
  &.five mat-icon {
    color: var(--color-5);
  }

  &.six,
  &.six mat-icon {
    color: var(--color-6);
  }
}