<div class="heritage-wrapper">

  <h4 class="heritage-title margin uppercase"
    (click)="onHeadline()">
    {{Glossary.heritageTitle | translit}}
  </h4>

  <div class="box-items-wrapper">
    <div class="box-item one"
      (click)="onSpiritual()">
      <mat-icon>church</mat-icon>
      <span>{{Glossary.churches | translit}}</span>
    </div>

    <div class="box-item two"
      (click)="onSaint()">
      <mat-icon>calendar_month</mat-icon>
      <span>{{'Славе и празници' | translit}}</span>
    </div>

    <div class="box-item three"
      (click)="onNature()">
      <mat-icon>forest</mat-icon>
      <span>{{'Природна добра' | translit}}</span>
    </div>

    <div class="box-item six"
      (click)="onMemorial()">
      <mat-icon>account_balance</mat-icon>
      <span>{{'Здања и споменици' | translit}}</span>
    </div>

    <div class="box-item four"
      (click)="onSymbol()">
      <mat-icon>flag</mat-icon>
      <span>{{'Државни симболи' | translit}}</span>
    </div>

    <div class="box-item five"
      (click)="onManifestations()">
      <mat-icon>stadium</mat-icon>
      <span>{{'Манифестације' | translit}}</span>
    </div>
  </div>

</div>