.quiz-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 35rem;
  height: 40rem;
  border: 0.2rem solid var(--shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem 1rem;

  @media (orientation: portrait) {
    width: min(38rem, calc(100vw - 8rem));
  }
}

.quiz-wrapper.shorten {
  height: 30rem;
  width: auto;
  text-align: left;
  padding: 1rem;

  * {
    text-align: left !important;
  }

  .quiz-header,
  mat-icon {
    display: none;
  }

  .intro-content {
    margin-top: 0;
  }

  span.game-result .game {
    width: 9rem;
  }
}

.quiz-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--text-1);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

.quiz-title {
  text-align: center;
}

.intro-content {
  text-align: left;
  margin-top: 2rem;
  padding: 0.3rem 2rem;
}

.intro-text {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;

  b {
    color: var(--color-1);
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.score-text {
  padding: 1rem 0;
  width: 26rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;

  .title {
    margin-bottom: 1rem;
  }

}

.game-name {
  padding: 0.3rem 0;
}

.footer-intro {
  margin: 1rem auto;
  text-align: center;
}

mat-icon {
  color: var(--color-1);
  transform: scale(2);
  display: block;
  margin: 0 auto 1rem auto;
}

.game-result {
  display: block;
  margin-top: 0.2rem;
  font-size: 1.4rem;

  .game {
    display: inline-block;
    width: 12rem;
    text-align: right;
    margin-right: 0.5rem;
  }

  .result {
    display: inline-block;
    width: 5rem;
    text-align: left;
    margin-left: 0.5rem;
    font-style: normal;
    color: var(--color-1);

  }
}

.goodbay-message {
  text-align: center;
  font-size: 1.5rem;

  span {
    color: var(--color-1);
  }
}