<div class="quiz-wrapper"
  [ngClass]="{'shorten': shorten}">
  <div class="quiz-header">
    <div class="quiz-title">{{'КВИЗ ЗНАЊА' | translit}}</div>
  </div>

  <!-- no score -->
  @if (!totalScore) {
  <div class="intro-content">
    <mat-icon>quiz</mat-icon>
    <p class="intro-text">
      {{'Тестирај своје знање!' | translit}}
      <br>
      <br>{{'Сваког дана те чека' | translit}}
      <br> <b>{{'5 игара' | translit}}</b>
      <br> {{'са новим питањима.' | translit}}
      <br>
      <br> <b>{{'Jедном дневно' | translit}}</b>
      <br> {{'можеш да играш,' | translit}}
      <br> {{'зато се добро фокусираj!' | translit}}
    </p>
    <div class="footer-intro">
      <button class="game-footer-button"
        (click)="goToQuiz()"
        mat-flat-button>{{'Хајде да се играмо!' | translit}}</button>
    </div>
  </div>
  }
  <div>

    <!-- has score -->
    @if (totalScore) {
    <div class="intro-content">
      <mat-icon>quiz</mat-icon>
      <p class="score-text">
        <span class="title">Данашњи учинак:</span>
        <br>
        <span class="game-result">
          <span class="game">Прва игра: </span>
          <span class="result">{{gamePoints[0]}}</span>
        </span>
        <span class="game-result">
          <span class="game">Друга игра: </span>
          <span class="result">{{gamePoints[1]}}</span>
        </span>
        <span class="game-result">
          <span class="game">Трећа игра: </span>
          <span class="result">{{gamePoints[2]}}</span>
        </span>
        <span class="game-result">
          <span class="game">Четврта игра: </span>
          <span class="result">{{gamePoints[3]}} </span>
        </span>
        <span class="game-result">
          <span class="game">Пета игра: </span>
          <span class="result">{{gamePoints[4]}}</span>
        </span>
      </p>
      @if (gamePoints[4]) {
      <div class="goodbay-message">
        Од максимално могућих 100 поена,
        <br>
        освојили сте <span>{{totalScore}}</span> поен(а).
        <br>
        <br>Видимо се сутра са новим питањима!
        <br>Спортски поздрав!
      </div>
      }
      @if (!gamePoints[4]) {
      <div class="goodbay-message">
        Нисте завршили данашњи квиз,
        <br>
        али игре које сте одиграли су упамћене!
        <br>
        <br>
        <button class="game-footer-button"
          (click)="goToQuiz()"
          mat-flat-button>Одиграј до краја!</button>
      </div>
      }
    </div>
    }