mat-drawer-content {
  background: var(--background);
}

#splash-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background);

  img {
    margin-top: 9.5rem;
    margin-left: 10rem;
    width: min(40rem, 100vw - 8rem);
    height: auto;

    @media (orientation: portrait) {
      margin-left: 0;
      margin-top: 8.5rem;
    }
  }
}

.spinner-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 30vh;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

span.city-mixer-wrapper {
  text-align: center;
  position: relative;
  top: 7rem;
}

.city-mixer {
  color: var(--color-1);
  white-space: nowrap;
  font-weight: 500;
  font-size: 3.5rem;
  padding: 0 2rem;
  letter-spacing: 2px;
  font-family: 'Gagalin';

  &.red {
    color: var(--color-2);
  }

  &.blue {
    color: var(--color-1);
  }
}

$measure: 70px;
$color: var(--canva-blue);
$width: 5px;
$speed: 1500ms;

.loader {
  position: absolute;
  top: 3rem;
  left: calc(50% - $measure);
  width: 2 * $measure;
  height: 2 * $measure;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one $speed linear infinite;
  border-bottom: $width solid $color;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two $speed linear infinite;
  border-right: $width solid $color;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three $speed linear infinite;
  border-top: $width solid $color;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}