@import '../../../assets/scss/custom-defaults.scss';

.scroll-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: normal;
  user-select: none;
  cursor: pointer;
  gap: 1rem;

  margin-right: 0;
  margin-block: 0;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  border-style: solid;
}

.scroll-box {
  @extend .scroll-item;
  height: 20rem;
  width: 20rem;
  vertical-align: top;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-blend-mode: normal, color, normal;
}

mat-icon.scroll-item-icon {
  transform: scale(2);
  transition: transform 0.5s ease;
  margin-bottom: 2rem;
}

img.image {
  height: 5rem;
  transition: transform 0.5s ease;
  position: relative;
  top: -2rem;
}

.invert-color {
  filter: invert(1);
}

.scroll-item-title {
  user-select: none;
  transition: transform 0.5s ease;
  text-align: center;
  padding-inline: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.box-1 {

  * {
    color: var(--color-3);
  }
}

.box-2 {

  * {
    color: var(--color-2);
  }
}

.box-3 {

  * {
    color: var(--color-1);
  }
}

.box-4 {

  * {
    color: var(--color-4);
  }
}

.box-5 {

  * {
    color: var(--color-5);
  }
}

.box-6 {

  * {
    color: var(--color-6);
  }
}

/* Text Over */
div.scroll-box.text-over {
  position: relative;
  overflow: hidden;

  img.image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &:hover {
    span.scroll-item-title {
      background: rgba(255, 255, 255, 0.541);
    }
  }

  span.scroll-item-title {
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: white;
    padding: 1rem 1rem 1rem;
    left: 0;
    right: 0;
    font-weight: 500;
    font-size: 1.6rem;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 1));

    $shadow: rgb(62, 62, 62);
    text-shadow:
      -1px -1px 0 $shadow,
      1px -1px 0 $shadow,
      -1px 1px 0 $shadow,
      1px 1px 0 $shadow;
  }
}

.elements {
  font-size: 3rem;
}