.white-outline {
  $positive: 1px;
  $negative: -1px;
  $color: rgb(218, 218, 218);
  text-shadow:
    $negative $negative 0 $color,
    $positive $negative 0 $color,
    $negative $positive 0 $color,
    $positive $positive 0 $color;
}

.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(5/4) * 41rem;
  width: 41rem;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('/assets/images/dark_background_2.jpg'),
    url('/assets/images/dark_background_2.jpg');
  background-position-x: center;
  background-blend-mode: hard-light;
  background-size: cover;
  background-repeat: no-repeat;

  @media (orientation: portrait) {
    height: calc(5/4) * 100vw;
    width: 100vw;
  }
}

h1.person-name {
  @extend .white-outline;
  margin-block: 1rem 1.5rem;
  font-family: 'Gagalin';
  color: var(--canva-blue);
  font-size: 3rem;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 500;
  width: auto;
  text-transform: uppercase;
  white-space: nowrap;
  padding-left: 3rem;
  padding-top: 1rem;
}

button {
  margin: 0.5rem auto 1rem auto;
}

img.person-image {
  margin-block: 0.5rem;
  position: relative;
  background: radial-gradient(circle, #ffffff, #c7c7c7, #6b6b6b);
  z-index: 2;
  height: 21rem;
  width: 15rem;
  object-fit: cover;
  object-position: center top;
  border: 0.2rem solid var(--divider-color);
  border-radius: 1rem;
}

.details-segment {
  margin-bottom: 1rem;

  h6 {
    font-size: 1.5rem;
    color: #fcffd3;
    font-weight: 500;
  }

  p {
    font-size: 1.5rem;
    color: white;
    font-weight: 500
  }

  strong {
    @extend .white-outline;
    font-family: 'Gagalin';
    color: var(--canva-red);
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 0rem;
    display: block;
    text-transform: uppercase;
  }
}

.divider {
  width: calc(100% - 4rem);
  margin-top: 0.8rem;
  margin-inline: 2rem;
  border-top: 0.2rem dotted var(--divider-color);
}

.description {
  margin-inline: 2rem;
  line-height: 2rem;
  color: var(--text-1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.details {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.left-side {
  border-right: 0.3rem solid var(--color-2);
  margin-right: 0.2rem;
  text-align: right;
  width: 48%;
  padding-right: 1rem;
}

.right-side {
  padding-left: 1rem;
  border-left: 0.3rem solid var(--color-1);
  margin-left: 0.2rem;
  width: 52%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5rem;
}

.input-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 1rem;
}

.logo-wrapper {
  background-color: transparent;
  height: 9rem;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  width: 100%;
  padding-right: 2rem;
  text-align: right;
  padding-bottom: 2rem;
  background: linear-gradient(to bottom,
      #ffffff00 0%,
      #ffffff24 100%);

  img {
    height: 3.5rem;
    position: relative;
    top: 3.5rem;
    filter: drop-shadow(0.5px 0.5px 1px #ffffff) drop-shadow(-0.5px -0.5px 1px #ffffff);
  }
}

.footer-line {
  font-weight: 500;
  font-family: 'Gagalin';
  letter-spacing: 2px;
  color: var(--background);
  position: absolute;
  bottom: 1rem;
  right: 0;
  display: inline-flex;
  min-width: 50%;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  padding: 1rem 2rem 1rem 8rem;
  background: linear-gradient(90deg,
      transparent 0%,
      var(--canva-red) 40%,
      var(--canva-red) 100%,
    );
}