@if (person) {
<div mat-dialog-content
  class="dialog-wrapper">
  <h1 class="person-name">{{person.commonName}}</h1>
  <div class="details">
    <div class="left-side">
      <img class="person-image image-shadow-filter"
        (click)="onImage()"
        loading="lazy"
        [src]="person.imagePath" />
    </div>
    <div class="right-side">
      @if (person.fullTitle) {
      <div class="details-segment">
        <strong>{{person.fullTitle}}</strong>
      </div>
      }
      @if (person.city) {
      <div class="details-segment">
        <h6>Место рођења</h6>
        <p>{{person.city}}</p>
      </div>
      }
      <div class="details-segment">
        <h6>
          @if (!person.age) {
          Датум рођења
          }
          @if (person.age) {
          Датум рођења и смрти
          }
        </h6>
        <p>{{person.birthDeath}}
          ({{ person.age | yearsOld : person: true }})
        </p>
      </div>
      <div class="details-segment">
        <h6>Категорија</h6>
        <p>{{person.category | idToName : categories}}</p>
      </div>
      <div class="details-segment">
        <h6>Епоха</h6>
        <p>{{person.epoch | idToName : epochs}}</p>
      </div>
    </div>
  </div>
  <div class="divider">
  </div>
  <p class="description"
    [style.fontSize.px]="descFontSize"
    [style.height.rem]="descHeight + (showLogo ? 0 : 4)"
    (click)="decreaseFont()">
    {{person.shortDescription}}
  </p>
  @if (showInput) {
  <input class="input-bottom"
    type="text"
    (blur)="showInput = false"
    (change)="onInputChange($event)">
  }

  @if(showLogo) {
  <div class="logo-wrapper"
    (click)="showLogo = false">
    <img src="assets/images/gallery-logo-text-outline.png"
      alt="Logo Galerija" />
  </div>
  }
</div>
}