@if (form) {
<form [formGroup]="form">
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <app-form-checkbox control="trending"
    label="Насловна" />
  <br>
  <app-form-select control="group"
    label="Група"
    [items]="tagItems" />
  <app-form-text control="name"
    label="Таг" />
  <app-form-text control="slug"
    label="Слуг"
    [slug]="true" />
  <br>
  <app-form-text control="population"
    label="Општина - популација" />
  <app-form-text control="area"
    label="Општина - површина" />
  <app-form-text control="region"
    label="Град - управни округ" />
  <br>
  <app-form-text control="postNumber"
    label="Град - поштански број" />
  <app-form-text control="callPrefix"
    label="Град - позивни број" />
  <app-form-text control="licencePlate"
    label="Град - регистрација" />
  <br>
  <app-form-text control="cityDate"
    label="Дан града (мм.дд)" />
  <app-form-text control="height"
    label="Град - висина" />
  <br>
  <app-form-textarea control="description"
    [rows]="10"
    label="Опис" />
  <app-form-textarea control="cityHistory"
    [rows]="10"
    label="Историја" />
  <app-form-textarea control="cityGeography"
    [rows]="10"
    label="Географија" />
  <app-form-textarea control="cityDemography"
    [rows]="10"
    label="Демографија" />
  <app-form-textarea control="cityCulture"
    [rows]="10"
    label="Култура" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}