button#save {
  width: 20rem;
  margin: 0;
  position: fixed;
  right: 0;
  bottom: 10%;
  z-index: 999;
  border-radius: 0;

  @media (max-width: 50rem) {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 5.5rem !important;
    left: 0;
    bottom: 0rem;
  }
}