.single-item {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border-top: 0.2rem solid var(--color-2);
  border-left: 0.2rem solid var(--color-2);
  border-bottom: 0.2rem solid var(--color-1);
  border-right: 0.2rem solid var(--color-1);
  width: 50rem;
  height: 27rem;

  @media (max-width: 1800px) {
    margin-right: 2rem;
    width: 33rem;
    height: auto;
    white-space: normal;
    margin-bottom: 2rem;

    @media (max-width: 500px) {
      margin-right: 0;
    }

    &.shorten {
      width: 33rem;
      height: 34rem;
    }
  }

  @media (orientation: landscape) {
    &.shorten {
      width: 32rem;
      height: 27rem;

      .item-image-div {
        width: 28rem;
        height: 20rem;
      }
    }
  }

}

.content-holder {
  display: flex;

  flex-direction: row;

  div {
    display: inline-block;

    &.item-data {
      width: calc(100% - 22rem);
      margin-left: 2rem;
      max-height: 20rem;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0.3rem;
        border-radius: 50%;
      }


      &::-webkit-scrollbar-thumb {
        background: var(--color-1);
      }
    }

    &.item-image-div {
      width: 20rem;
      height: 20rem;
    }
  }

  @media (max-width: 1800px) {
    flex-direction: column;

    div {
      &.item-data {
        width: 100%;
        margin-left: 0;
        max-height: unset;
      }

      &.item-image-div {
        margin-bottom: 1rem;
        width: 100%;
        border-radius: 0;
        height: 28rem;
      }
    }
  }
}

div.item-image-div {
  border-radius: 1rem;
  overflow: hidden;
  width: 33rem;
}

img.item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 0.5rem;
}

h6.item-title {
  text-transform: uppercase;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;

  .calendar {
    background-color: var(--color-1);
    color: var(--background);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    white-space: nowrap;
    cursor: pointer;

    &.movable {
      background-color: var(--color-3);
    }
  }

  .item-name {
    font-weight: 500;
  }
}

.item-data {
  position: relative;
  font-size: 1.4rem;
  color: var(--text-1);

  &.location {
    margin-top: 1rem;
  }

  &.age {
    margin-bottom: 1rem;
  }
}

.edit-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: var(--color-2);
  cursor: pointer;
}