@if (item) {
<div mat-dialog-content
  class="dialog-wrapper">

  @if(showLogo) {
  <div class="logo-wrapper"
    (click)="showLogo = false">
    <img src="assets/images/gallery-logo-text-outline.png"
      alt="Logo Galerija" />
  </div>
  }

  @if (storyDate) {
  <div class="main-title">
    <section (click)="onStoryTitle()">{{storyTitle | uppercase}}</section>
    <span>{{storyDate | uppercase}}</span>
  </div>
  }

  <img class="item-image"
    (click)="changeIndex()"
    loading="lazy"
    [src]="item?.imagePath" />

  <h3 class="title gagalin"
    [style.fontSize.px]="descTitleSize"
    (click)="decreaseTitleFont()">{{item.name || item.title}}</h3>

  <p class="description"
    [style.fontSize.px]="descFontSize"
    (click)="decreaseFont()"
    [innerHTML]="styleFirstWord(item?.description)">
  </p>

</div>
}