.main-title {
  position: absolute;
  font-family: 'Gagalin';
  letter-spacing: 2px;
  left: 1.3rem;
  display: inline-block;
  margin-inline: auto;
  top: 7rem;
  background: var(--background-gradient);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--text-2);
  padding: 0.5rem 1rem 0.5rem 1.2rem;
  font-size: 2.1rem;
}

.main-title section {
  display: inline;
  font-family: 'Gagalin';
  letter-spacing: 2px;
  color: var(--color-2);
  font-size: inherit;
}

.main-title span {
  display: inline;
  font-family: 'Gagalin';
  letter-spacing: 2.5px;
  color: var(--canva-blue);
  font-size: inherit;
}

.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(16/9) * 41rem;
  width: 41rem;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  padding-top: 10rem;
  background-image: url('/assets/images/background-light.webp');
  background-position-x: center;
  background-position-x: center;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;

  @media (orientation: portrait) {
    height: calc(16/9) * 100vw;
    width: 100vw;
  }
}

.logo-wrapper {
  position: absolute;
  top: 1.5rem;
  right: 2rem;

  img {
    height: 4rem;
    width: auto;
  }
}

img.item-image {
  margin: 3rem 2rem 0;
  margin-top: 3rem;
  position: relative;
  z-index: 2;
  height: 25rem;
  max-width: calc(100% - 4rem);
  object-fit: cover;
  object-position: center top;
  border: 0.3rem solid var(--canva-yellow);
  border-radius: 1rem;
}

h3.title {
  font-size: 2.5rem;
  text-align: left;
  color: var(--color-4);
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem 2rem;
}

.description {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-block: 0;
  text-align: left;
  font-weight: 500;
}