@if (form) {
<form [formGroup]="form">
  <app-form-select control="type"
    [items]="songTypes"
    label="Тип поезије" />
  <app-form-text control="title"
    [slug]="true"
    label="Наслов песме" />
  <app-form-text control="authorName"
    label="Назив аутора" />
  <app-form-text control="authorSlug"
    [slug]="true"
    label="Слуг аутора" />
  <app-form-text control="slug"
    [slug]="true"
    label="Слуг песме" />
  <app-form-checkbox control="important"
    label="Издвојено" />
  <br>

  <div class="quill-wrapper">
    <quill-editor formControlName="innerHtml"
      [styles]="{height: '40rem', width: '100%'}">
    </quill-editor>
  </div>

  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>

  @if(id) {
  <button id="delete"
    mat-flat-button
    (click)="onDelete()">
    Обриши
  </button>
  }
</form>
}