@import '../../../assets/scss/custom-defaults.scss';

.item {
  @extend .scroll-item;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 28rem;
  padding: 1rem 2rem;
  margin-top: 0.5rem;
}

div.item.fixed {
  border-right: 0;
  background: var(--background);
  border-top-right-radius: 0;
  margin-top: 0.7rem;
  margin-bottom: 0;
  border-bottom-right-radius: 0;
}

.title {
  display: block;
  color: var(--color-1);
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

img.item-image {
  width: 24rem;
  height: 24rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--divider-color);
}

.text {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-block: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}