@if (item) {
<div class="item"
  [ngClass]="{'fixed': fixed}">
  <div class="title">{{item.title || item.name | translit}}</div>
  <img class="item-image"
    loading="lazy"
    [src]="item.imagePath"
    appDefaultLogo
    [alt]="item.title | translit">
  <div class="text">
    {{item.description | translit}}
  </div>
</div>
}