@if (form) {
<form [formGroup]="form">
  <app-form-text control="title"
    [wider]="true"
    label="Назив догађаја" />
  <app-form-text control="slug"
    label="Слуг"
    [slug]="true" />
  <app-form-number control="day"
    label="Дан" />
  <app-form-number control="month"
    label="Месец" />
  <app-form-textarea control="description"
    [label]="Glossary.shortDescription" />
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}