<div id="table-wrapper">
  <div class="filter-row flex">
    <div class="spacer"></div>
  </div>

  @if (users$ | async; as users) {
  <app-table [items]="users"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>