<div id="table-wrapper">
  <div class="filter-row flex">
    <div class="spacer"></div>
  </div>

  @if (messages$ | async; as messages) {
  <app-table [items]="messages"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>