@if (list.length) {
<div>
  <div class="game-quiz-subtitle">{{'Пета игра' | translit}}</div>
  <div class="game-quiz-title">{{'Година прође, дан никад!' | translit}}</div>
  <div class="game-quiz-mission">
    {{'Погоди годину када се одређени историјски догађај десио. Добићеш одређене поене и ако будеш довољно близу!' | translit}}
  </div>
  <div class="game-block">
    @for (item of list; track item; let i = $index) {
    <div class="game-item"
      [class.correct-answer]="item.correctOrder === true"
      [class.wrong-answer]="item.correctOrder === false">
      <div class="item-content game-five-content">
        <div class="item-title">{{item.title | translit}}</div>
        <span class="text-html"
          [innerHtml]="item.innerHtml | translit"></span>
      </div>
      <mat-form-field class="game-input"
        appearance="outline">
        <mat-label>{{'Година' | translit}}</mat-label>
        <input matInput
          numbersOnly
          type="number"
          [(ngModel)]="result[i]" />
        @if (!!gamePoints) {
        <mat-hint>
          {{'Тачан одговор' | translit}}: {{correctOrderValues[i]}} ({{'поена' | translit}}: {{item.gamePoints}})
        </mat-hint>
        }
      </mat-form-field>
    </div>
    }
  </div>
  <div class="game-footer-block">
    <br>
    @if (!gamePoints) {
    <button class="game-footer-button"
      (click)="checkGameFive()"
      mat-flat-button>{{'Провери' | translit}}</button>
    }
    @if (!!gamePoints) {
    <br>
    <div class="game-score">
      @if (gamePoints === 20) {
      {{'Браво! Освојено максималних' | translit}} <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
      }
      @if (gamePoints > 10 && gamePoints < 20)
        {
        {{'Врло
        добро!
        Освојено'
        |
        translit}}
        <br>
        <b>{{gamePoints}}</b>
        {{'поена' | translit}}
        }
        @if (gamePoints > 1 && gamePoints <= 10)
          {
          {{'Није
          лоше!
          Освојено'
          |
          translit}}
          <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
          }
          @if (gamePoints === 1) {
          {{'Све погрешно! Ипак, изволи' | translit}}<br> <b>{{gamePoints}}</b> {{'мотивациони поен' | translit}}
          }
          {{'у петој игри!' | translit}}
    </div>
    <button class="game-footer-button success"
      (click)="onNext()"
      mat-flat-button>
      {{'Иди даље' | translit}}
    </button>
    }
  </div>
</div>
}