.game-item {
  text-align: center;
  margin: 2rem 2rem 0 2rem;
  padding-top: 2rem;
  border-top: 0.2rem dashed var(--divider-color);
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  width: 15rem;
  margin: 1.5rem 0 1rem 0;
  cursor: default;
}

mat-hint {
  text-align: center;
  width: 100%;
  position: unset;
}

.game-block div.item-content {
  font-size: 1.5rem;
  flex: 1;
  text-align: center;
}

.item-title {
  margin: 0 auto 1rem;
}

::ng-deep {
  .game-block .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  .text-html,
  .text-html * {
    color: var(--text-2) !important;
    font-size: 1.3rem !important;
    text-decoration: none;
  }
}