<div id="table-wrapper">
  <div class="filter-row flex">
    <div class="spacer"></div>

    <button class="add-button"
      mat-flat-button
      (click)="onAddButton()"
      color="primary">
      Додај белешку
    </button>
  </div>

  @if (notes$ | async; as items) {
  <app-table [items]="items"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    (cellClickEmitter)="onCellClick($event)"
    (editEmitter)="onEditButton($event)"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>