@if (list.length) {
<div class="game-1">
  <div class="game-quiz-subtitle">{{'Прва игра' | translit}}</div>
  <div class="game-quiz-title">{{'ОД КУЛИНА БАНА...' | translit}}</div>
  <div class="game-quiz-mission">
    {{'Превлачењем поређај личности почевши од најстарије ка најмлађој' | translit}}
  </div>
  <div class="game-one-list drag-drop"
    cdkDropList
    [cdkDropListDisabled]="!!gamePoints"
    [cdkDropListData]="list"
    (cdkDropListDropped)="onDropGame1($event)">
    @for (item of list; track item) {
    <div cdkDrag>
      <div class="game-one-item">
        <img [src]="item.imagePath"
          appDefaultLogo
          alt="item.commonName">
        <div class="game-item"
          [class.correct-answer]="item.correctOrder === true"
          [class.wrong-answer]="item.correctOrder === false">
          <h6>{{item.commonName | translit}}</h6>
          <p class="item-title">{{item.fullTitle | translit}}</p>
        </div>
      </div>
    </div>
    }
    <div class="game-footer-block">
      @if (!gamePoints) {
      <button class="game-footer-button"
        (click)="checkGameOne()"
        mat-flat-button>
        {{'Провери' | translit}}
      </button>
      }
      @if (gamePoints) {
      <div class="game-score">
        @if (gamePoints === 20) {
        {{'Браво! Освојено максималних' | translit}}
        <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
        }
        @if (gamePoints > 10 && gamePoints < 20)
          {
          {{'Врло
          добро!
          Освојено'|
          translit}}
          <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
          }
          @if (gamePoints > 1 && gamePoints <= 10)
            {
            {{'Није
            лоше!
            Освојено'|
            translit}}
            <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
            }
            @if (gamePoints === 1) {
            {{'Све погрешно! Ипак, изволи'| translit}}<br> <b>{{gamePoints}}</b> {{'мотивациони поен'| translit}}
            }
            {{'у првој игри!'| translit}}
      </div>
      <button class="game-footer-button success"
        (click)="onNext()"
        mat-flat-button>
        {{'Иди даље'| translit}}
      </button>
      }
    </div>
  </div>
</div>
}