.game-one-list {
  padding: 0;
}

.game-one-item {
  display: flex;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--divider-color);
  border-radius: 0.4rem;
  cursor: grab;
  background: var(--background);
}

img {
  width: 5rem;
  height: 7rem;
  object-fit: cover;
  object-position: center top;
  margin-right: 2rem;
  border-radius: 0.2rem;
}

.item-text,
.game-item {
  text-align: left;
  display: flex;
  flex-direction: column;

  h6 {
    color: var(--color-1);
    font-size: 1.6rem;
  }

  p {
    margin-top: 0.3rem;
    color: var(--text-1);
    font-size: 1.4rem;
  }
}