<div mat-dialog-content
  class="dialog-wrapper">

  <div class="items-block"
    [ngClass]="{'single': itemsDisplayed === 1, 
    'flex-start': showDesc, 
    'grid-items': itemsDisplayed === 6}">
    @for (item of items; track item; let i = $index) {
    @if (i < itemsDisplayed)
      {
      @if
      (itemsDisplayed===1)
      {
      <h1
      class="page-title"
      (click)="switchView()">
      <span>{{item.name}}</span>
      </h1>
      }
      <div class="item"
        [ngClass]="{'multi-items': itemsDisplayed > 1}">
        @if (itemsDisplayed > 1) {
        <div class="item-content">
          <h5 class="item-name"
            (click)="switchView()"
            [ngClass]="{'smaller-font': itemsDisplayed === 6
                && item.name.length > 30}">{{item.name}}</h5>
          @if (itemsDisplayed !== 6) {
          <p class="item-location">{{item.place}}</p>
          }
        </div>
        }

        <img class="item-image"
          (click)="onRemove(item)"
          [src]="item.imagePath"
          [alt]="item.name">
      </div>
      @if (showDesc && itemsDisplayed === 1) {
      <div class="item-description"
        [style.fontSize.px]="descSizePx"
        (click)="onDescription()">
        {{item.description}}
      </div>
      }
      }
      }
  </div>

  @if (showInput) {
  <input type="text"
    (blur)="showInput = false"
    (change)="onInputChange($event)">
  }


  @if (itemsDisplayed < 6)
    {
    <div
    class="footer-line"
    (click)="showInput = !showInput">
    {{themeService.adminHeadline() || 'Галерија српске историје'}}
</div>
}
</div>