.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(5/4) * 41rem;
  width: 41rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 1rem;
  background-image: url('/assets/images/canva-background.jpg');

  @media (orientation: portrait) {
    height: calc(5/4) * 100vw;
    width: 100vw;
  }
}

h1.page-title {
  margin-block: 0.5rem 0;
  left: -2rem;
  min-width: 50%;
  font-size: 2rem;
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  white-space: nowrap;

  span {
    font-weight: 500;
    padding-left: 2rem;
  }
}

.items-block {
  height: 43rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &.single {
    height: 45rem;
    align-items: flex-start;
  }

  &.flex-start {
    justify-content: flex-start;

    .item:not(.multi-items) {
      margin-bottom: 0;
    }

    .item-name {
      font-size: 2.2rem;
    }

    .multi-items .item-name {
      font-size: 1.8rem;
    }
  }
}

.item {
  width: 100%;
  margin: 0.5rem 0;
}

div.item-description {
  padding: 0 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  white-space: pre-wrap;
  min-height: unset;
}

div.item-content {
  text-align: center;
  margin-bottom: 1rem;
}

div.item-content h5.item-name {
  color: var(--color-1);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

div.item-content p.item-location {
  color: var(--text-1);
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 0.2rem;
  text-align: center;
}

img.item-image {
  width: 95%;
  margin-block: 0.5rem;
  display: inline-block;
  border: 0.2rem solid var(--divider-color);
  border-radius: 1rem;
}

.items-block.single img.item-image {
  max-height: 22rem;
  object-fit: cover;
  object-position: center;
}

.items-block.single div.item-description {
  position: relative;
  top: -0.5rem;
}

/* Multi Items */
.item.multi-items {
  margin: 0.5rem 0;
  height: 40%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

.multi-items div.item-content {
  height: 100%;
  margin-bottom: 0;
  display: inline-flex;
  text-align: left;
  flex-direction: column;
  width: calc(100% - 22rem);
  gap: 0.3rem;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.5rem;

  h5.item-name {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0;
  }

  p.item-location {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: left;
  }
}

.multi-items img.item-image {
  width: 21rem;
  height: 12rem;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
  border: 0;
  filter: drop-shadow(0rem -0.2rem 8px var(--shadow));
}

/* Grid items */
.items-block.grid-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  height: 37rem;

  .item {
    vertical-align: top;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0rem;
    width: 47%;

    .item-content {
      width: 100%;
      height: unset;

      h5.item-name {
        width: 100%;
        height: 2.8rem;
        text-align: center;
        font-size: 1.4rem;

        &.smaller-font {
          font-size: 1.2rem;
        }
      }
    }

    img.item-image {
      width: 100%;
      height: auto;
      aspect-ratio: 500 / 315;

    }
  }
}

.headline {
  background: var(--canva-blue);
  font-weight: 500;
  color: var(--background);
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  font-size: 1.7rem;
}

.footer-line {
  font-weight: 500;
  color: var(--background);
  position: absolute;
  bottom: 1rem;
  right: 0;
  display: inline-flex;
  min-width: 50%;
  align-items: center;
  font-size: 1.6rem;
  justify-content: center;
  padding: 1rem 2rem 1rem 8rem;
  background: linear-gradient(90deg,
      transparent 0%,
      var(--canva-red) 40%,
      var(--canva-red) 100%,
    );
}

input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 1rem;
}