.quote-author-list {
  position: fixed;
  top: 10rem;
  direction: rtl;
  right: 5rem;
  padding-left: 1rem;
  max-height: calc(100dvh - 12rem);
  overflow: auto;

  @media (max-width: 1300px) {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0.3rem;
    border-radius: 0.3rem;
    background: var(--background-3);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-1);
  }

  .quote-author-name {
    color: var(--text-1);
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    display: block;
    direction: ltr;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;

    &:hover {
      color: var(--color-1);
    }

  }
}

.quote-group {
  width: min(120rem, calc(100vw - 35rem));
  border-left: 0.2rem solid var(--color-2);
  text-align: left;
  margin-left: 1rem;
  margin-right: 0;
  margin-bottom: 6rem;
  padding: 0.5rem 2rem;

  @media (max-width: 1300px) {
    margin-left: 1rem;
    width: min(120rem, calc(90vw));
    margin-right: 0;
  }
}

.quote-text {
  margin-bottom: 2rem;
  display: block;
  height: auto;
  border-radius: 0.8rem;
  color: var(--text-1);
  text-align: left;

  mat-icon {
    vertical-align: top;
    display: inline-block;
    width: 2rem;
    font-size: 1.8rem;
    margin-right: 1rem;
    color: var(--color-1);
  }

  span {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 3rem);
  }
}

.quote-author {
  color: var(--color-1);
  text-align: left;
  cursor: pointer;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;

  &:hover {
    color: var(--color-3);
  }
}

.edit-icon {
  $icon-size: 1.4rem;
  font-size: $icon-size;
  height: $icon-size;
  width: $icon-size;
  line-height: $icon-size;
  position: relative;
  top: 0.1rem;
  color: var(--color-2);

  &.admin {
    cursor: pointer;
  }
}

button.add-button-large {
  @media (min-width: 1301px) {
    right: 25rem;
  }

  &.selected {
    border-color: var(--color-6);

    mat-icon {
      color: var(--color-6);
    }
  }
}

div.quote-text mat-icon.star {
  color: var(--color-4);
}