<div class="page-wrapper">
  <h1 class="page-title">
    <span>{{'Цитати'| translit}}</span>
  </h1>

  @if (quoteGroups.length) {
  <div class="quote-author-list">
    @for (quotes of quoteGroups; track quotes; let i = $index) {
    @let elementId = 'quote-author-' + i;
    <span class="quote-author-name"
      (click)="scrollTo(elementId)">
      {{quotes[0].authorName | translit}}
    </span>
    }
  </div>

  @for (quotes of quoteGroups; track quotes; let i = $index) {
  <div class="quote-group"
    [id]="'quote-author-' + i">
    <span class="quote-author gagalin"
      (click)="onAuthor(quotes[0].authorSlug)">
      {{quotes[0].authorName | translit}}
    </span>
    @for (quote of quotes; track quote.id) {
    <div class="quote-text">
      @if(quote.important) {
      <mat-icon class="star"
        (click)="onEdit(quote.id, $event)">star</mat-icon>
      } @else {
      <mat-icon (click)="onEdit(quote.id, $event)">format_quote</mat-icon>
      }
      <span (click)="onQuoteText(quote)">{{quote.text | trimText | translit}}</span>
    </div>
    }
  </div>
  }
  }


  <button class="add-button-large"
    [class.selected]="selectedCategories.length"
    mat-icon-button
    (click)="onFilterButton()">
    <mat-icon>filter_alt</mat-icon>
  </button>

</div>