@if (form) {
<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input matInput
      [formControlName]="control"
      type="number"
      numbersOnly />
    @if (!ignoreErrorHint && form.controls[control].errors) {
    <mat-hint class="danger">УПОЗОРЕЊЕ</mat-hint>
    }
  </mat-form-field>
</ng-container>
}