@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    label="Назив категорије" />
  <app-form-text control="slug"
    label="Слуг"
    [slug]="true" />
  <app-form-number control="order"
    label="Редослед" />
  <app-form-multiselect control="epochs"
    label="Листа епоха"
    [items]="allEpochs" />
  @if (id) {
  <app-form-image control="imagePath"
    (clickEmitter)="onImage()" />
  }
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}