@if (list.length) {
<div class="game-1">
  <div class="game-quiz-subtitle">{{'Трећа игра' | translit}}</div>
  <div class="game-quiz-title">{{'Причај српски да те цео свет разуме!' | translit}}</div>
  <div class="game-quiz-mission">
    {{'Додели сваком цитату правог аутора.' | translit}}
  </div>
  <div class="quotes-block">
    @for (item of quoteList; track item; let i = $index) {
    <div class="quote-item game-item"
      [class.correct-answer]="item.correctOrder === true"
      [class.wrong-answer]="item.correctOrder === false">
      <div class="question">{{item.text | translit}}</div>
      <mat-form-field appearance="outline">
        <mat-label>{{'Аутор' | translit}}</mat-label>
        <mat-select class="author-dropdown"
          [disabled]="!!gamePoints"
          [(ngModel)]="controls[i]">
          @for (author of authorList; track author) {
          <mat-option [value]="author.slug">
            {{ author.name | translit}}
          </mat-option>
          }
        </mat-select>
        @if (!!gamePoints && !item.correctOrder) {
        <mat-hint>
          {{'Тачан одговор' | translit}}: {{correctOrderNames[i] | translit}}
        </mat-hint>
        }
      </mat-form-field>
    </div>
    }
  </div>
  <div class="game-footer-block">
    <br>
    @if (!gamePoints) {
    <button class="game-footer-button"
      (click)="checkGameThree()"
      mat-flat-button>{{'Провери' | translit}}</button>
    }
    @if (!!gamePoints) {
    <br>
    <div class="game-score">
      @if (gamePoints === 20) {
      {{'Браво! Освојено максималних' | translit}} <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
      }
      @if (gamePoints > 10 && gamePoints < 20)
        {
        {{'Врло
        добро!
        Освојено'
        |
        translit}}
        <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
        }
        @if (gamePoints > 1 && gamePoints <= 10)
          {
          {{'Није
          лоше!
          Освојено'
          |
          translit}}
          <br> <b>{{gamePoints}}</b> {{'поена' | translit}}
          }
          @if (gamePoints === 1) {
          {{'Све погрешно! Ипак, изволи' | translit}}<br> <b>{{gamePoints}}</b> {{'мотивациони поен' | translit}}
          }
          {{'у трећој игри!' | translit}}
    </div>
    <button class="game-footer-button success"
      (click)="onNext()"
      mat-flat-button>
      {{'Иди даље' | translit}}
    </button>
    }
  </div>
</div>
}