.outro {
  padding: 0;
}

.game-quiz-title {
  margin: 0;
  text-align: left;

}

.result-table {
  margin: 2rem auto;
}

.table-title {
  margin-bottom: 0.5rem;
}

.game {
  display: inline-block;
  width: 3rem;
  text-align: left;
}

.score {
  display: inline-block;
  text-align: left;
  width: 10rem;
}

.footer-score {
  margin-top: 2rem;
  text-align: left;
}

strong {
  color: var(--color-3);
}