<div class="outro">
  <div class="game-quiz-title">
    {{'Свака част!' | translit}} <br>
    {{'Завршили сте свих пет игара за данас.' | translit}}
  </div>
  <div class="game-quiz-subtitle">
    {{date | translit}}
  </div>

  <div class="result-table">
    <span class="table-title">
      {{'Остварили сте следећи учинак:' | translit}}
    </span>
    @for (game of points; track game; let i = $index) {
      <div>
        <span class="game">{{i + 1}}.</span>
        <span class="score"><strong>{{game}}</strong> {{'поена' | translit}}</span>
      </div>
    }
    <div class="footer-score">
      {{'Од максимално могућих' | translit}} <strong>100 </strong> {{'поена,' | translit}} <br>
      {{'освојили сте' | translit}} <strong>{{totalScore}}</strong>
      {{(totalScore % 10 === 1 ? 'поен' : 'поена') | translit}}.
      <br>
        <br>
          {{'Видимо се сутра са новим питањима!' | translit}}
          <br>
            {{'Спортски поздрав!' | translit}}
            <br>
            </div>
          </div>

        </div>