.welcome-page-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dashboard-left {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  order: 1;

  @media (max-width: 1800px) {
    order: 3;
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.dashboard-center {
  display: flex;
  flex-direction: column;
  order: 2;
}

.dashboard-right {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  order: 3;

  @media (max-width: 1200px) {
    gap: 2rem;
  }

  @media (max-width: 1800px) {
    display: none;
  }
}

.logo-wrapper {
  display: inline-block;
  margin: 4rem auto;
  position: relative;

  @media (orientation: portrait) {
    margin: 3rem auto;
  }
}

.logo-wrapper img {
  width: min(40rem, calc(100vw - 8rem));
  user-select: none;
}

.side-data {
  display: inline-block;
  cursor: pointer;
  width: 28rem;
  position: absolute;
  right: 0;
  top: 8rem;
  z-index: 900;
}

.side-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--background);
  height: min(calc(100vh - 10rem), 85rem);
  border-top: 1px solid red;
  top: -8rem;

}

.side-wrapper .title {
  font-weight: 1.5rem;
  position: relative;
  text-align: left;
  font-weight: 500;
}

.side-wrapper .subtitle {
  font-weight: 1.4rem;
  text-align: left;
  color: var(--color-1);
}

.side-wrapper mat-icon {
  color: var(--color-1);
  top: 1rem;
  position: absolute;
  right: 1rem;
}

.daily-news-holder {
  animation: flyFromRight 3s ease forwards;
  position: relative;
  right: 0;
}

@keyframes flyFromRight {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.mini-card-wrapper {
  display: flex;
  gap: 2rem;
}

.slot {
  box-shadow: 0.1rem 0.1rem 1rem var(--shadow);
  border-radius: 1rem;
  width: 50rem;
  height: 20rem;
  padding: 1rem 1rem 1rem 1.5rem;
  display: block;
  background: linear-gradient(135deg, rgba(121, 121, 121, 0.2), rgba(173, 173, 173, 0.2), rgba(255, 255, 255, 0.2));
  animation: blurIn 1s ease-in-out;
}

@keyframes blurIn {
  0% {
    filter: blur(20px);
    opacity: 0;
  }

  50% {
    filter: blur(5px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }
}

h5.slot-header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  span.slot-title {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-4);
    border-bottom: 0.2rem solid var(--color-4);
    font-size: 2rem;
  }

  mat-icon {
    cursor: pointer;
    color: var(--text-2);

    &:hover {
      color: var(--text-1);
    }
  }
}

.slot-menu {
  border-radius: 1rem;
}

div.dash-cards {
  padding: 1rem;
  border-radius: 1rem;
}

p.dash-card {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: var(--color-1);
    font-weight: 500;
    background: var(--background-2);
  }
}

.quote-slot {
  text-align: left;
  height: 15.5rem;
  position: relative;
  margin-block: 1rem;
}

.quote-slot p {
  font-style: italic;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  user-select: none;
  letter-spacing: 0.3px;
}

.quote-slot section {
  font-weight: 500;
  padding: 1rem 2rem 0 0;
  font-size: 1.7rem;
  color: var(--color-1);
}

.quote-slot mat-icon.reload {
  color: var(--color-1);
  cursor: pointer;
  position: absolute;
  top: -3.35rem;
  right: 3rem;

  &:hover {
    transform: scale(1.05);
  }
}

.quote-slot mat-icon.quote {
  color: var(--color-1);
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  transform: scale(2);
}

.birthday-slot {
  height: calc(100% - 1.4rem);
  padding-top: 1rem;
  position: relative;
  display: flex;
  gap: 2rem;
}

.birthday-slot img.person-image {
  height: 0.7 * 21rem;
  width: 0.7 * 14rem;
  border-radius: 1rem;
  object-fit: cover;
}

.birthday-slot section {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

img.birthday-balloons {
  position: absolute;
  right: 1rem;
  bottom: 5rem;
  height: 10rem;
}

.birthday-slot footer {
  position: absolute;
  display: inline;
  text-align: center;
  right: 5.1rem;
  bottom: 7.8rem;
  z-index: 8;
  color: var(--canva-blue);
  width: 4rem;
  font-weight: 600;
}

.birthday-slot p {
  font-size: 1.5rem;

  &:first-of-type {
    color: var(--color-1);
    font-weight: 500;
  }
}

.birthday-slot mat-icon {
  position: absolute;
  top: -2.35rem;
  right: 3rem;
  color: var(--color-1);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.event-slot {
  height: calc(100% - 1.4rem);
  padding-top: 1rem;
  position: relative;
  display: flex;
  gap: 2rem;
}

.event-slot h4 {
  text-align: left;
}

.event-slot p.event-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  white-space: pre-wrap;
  min-height: unset;
  padding-top: 1rem;
  line-height: 1.8rem;

  &.no-title {
    line-clamp: 7;
    -webkit-line-clamp: 7;
  }
}

.event-slot img {
  height: 0.7 * 21rem;
  width: 0.7 * 21rem;
  border-radius: 1rem;
  object-fit: cover;
}

.event-slot mat-icon {
  position: absolute;
  top: -2.35rem;
  right: 3rem;
  color: var(--color-1);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.stat-counter-slot {
  height: calc(100% - 1.4rem);
  padding-top: 1rem;
  position: relative;
  display: flex;
  gap: 2rem;
}

.stat-counter-slot img {
  height: 0.7 * 21rem;
  object-fit: cover;
}

.heritage-slot {
  height: calc(100% - 1.4rem);
  padding-top: 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 1.5rem;
}

.heritage-item {
  min-width: 30%;
  max-width: 30%;
  height: 6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}


.heritage-item {
  &:nth-child(1) mat-icon {
    color: var(--color-2);
  }

  &:nth-child(2) mat-icon {
    color: var(--color-3);
  }

  &:nth-child(3) mat-icon {
    color: var(--color-6);
  }

  &:nth-child(4) mat-icon {
    color: var(--color-1);
  }

  &:nth-child(5) mat-icon {
    color: var(--color-4);
  }

  &:nth-child(6) mat-icon {
    color: var(--color-5);
  }
}

.heritage-item h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

.no-event-message {
  text-align: left;
  padding: 1rem;
}

.no-event-icon {
  color: var(--color-4);
  transform: scale(2);
  margin-top: 4rem;
}

.date-day {
  color: var(--color-2);
  font-weight: 500;
}

.date-month {
  color: var(--color-2);
  font-weight: 500;
}

.date-rest {
  color: var(--text-1);
}