@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    label="Назив дела" />
  <app-form-text control="slug"
    label="Слуг дела"
    [slug]="true" />
  <app-form-text control="creator"
    label="Креатор" />
  <app-form-text control="creatorSlug"
    label="Слуг креатора" />
  <app-form-text control="yearMonth"
    label="година.месец" />
  <app-form-text control="dates"
    label="Датум од - до" />
  <app-form-select control="type"
    label="Тип дела"
    [items]="artTypes" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}