@let loggedAsAdmin = authService.loginAdmin$ | async;

<div class="spinner-wrapper">
  @if (!category) {
  <mat-spinner></mat-spinner>
  }
</div>

@if (category) {
<div class="page-wrapper">
  @if (loggedAsAdmin) {
  <button class="add-button-large"
    mat-icon-button
    color="primary"
    (click)="onAddButton()">
    <mat-icon>add</mat-icon>
  </button>
  }
  @if (loggedAsAdmin) {
  <button class="add-button-large second"
    mat-icon-button
    color="primary"
    (click)="onPrintscreenTags(false)">
    <mat-icon>group</mat-icon>
  </button>
  }
  @if (loggedAsAdmin) {
  <button class="add-button-large third"
    mat-icon-button
    color="primary"
    (click)="onPrintscreenTags(true)">
    <mat-icon>assignment_ind</mat-icon>
  </button>
  }
  <h1 class="page-title">
    <span>
      {{category.name | translit}}
    </span>
  </h1>
  @if (category) {
  <div class="tab-group-wrapper">
    <div class="divider"></div>
    <mat-tab-group [selectedIndex]="selectedIndex"
      (selectedIndexChange)="onTabChange($event)"
      animationDuration="0ms"
      [disablePagination]="true">
      <mat-tab [label]="'Картице' | translit">
        <ng-container *ngTemplateOutlet="cards" />
      </mat-tab>
      <mat-tab [label]="'Избор уредника' | translit">
        <ng-container *ngTemplateOutlet="selected" />
      </mat-tab>
      <mat-tab [label]="'Сличице' | translit">
        <ng-container *ngTemplateOutlet="images" />
      </mat-tab>
    </mat-tab-group>
  </div>
  }
</div>
}

<!-- Epochs -->
<ng-template #cards>
  @for (epoch of categoryEpochs; track epoch; let i = $index) {
  <div class="page-content">
    <h5 class="headline gagalin"
      [id]="epoch.slug"
      [class.no-top]="i === 0">{{ epoch.name | translit }}</h5>
    <br>
    @for (item of personList; track item.id; let i = $index) {
    @if (item.epoch === epoch.id) {
    @defer (on viewport) {
    <app-person-card [card]="item" />
    } @placeholder (minimum 200ms) {
    <div class="empty"></div>
    }
    }
    }
  </div>
  }
</ng-template>

<!-- Top ten -->
<ng-template #selected>
  <div class="selected-wrapper">
    @for (item of starList; track item.id; let even = $even; let i = $index) {
    <app-person-card [card]="item" />
    }
  </div>
</ng-template>

<!-- Images only -->
<ng-template #images>
  <div class="images-only">
    @for (item of personList; track item.id; let even = $even; let i = $index) {
    <app-person-mini-card [card]="item"
      [smaller]="true" />
    }
  </div>
</ng-template>