.spinner-wrapper {
  text-align: center;
}

@media (max-width: 360px) {
  .page-wrapper {
    padding-right: 0.3rem;
  }
}

mat-spinner {
  margin: 20rem auto;
  display: inline-block;
}

.page-content {
  margin: 1rem auto;
  position: relative;
  text-align: left;
}

.tab-group-wrapper {
  width: 100%;
  position: relative;
}

div.divider {
  position: absolute;
  top: 2.6rem;
  left: 0;
  right: 0;
  border-bottom: 0.2rem solid var(--divider-color);
}

::ng-deep .tab-group-wrapper mat-tab-group {
  margin: 0 auto;
  position: relative;
  text-align: left;
  top: -2rem;

  mat-tab-header.mat-mdc-tab-header {
    width: min(35rem, calc(100vw - 4rem));
    justify-content: flex-start;
    margin: 0;
  }

  div.mat-mdc-tab-body-wrapper {
    margin-top: 2rem;
  }

  div.mat-mdc-tab {
    padding-inline: 0.5rem;
    width: 33%;
  }

  span.mdc-tab__text-label {
    font-size: 1.4rem;

    @media (max-width: 340px) {
      font-size: 1.3rem;
    }
  }
}

.battles {
  width: 100%;
}

.list-wrapper {
  margin: 0 auto;
  width: min(70rem, 100vw - 6rem);
}

.table-wrapper {
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

table.category-list {
  display: table;
  border-collapse: collapse;
  text-align: center;
  margin: 2rem auto;

  td {
    padding: 1rem;
  }
}

td {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  text-align: left;

  &.table-image {
    text-align: left;
    min-width: 5rem;
    width: 5rem;

    img {
      height: 2rem;
      transition: transform 0.5s;

      &:hover {
        transform: scale(6);
        z-index: 998;
        object-fit: contain;
      }
    }
  }

  &.table-name {
    cursor: pointer;
    font-weight: 500;
    min-width: 15rem;
    width: 15rem;
  }

  &.table-title {
    min-width: 15rem;
    width: 15rem;
  }

  &.table-years {
    color: var(--text-2);
    min-width: 35rem;
    width: 35rem;

    .city {
      color: var(--text-1);
    }
  }

}

.table-edit {
  text-align: center;
  vertical-align: middle;
  min-width: 5rem;
  width: 5rem;

  mat-icon {
    font-size: 1.4rem;
    height: 1.4rem;
    width: 1.4rem;
  }

}

.empty {
  height: 25rem;
  width: 40rem;
  display: inline-block;
}


h5.headline {
  color: var(--color-2);
  display: inline-block;
  width: fit-content;
  position: relative;
  font-size: 2.5rem;
  text-align: left;
  border-bottom: 2px solid var(--color-2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-user-select: none;
  user-select: none;

  &.no-top {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }

  &.no-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.images-only {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  @media (max-width: 460px) {
    gap: 1rem;
  }
}

.selected-wrapper {
  margin-top: 0.5rem;
}