.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(5/4) * 41rem;
  width: 41rem;
  justify-content: flex-start;
  padding: 0;
  align-items: center;

  @media (orientation: portrait) {
    height: calc(5/4) * 100vw;
    width: 100vw;
  }
}

.logo-wrapper {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 1rem auto 0 auto;
  border-top: 0.2rem solid var(--divider-color);
  padding-top: 0.5rem;
  text-align: center;

  img {
    width: 60%;
    object-fit: contain;
  }
}

button {
  margin: 0.5rem auto 1rem auto;
}

img.person-image {
  margin-block: 1rem 2rem;
  position: relative;
  z-index: 2;
  height: 0.9 * 21rem;
  width: 0.9 * 15rem;
  object-fit: cover;
  object-position: center top;
  border: 0.2rem solid var(--divider-color);
  border-radius: 1rem;
}

h1 {
  font-size: 2.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--canva-blue);
  color: var(--background);
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.details-segment {
  margin-bottom: 1rem;

  h6 {
    font-size: 1.5rem;
    color: var(--color-1);

    &.red {
      color: var(--color-2);
    }
  }

  p {
    font-size: 1.5rem;
  }

  strong {
    font-size: 1.6rem;
    margin-bottom: 0rem;
    display: block;
    text-transform: uppercase;
  }
}


.description {
  margin-top: 1rem;
  margin-inline: 2rem;
  border-top: 0.2rem dotted var(--divider-color);
  padding: 0.5rem 0;
  line-height: 2rem;
  color: var(--text-1);
  text-align: center;
}

.serbian-flag-colors {
  position: absolute;
  z-index: 1;
  top: 17rem;
  left: 0;
  right: 0;

  div {
    height: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
  }

  .red {
    background: var(--color-2);
    width: 30rem;
    margin-inline: auto;
  }

  .blue {
    background: var(--color-1);
    width: 25rem;
    margin-inline: auto;
  }

  .white {
    background: var(--background-3);
    width: 22rem;
    margin-inline: auto;
  }
}

.details {
  display: flex;
  flex-direction: row;
  margin-block: 1rem;
  text-align: left;
  width: 100%;
}

.left-side {
  border-right: 0.3rem solid var(--color-2);
  margin-right: 0.2rem;
  text-align: right;
  width: 48%;
  padding-right: 1rem;
}

.right-side {
  padding-left: 1rem;
  border-left: 0.3rem solid var(--color-1);
  margin-left: 0.2rem;
  width: 52%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5rem;
}