@if (person) {
<div mat-dialog-content
  class="dialog-wrapper">
  <h1 (click)="increaseFragments()">{{person.commonName}}</h1>
  @if (showImage) {
  <img class="person-image image-shadow-filter"
    (click)="showImage = false"
    loading="lazy"
    [src]="person.imagePath" />
  }
  @for (fragment of fragments; track fragment; let i = $index) {
  <div class="print-html"
    (click)="onRemoveFragment()">
    @if (i < fragmentCount)
      {
      <span
      class="inner-html-wrapper"
      [innerHtml]="fragment"></span>
      }
  </div>
  }
</div>
}