@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    label="Назив достигнућа" />
  <app-form-text control="slug"
    label="Слуг достигнућа"
    [slug]="true" />
  <app-form-text control="creator"
    label="Освајач" />
  <app-form-text control="creatorSlug"
    label="Слуг освајача" />
  <app-form-text control="yearMonth"
    label="година.месец" />
  <app-form-text control="dates"
    label="Сва понављања" />
  <app-form-select control="type"
    label="Тип"
    [items]="sportSuccessTypes" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}