<div id="table-wrapper">
  <div class="filter-row flex">
    <div class="spacer"></div>
    <button class="add-button"
      mat-flat-button
      color="primary"
      (click)="onAddButton()">
      Додај епоху
    </button>
  </div>

  @if (epochs$ | async; as epochs) {
  <app-table [items]="epochs"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    (editEmitter)="onEditButton($event)"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>