.white-outline {
  $positive: 1px;
  $negative: -1px;
  $color: #dadada;
  text-shadow:
    $negative $negative 0 $color,
    $positive $negative 0 $color,
    $negative $positive 0 $color,
    $positive $positive 0 $color;
}

.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(16/9) * 41rem;
  width: 41rem;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 0;
  background-image: url('/assets/images/background-light.webp');
  background-position-x: center;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;

  @media (orientation: portrait) {
    height: calc(16/9) * 100vw;
    width: 100vw;
  }
}

.fog {
  position: absolute;
  left: 0;
  top: 0;
  height: 6rem;
  width: 100%;
  background: linear-gradient(180deg, #acacac 0%, #acacac 40%, transparent 100%);
}

.central-space {
  display: block;
  padding-top: 10.5rem;
  height: calc(100% - 10rem);
}

.main-title {
  position: absolute;
  font-family: 'Gagalin';
  letter-spacing: 2px;
  left: 1.3rem;
  display: inline-block;
  margin-inline: auto;
  top: 7rem;
  background: var(--background-gradient);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--text-2);
  padding: 0.5rem 1rem 0.5rem 1.2rem;
  font-size: 2.4rem;
}

.main-title section {
  display: inline;
  font-family: 'Gagalin';
  letter-spacing: 2px;
  color: var(--color-2);
  font-size: inherit;
}

.main-title span {
  display: inline;
  font-family: 'Gagalin';
  letter-spacing: 2.5px;
  color: var(--canva-blue);
  font-size: inherit;
}

.items {
  width: 40rem;
  padding-top: 1rem;
  text-align: left;
}

.item-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  height: calc(21 / 15) * 10rem;
  padding-inline: 1rem;
  vertical-align: top;
}

img.item-image {
  width: 10rem;
  display: inline-block;
  height: 100%;
  background: var(--background-gradient);
  border: 0.2rem solid var(--text-2);
  border-radius: 0.3rem;
}

.item-data {
  max-width: 29rem;
  height: 100%;
  display: inline-block;
}

.item-name {
  color: var(--canva-blue);
  font-weight: 500;
  font-family: 'Gagalin';
  letter-spacing: 2px;
  line-height: 2.5rem;
  font-size: 2.5rem;
}

.full-title {
  color: var(--color-4);
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin-block: 0.4rem 0.1rem;
  font-family: 'Gagalin';
  letter-spacing: 2px;
}

.birth-year {
  color: var(--canva-red);
  font-weight: 500;
  font-family: 'Gagalin';
  letter-spacing: 2px;
  font-size: 2.2rem;
  line-height: 2.2rem;

  &.green {
    color: var(--canva-green);
  }
}

.logo-wrapper {
  position: absolute;
  top: 1.5rem;
  right: 2rem;

  img {
    height: 4rem;
    width: auto;
  }
}