@if (items.length) {
<div mat-dialog-content
  class="dialog-wrapper">

  <div class="fog"></div>

  @if(showLogo) {
  <div class="logo-wrapper"
    (click)="showLogo = false">
    <img src="assets/images/gallery-logo-text-outline.png"
      alt="Logo Galerija" />
  </div>
  }

  <div class="central-space">

    @if (birthday) {
    <div class="main-title">
      <section>РОЂЕНИ НА </section>
      <span>{{birthday | uppercase}}</span>
    </div>
    }

    <div class="items">
      @for (item of items; track item; let i = $index) {
      @if (i < 4)
        {
        <div
        class="item-wrapper"
        (click)="onRemove(item)">
        <!-- Person Photo -->
        <img class="item-image"
          appDefaultLogo
          [src]="item.imagePath"
          [alt]="item.commonName">

        <div class="item-data">
          <h5 class="item-name">{{item.commonName}}</h5>
          <p class="full-title">{{item.fullTitle}}</p>
          <p class="birth-year"
            [ngClass]="getYearColor(item)">
            {{item.birthYear}}{{getDeathYear(item)}}.


          </p>

        </div>
    </div>
    }
    }
  </div>

</div>
</div>
}