@if (form) {
<form [formGroup]="form">
  <app-form-text control="name"
    label="Назив епохе" />
  <app-form-number control="order"
    label="Редослед" />
  <app-form-text control="slug"
    label="Слуг"
    [slug]="true" />
  <app-form-color control="color" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}