<div mat-dialog-content
  class="dialog-wrapper">

  @if (tag) {
  <div class="top-color">
    {{tag.name || 'Галерија'}}
  </div>
  <div class="logo-map">
    @if (tag.imagePath) {
    <img class="tag-image"
      [src]="tag.imagePath">
    }
    <app-serbian-map [citySlug]="tag.slug"
      [smallMap]="true" />
  </div>
  <div class="basic-data">
    <div class="basic-data-row">
      <mat-icon class="basic-data-row-icon">extension</mat-icon>
      <div class="basic-data-row-text">
        <span class="basic-data-title">Управни округ</span>
        <span class="basic-data-content">{{tag.region}}</span>
      </div>
    </div>
    @if (tag.cityDate) {
    <div class="basic-data-row">
      <mat-icon class="basic-data-row-icon">event</mat-icon>
      <div class="basic-data-row-text">
        <span class="basic-data-title"
          (click)="switchDayTitle()">{{dayTitle}}
        </span>
        <span class="basic-data-content">
          {{tag.cityDate | calendarDate}}
        </span>
      </div>
    </div>
    }
    @if (tag.population) {
    <div class="basic-data-row">
      <mat-icon class="basic-data-row-icon">groups</mat-icon>
      <div class="basic-data-row-text">
        <span class="basic-data-title">Популација</span>
        <span class="basic-data-content">{{tag.population}}</span>
      </div>
    </div>
    }
    @if (tag.licencePlate) {
    <div class="basic-data-row">
      <mat-icon class="basic-data-row-icon">directions_car</mat-icon>
      <div class="basic-data-row-text">
        <span class="basic-data-title">Регистрација</span>
        <span class="basic-data-content">{{tag.licencePlate}}</span>
      </div>
    </div>
    }
    @if (tag.area) {
    <div class="basic-data-row">
      <mat-icon class="basic-data-row-icon">360</mat-icon>
      <div class="basic-data-row-text">
        <span class="basic-data-title">Површина</span>
        <span class="basic-data-content">{{tag.area}} км<sup>2</sup></span>
      </div>
    </div>
    }
    @if (tag.postNumber) {
    <div class="basic-data-row">
      <mat-icon class="basic-data-row-icon">local_post_office</mat-icon>
      <div class="basic-data-row-text">
        <span class="basic-data-title">Поштански број</span>
        <span class="basic-data-content">{{tag.postNumber}}</span>
      </div>
    </div>
    }
    @if (tag.height) {
    <div class="basic-data-row">
      <mat-icon class="basic-data-row-icon">landscape</mat-icon>
      <div class="basic-data-row-text">
        <span class="basic-data-title">Надморска висина</span>
        <span class="basic-data-content">{{tag.height}} м</span>
      </div>
    </div>
    }
    @if (tag.callPrefix) {
    <div class="basic-data-row">
      <mat-icon class="basic-data-row-icon">call</mat-icon>
      <div class="basic-data-row-text">
        <span class="basic-data-title">Позивни број</span>
        <span class="basic-data-content">{{tag.callPrefix}}</span>
      </div>
    </div>
    }
  </div>
  }

  <div class="bottom-color">
    GalerijaSrbije.rs
  </div>
</div>