.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(5/4) * 41rem;
  width: 41rem;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background: linear-gradient(90deg, rgb(255 255 255 / 90%) 0%, transparent 20%, transparent 100%);

  @media (orientation: portrait) {
    height: calc(5/4) * 100vw;
    width: 100vw;
  }
}

.top-color {
  position: absolute;
  background-color: var(--canva-blue);
  height: 5rem;
  width: 100%;
  top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.1rem;
}

.bottom-color {
  position: absolute;
  background-color: var(--canva-red);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 2rem;
  height: 4rem;
  width: 100%;
  bottom: 0rem;
}

.logo-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

app-serbian-map {
  position: relative;
  top: -1rem;
}

img.tag-image {
  height: 17rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  max-width: 90%;
  border-radius: 2rem;
  object-fit: contain;
}

.basic-data {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
  margin-left: 1rem;
}

.basic-data-row {
  width: calc(50% - 0.5rem);
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}

.basic-data-row-icon {
  color: var(--color-1);
  width: 4rem;
  height: 3.2rem;
  font-size: 3rem;
}

.basic-data-row-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.basic-data-title {
  color: var(--color-1);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  padding: 0.2rem 0;
}

.basic-data-content {
  color: var(--text-1);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
}