@if (person.keyNotes) {
<div class="top-block"
  (click)="goToBio(person.slug)">
  <mat-icon class="close-x"
    (click)="onClose($event)">close</mat-icon>
  <img class="sheet-image"
    [src]="person.imagePath"
    [alt]="person.commonName | translit">
  <div class="header-text">
    <h6>{{person.commonName | translit}}</h6>
    <p>{{person.city | translit}}</p>
    <p>{{person.birthDeath | translit}}.</p>
  </div>
</div>
<h4>{{'ВРЕМЕПЛОВ' | translit}}</h4>
<div class="text-wrapper inner-html-wrapper">
  <span [innerHtml]="person.keyNotes | translit"></span>
</div>
}