div.top-block {
  display: flex;
  flex-direction: revert;
  align-items: flex-start;
  margin: 2rem;
  cursor: pointer;
}

img.sheet-image {
  display: inline-block;
  height: 10rem;
  border: 0.2rem solid var(--divider-color);
}

div.header-text {
  margin-left: 2rem;
  position: relative;
}

h6 {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
}

p {
  color: var(--text-2);
  margin: 0.2rem 0;
}

h4 {
  margin: 2rem;
  color: var(--color-1);
}

div.text-wrapper {
  position: relative;
  width: 100%;
  white-space: pre-wrap;
  text-align: center;
  padding: 0 2rem;
  font-size: 1.4rem;
  margin: 0;
  overflow: auto;
  max-height: calc(100dvh - 48rem);

  span {
    text-align: left;
  }
}

::ng-deep .inner-html-wrapper {
  p {
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    line-height: 1.7rem;

    span {
      display: inline;
    }
  }

  strong {
    color: var(--color-1);
    font-weight: 400;
    font-size: 1.4rem;
  }

  em {
    color: var(--color-2);
    font-style: normal;
    font-size: 1.4rem;
  }
}

mat-icon.close-x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  &:hover {
    color: var(--text-2);
  }
}