<div class="component-wrapper">
  <!-- Headline -->
  <h5 class="headline"
    (click)="onHeadline()">{{'Историјске године' | translit}}</h5>

  <!-- Timeline arrows -->
  <div class="timeline-start-arrow"
    (click)="onBackArrow()">
  </div>
  <div class="timeline-end-arrow"
    (click)="onForwardArrow()">
  </div>

  <!-- Timeline -->
  <div class="timeline-wrapper">
    <div class="timeline"
      draggable="false">


      <!-- Year Separator -->
      @for (dot of timelineSeparators; track dot) {
      <div class="timeline-separator"
        [style.left]="dot.start">
        <span class="separator-year">
          {{dot.year}}
        </span>
      </div>
      }

      <!-- Year Dot -->
      @for (dot of timelineDots; track dot; let even = $even) {
      <div class="timeline-dot"
        [class.selected]="selectedDot && dot.year === selectedDot.year"
        (click)="onDot(dot)"
        [style.left]="dot.start">
        <span class="dot-year"
          [class.selected]="selectedDot && dot.year === selectedDot.year"
          [class.even]="even">
          {{dot.year}}
        </span>
      </div>
      }

    </div>
  </div>

  <!-- Details -->
  @if (selectedDot) {
  <div class="detail-box-wrapper">
    <div class="detail-box">
      <mat-icon class="arrow-left"
        (click)="onLeftArrow()">
        keyboard_double_arrow_left
      </mat-icon>
      <mat-icon class="arrow-right"
        (click)="onRightArrow()">
        keyboard_double_arrow_right
      </mat-icon>
      <div class="detail-box-year">
        {{selectedDot.year}}
      </div>
      <h6 class="detail-box-title"
        (click)="onTitle()">
        {{selectedDot.title| translit}}
      </h6>
      <p class="detail-box-description"
        [innerHtml]="selectedDot.description | translit">
      </p>
    </div>
  </div>
  }
</div>