.component-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto 4rem auto;
  padding: 2rem 0;
  border: 0.2rem solid var(--divider-color);
  border-radius: 0.5rem;
  width: min(133rem, 90vw);

  @media (orientation:portrait) {
    border: none;
  }
}

h5.headline {
  font-size: 2.4rem;
  margin: 0 0 2rem 0;
  text-transform: uppercase;

  @media (max-width: 1800px) {
    font-size: 3rem;
    text-align: left;
    text-transform: unset;
  }
}

.timeline-wrapper {
  position: relative;
  overflow: auto;
  cursor: default;
  margin: 1rem auto;
  padding: 3rem 0;
  width: calc(100% - 2rem);
  height: 22rem;
  user-select: none;

  @media (orientation:portrait) {
    height: 12rem;
  }

  * {
    user-select: none;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.timeline {
  height: 0.5rem;
  width: 400rem;
  display: flex;
  position: relative;
  background: var(--color-1);

  @media (orientation:portrait) {
    display: none;
  }
}

.timeline-arrow {
  position: absolute;
  display: inline-block;
  top: 10.2rem;
  z-index: 998;
  width: 0;
  height: 0;
  cursor: pointer;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;

  @media (orientation:portrait) {
    display: none;
    top: 9.2rem;
  }
}

.timeline-start-arrow {
  @extend .timeline-arrow;
  left: 0.7rem;
  border-right: 1rem solid var(--color-1);

  &:hover {
    border-right-color: var(--color-2);
  }
}

.timeline-end-arrow {
  @extend .timeline-arrow;
  right: 0.7rem;
  border-left: 1rem solid var(--color-1);

  &:hover {
    border-left-color: var(--color-2);
  }
}

.timeline-separator {
  position: absolute;
  display: inline-block;
  width: 0.2rem;
  height: 1.5rem;
  border: 0.2rem solid var(--text-1);
  top: -0.5rem;
}

span.separator-year {
  position: absolute;
  display: inline-block;
  background: transparent;
  top: -2rem;
  color: var(--text-1);
  left: -1.1rem;
  font-size: 1.2rem;
}

div.timeline-dot {
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  overflow: visible;
  border-radius: 50%;
  top: -0.2rem;
  right: 0.1rem;
  background: var(--background);
  border: 0.3rem solid var(--color-1);
  cursor: pointer;

  &.selected {
    transform: scale(1.1);
    border: 0.3rem solid var(--color-2);
    z-index: 99;
  }

  &:hover {
    .dot-year {
      font-weight: 500;
    }
  }
}

.dot-year {
  position: absolute;
  display: inline-block;
  top: 1.2rem;
  left: -2.3rem;
  font-size: 1.2rem;
  color: var(--color-1);
  width: 5rem;
  background: var(--background);
  border: 0.1rem solid var(--color-1);
  border-radius: 0.5rem;
  padding: 0.2rem;

  &.even {
    top: -2.8rem;
  }

  &.selected {
    color: var(--color-2);
    border: 0.1rem solid var(--color-2);
    font-weight: 500;
    z-index: 99;
    top: 1.0rem;

    &.even {
      top: -2.6rem;
    }
  }
}

.detail-box-wrapper {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  height: 13rem;
  width: 100%;
  margin: 0 auto;
}

.detail-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: min(40rem, 90vw - 4rem);
  padding: 0 3rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  border-top: 0.2rem solid var(--color-2);
  border-left: 0.2rem solid var(--color-2);
  border-bottom: 0.2rem solid var(--color-1);
  border-right: 0.2rem solid var(--color-1);

  @media (orientation: portrait) {
    padding: 0 2rem;
  }
}

.detail-box-year {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  top: -1.2rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-2);
  padding: 0 1rem;
  background-color: var(--background);
}

.detail-box-title {
  padding-top: 0;
  top: -0.5rem;
  position: relative;
  cursor: pointer;
  color: var(--color-1);

  @media (orientation: portrait) {
    font-size: 1.5rem;
  }
}

.detail-box-description {
  position: relative;
  top: 1rem;
  color: var(--text-1);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;

  @media (orientation: portrait) {
    -webkit-line-clamp: 4;
  }

  ::ng-deep {
    * {
      font-size: 1.5rem;
      line-height: 1.6rem;

      @media (orientation: portrait) {
        font-size: 1.4rem;
        line-height: 1.5rem;
      }
    }

    a {
      text-decoration: none;
      color: var(--color-1);

      &:hover {
        font-weight: 500;
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 4.5rem;
  display: inline-block;
  margin: 0;
  background: var(--background);
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.arrow-left {
  @extend .arrow;
  left: -1.6rem;
  color: var(--color-2);
}

.arrow-right {
  @extend .arrow;
  right: -1.7rem;
  color: var(--color-1);
}