:host {
  width: 100%;
}

.collapser {
  position: relative;
  margin: 0 auto 2rem auto;
  width: min(100rem, 100%, calc(100vw - 6rem));
  border-top: 0.2rem solid var(--color-2);
  border-left: 0.2rem solid var(--color-2);
  border-bottom: 0.2rem solid var(--color-1);
  border-right: 0.2rem solid var(--color-1);
  border-radius: 0.5rem;
  text-align: left;
  padding: 2rem;
}

.minimize-icon {
  position: absolute;
  cursor: pointer;
  color: var(--color-2);
  top: 1.5rem;
  right: 1.5rem;
}

.expand-icon {
  position: absolute;
  bottom: 1.2rem;
  display: block;
  width: 100%;
  left: 2rem;
  color: var(--divider-color);
  cursor: pointer;

  &:hover {
    color: var(--text-1)
  }
}

::ng-deep .header-slot {

  h6 {
    margin: 0 0 2rem 0 !important;
    color: var(--color-2) !important;
  }
}