<div class="collapser">

  <div class="header-slot">
    <mat-icon class="minimize-icon"
      (click)="switchBox()">
      {{minimized ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
    </mat-icon>
    <ng-content select=".header-content"></ng-content>
  </div>

  @if (!minimized) {
  <ng-content></ng-content>
  } @else {
  <mat-icon class="expand-icon"
    (click)="closeBox()">more_horiz</mat-icon>
  }

</div>