@if (form) {
  <ng-container
    [formGroup]="form">
    <mat-form-field appearance="outline"
      class="wider">
      <mat-label>{{ label }}</mat-label>
      <input matInput
        [formControlName]="control" />
        @if (!ignoreErrorHint && form.controls[control].errors) {
          <mat-hint
          class="danger">УПОЗОРЕЊЕ</mat-hint>
        }
      </mat-form-field>
    </ng-container>
  }