.single-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: min(55rem, calc(100vw - 4rem));
  cursor: pointer;

  @media (max-width: 360px) {
    width: min(55rem, calc(100vw - 3rem));
  }
}

.main-box {
  border-radius: 0 0 1rem 1rem;
}

.image-box {
  position: relative;
  width: 15rem;
  height: 21rem;
  margin-right: 1rem;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--text-2);

  @media (max-width: 450px) {
    width: 0.8 * 15rem;
    height: 0.8 * 21rem;
    margin-right: 0.5rem;
  }
}

.extra-image-wrapper {
  background: var(--background-gradient);
  height: 100%;
  width: 100%;
  margin: 0rem;
  overflow: hidden;

  &:hover img.gallery-image {
    transform: scale(1.1);
  }
}

.image-box img.gallery-image {
  height: 100%;
  transition: transform 0.5s ease;
  width: 100%;
  margin: 0rem;
  display: block;
  text-align: left;
  object-fit: cover;
  object-position: center top;
}

.image-box mat-icon.star {
  color: var(--color-4);
  position: absolute;
  left: calc(100% - 1.2rem);
  top: -1.1rem;
  z-index: 4;
}

.image-box mat-icon.star-local {
  color: var(--color-1);
}

.data-box {
  background: var(--background-1);
  border-radius: 0 0 0 1rem;
  border-right: 0;
  border-top: 0;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 16rem);
  height: 21rem;

  @media (max-width: 450px) {
    width: calc(100% - 13rem);
    height: 0.8 * 21rem;
  }

  * {
    direction: ltr;
  }

  &::-webkit-scrollbar {
    width: 0.3rem;
    border-radius: 50%;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--canva-blue);
  }
}


.person-name {
  font-size: 2.4rem;
  text-align: left;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.5rem 0 0 1rem;
  color: var(--color-1);
  user-select: all;

  @media (max-width: 370px) {
    font-size: 2rem;
  }
}

.person-full-title {
  color: var(--color-4);
  text-transform: uppercase;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  user-select: all;

  @media (max-width: 370px) {
    font-size: 1.7rem;
  }
}

.desc-data {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.person-city {
  text-align: left;
  color: var(--text-1);
  font-size: 1.7rem;
  font-weight: 500;
  white-space: nowrap;
  width: 100%;
  margin-top: 1rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  user-select: all;
}

.person-age {
  font-size: 1.7rem;
  text-align: left;
  font-weight: 500;
  user-select: all;
}

.person-description {
  color: var(--text-2);
  margin: 1rem 0 0 0;
  font-size: 1.7rem;
  overflow: hidden;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  -webkit-line-clamp: 4;

  @media (max-width: 450px) {
    display: none;
  }

  @media (max-width: 550px) {
    font-size: 1.5rem;
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
}

.card-icons {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

mat-icon.star-icon {
  cursor: pointer;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  font-weight: 600;
  color: yellow;
}

mat-icon.calendar-icon {
  cursor: pointer;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  color: var(--background);
}

mat-icon.edit-icon {
  cursor: pointer;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  color: var(--background);
}

mat-icon.category-icon {
  cursor: pointer;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  color: var(--background);
}

img.category-image {
  height: 4rem;
  cursor: pointer;
}