@let person = card();

@if (person) {
<div class="single-item">
  <div class="main-box"
    (click)="goToPersonPage($event, true)">

    <!-- Image -->
    <div class="image-box">
      <div class="extra-image-wrapper">
        <img class="gallery-image"
          [alt]="person.commonName | translit"
          (contextmenu)="onContextImage($event)"
          (click)="goToPersonPage($event)"
          loading="lazy"
          [src]="person.imagePath"
          appDefaultLogo />
      </div>
      @if (person.topTen) {
      <mat-icon [title]="'Знаменита личност' | translit"
        class="star">star</mat-icon>
      } @else if (person.localHero) {
      <mat-icon [title]="'Локални херој' | translit"
        class="star star-local">star</mat-icon>
      }
    </div>

    <!-- Text box -->
    <div class="data-box">
      <div class="person-name gagalin"
        (mouseenter)="hover = true"
        (mouseleave)="hover = false"
        (contextmenu)="onContextName($event)"
        (click)="goToPersonPage($event, true)">
        {{ person.commonName | translit }}
      </div>
      <div class="person-full-title gagalin">
        {{ person.fullTitle | translit }}
      </div>
      <div class="desc-data">
        <div class="person-city">
          {{ person.city || '' | translit }}
        </div>
        <p class="person-age">
          {{ person.birthDeath | translit }}.
        </p>
        <p class="person-description">{{ person.shortDescription | translit }}</p>
      </div>
    </div>
  </div>
</div>
}