@if (form) {
<form [formGroup]="form">
  <app-form-text control="title"
    label="Назив објаве" />
  <app-form-select control="type"
    [items]="types"
    label="Тип објаве" />
  <br>
  <app-form-textarea control="text"
    label="Текст белешке" />
  <br>
  <button id="save"
    mat-flat-button
    color="primary"
    (click)="onSave()">
    {{ buttonLabel }}
  </button>
</form>
}