.tag {
  background: var(--background-3);
  color: var(--text-1);
  border-left: 0.7rem solid var(--color-5);
  border-radius: 0.4rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.7s ease;
  white-space: nowrap;
  margin: 0.5rem 1rem 0 0;

  &:hover {
    font-weight: 600;
  }
}