.sheet-wrapper {
  padding: 1rem;
}

.headline {
  font-size: 2.2rem;
  margin: 1rem;
  color: var(--color-1);
  text-transform: uppercase;
}

.select-items {
  max-height: min(80vh, 32rem);
  overflow-y: scroll;
}

footer {
  text-align: right;
  margin: 1rem;
}