@let title = data.title;
@let items = data.items || (data.observable | async);

<div class="sheet-wrapper">
  <h4 class="headline">{{title | translit}}</h4>

  <div class="select-items">
    @for (item of items; track item.id) {
    <div>
      <mat-checkbox [checked]="selectedItems.includes(item.id)"
        (click)="onCheckbox(item)">
        {{item.title || item.name | translit}}
      </mat-checkbox>
    </div>
    }
  </div>

  <footer>
    <button mat-stroked-button
      (click)="onConfirmation()">
      {{'Потврди' | translit}}
    </button>
  </footer>
</div>