<div id="table-wrapper">
  <div class="filter-row flex">
    <div class="spacer"></div>

    <button class="stat-button"
      mat-flat-button
      (click)="onStatButton()">
      Статистика
    </button>

    <button class="add-button"
      mat-flat-button
      (click)="onAddButton()"
      color="primary">
      Додај инстаграм пост
    </button>
  </div>

  @if (instagramPosts$ | async; as items) {
  <app-table [items]="items"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    (editEmitter)="onEditButton($event)"
    (deleteEmitter)="onDeleteButton($event)" />
  }
</div>