a {
  text-decoration: none;
}

.table-wrapper {
  width: calc(100vw - 19rem);
  overflow: auto;

  &.minitable {
    width: 970px;
  }

  td {
    white-space: pre;
    vertical-align: middle;
  }

  @media (orientation: portrait),
  (max-width: 1200px) {
    width: calc(100vw - 4rem);
  }
}

.admin-table {
  width: min(160rem, 100%);

  @media (orientation: portrait),
  (max-width: 1200px) {
    font-size: 1.4rem;
  }
}

.mat-column-actions {
  text-align: right;
  min-width: 30rem;
  width: 30rem;

  button {
    margin: 1rem 0 1rem 1rem;
  }
}

.table-thumb {
  height: 3rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.add-icon {
  height: 1.7rem;
  width: 1.7rem;
  line-height: 1.5rem;
  font-size: 2rem;
  margin-right: 0.5rem;
}

td {
  word-break: break-word;
  padding-right: 0.6rem;
}

.list-items {
  @media (max-width: 100rem) {
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.color-column {
  padding: 0.5rem 1rem;
  color: var(--text-light);
}


.LONGTEXT {
  padding: 1rem;
}

.BREAKTEXT {
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-html>div {
  width: min(50rem, 100%);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td button mat-icon {
  margin: 0;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 2rem;

  &.edit {
    color: var(--color-1);
  }

  &.delete {
    color: var(--color-2);
  }

  &.bio {
    color: var(--color-5);
  }
}

.instagram {

  .header-table {
    display: flex;
    align-items: center;
  }

  div {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    gap: 1rem;
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    font-size: 1.3rem;

    &.shorter {
      width: 11rem;
    }

    span {
      width: 5rem;
      text-align: right;
      display: inline-block;
    }
  }

  mat-icon.table-icon {
    color: var(--color-3);
  }

  mat-icon.sort-icon {
    transform: scale(0.9);
    min-width: 3rem;
    margin-left: 0.5rem;
    cursor: pointer;
    color: var(--color-3);

    &.blue {
      color: var(--color-1);
    }

    &.red {
      color: var(--color-2);
    }
  }

  span:nth-child(2) {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-1);
  }

  span:nth-child(3) {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-2);
  }
}

cdk-virtual-scroll-viewport {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem var(--text-2);
  }
}

.table-icons {
  cursor: pointer;
  height: 16px;
  width: 16px;
  padding: 0;
}

mat-icon.icon-up {
  @extend .table-icons;
  color: var(--color-3);
}

mat-icon.icon-down {
  @extend .table-icons;
  color: var(--color-2);
}

::ng-deep .table-wrapper .admin-table {

  .instagram {
    $fixed: 80rem;
    width: $fixed;
    min-width: $fixed;
    max-width: $fixed;
    padding: 1rem 0;
  }

  .mat-column-imagePath,
  .mat-column-embeddedCode {
    $fixed: 10rem;
    width: $fixed;
    min-width: $fixed;
    max-width: $fixed;
  }

  .mat-column-fullTitle,
  .mat-column-place,
  .mat-column-city,
  .mat-column-created,
  .mat-column-updated {
    $fixed: 15rem;
    width: $fixed;
    min-width: $fixed;
    max-width: $fixed;
    white-space: normal !important;
  }

  .mat-column-actions {
    $fixed: 20rem;
    width: $fixed;
    min-width: $fixed;
    max-width: $fixed;
  }

  .mat-column-title {
    $fixed: 20rem;
    min-width: $fixed;
  }

  .mat-column-text {
    $fixed: 60rem;
    white-space: nowrap !important;
    width: $fixed;
    min-width: $fixed;
    max-width: $fixed;
  }

  .mat-column-text.BREAKTEXT {
    $fixed: 120rem;
    width: $fixed;
    min-width: $fixed;
    max-width: $fixed;
  }

  .red {
    color: var(--color-2);
    font-weight: 500;
  }

  .yellow {
    color: var(--color-4);
    font-weight: 500;
  }

}