@if (card) {
<div class="single-item"
  [class.smaller]="smaller"
  (click)="onBiography(card.slug)">
  <div class="image-container">

    <h5 class="card-title"
      [class.tight]="longLastname">
      {{ card.commonName | translit }}
    </h5>

    <img mat-card-sm-image
      class="gallery-image image-shadow-filter"
      (contextmenu)="onContextMenu($event)"
      [alt]="card.commonName"
      [src]="card.imagePath"
      draggable="false"
      appDefaultLogo />

  </div>
</div>
}