div.single-item {
  width: 12.5rem;
  height: 24rem;
  padding: 0;
  display: inline-block;
  text-align: left;
  margin: 0;
  box-shadow: none !important;
  transition: transform 0.7s ease;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }

  &:hover {
    h5 {
      z-index: 999;
      position: relative;
      color: var(--color-1);
      transform: scale(1.02);
    }
  }
}

.image-container {
  overflow: hidden;
  display: block;
  height: calc(100% - 0.5rem);
  width: 100%;
  text-align: center;
  position: relative;
  border: 0.2rem solid var(--shadow);
  border-radius: 1rem;
}

img.gallery-image {
  width: 100%;
  height: calc(100% - 6rem);
  transition: transform 0.7s ease;
  cursor: pointer;
  border-radius: 0.4rem 0 0 0.4rem;
  object-fit: cover;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  filter: drop-shadow(0.1rem 0 8px var(--shadow));
}

h5.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  white-space: normal;
  font-weight: 500;
  text-align: center;
  background: transparent;
  color: var(--text-1);
}

@media (max-width: 460px) {
  div.single-item.smaller {
    width: calc(100vw /3 - 2.5rem);
    height: calc(2 * (100vw /3 - 2.5rem));
  }

  .smaller img.gallery-image {
    height: calc(100% - 5rem);
  }

  .smaller h5.card-title {
    height: 5rem;
    font-size: 1.3rem;
  }

  .smaller h5.card-title.tight {
    font-size: 1.15rem;
  }
}