.dialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(16/9) * 41rem;
  width: 41rem;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 0;
  background-image: url('/assets/images/canva-background-gray-2.png');

  @media (orientation: portrait) {
    height: calc(16/9) * 100vw;
    width: 100vw;
  }

  &.grid {
    padding: 1.4rem 0.8rem;
  }
}

.post-dialog {
  height: calc(5/4) * 41rem;
  display: block;

  @media (orientation: portrait) {
    height: calc(5/4) * 100vw;
  }
}

.full-width {
  width: 100%;
  display: flex;
  gap: 1rem;
  height: 7.5rem;
  margin-top: 0rem;
  align-items: center;
}

.logo-wrapper {
  flex: 1;
  display: flex;
  height: 7100%;
  align-items: center;
  padding-inline: 3rem;
  text-align: right;
  width: 100%;
  justify-content: flex-end;

  img {
    width: min(100%, 12rem);
  }
}

.headline {
  display: inline-flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-end;
  padding-left: 2rem;
  justify-content: flex-end;
}

.headline .title {
  color: white;
  font-family: 'Gagalin';
  letter-spacing: 1px;
  font-size: 1.7rem;
}

.headline .subtitle {
  color: var(--canva-blue-light);
  font-family: 'Gagalin';
  letter-spacing: 1px;
  font-size: 1.7rem;
}

.headline .line {
  position: relative;
  top: 0.1rem;
  left: 1.2rem;
  height: 0.3rem;
  width: calc(100% + 6rem);
  background: linear-gradient(90deg, white, var(--canva-blue-light));
}

.romb {
  position: absolute;
  right: -5px;
  top: -3.7px;
  transform: rotate(45deg);
  width: 1rem;
  height: 1rem;
  background-color: var(--canva-blue-light);
}

.people {
  margin-top: 0rem;
  position: relative;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.person {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 37rem;
  text-align: left;
}

.person-image {
  width: 5* 1.5rem;
  height: 5* 2.1rem;
  object-fit: cover;
  border: 1px solid var(--text-1);
  border-radius: 0.5rem;
  background: radial-gradient(white, gray);
}

.person-data {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.person-name {
  font-size: 2.5rem;
  line-height: 100%;
  font-family: 'Gagalin';
  letter-spacing: 1px;
  user-select: none;
}

.person-name.color-0 {
  color: var(--canva-red-light);
}

.person-name.color-1 {
  color: var(--canva-blue-light);
}

.person-name.color-2 {
  color: var(--canva-green-light);
}

.person-name.color-3 {
  color: var(--canva-orange-light);
}

.person-age {
  font-size: 2rem;
  color: var(--canva-yellow-light);
  font-family: 'Gagalin';
  letter-spacing: 1px;
}

.person-description {
  color: #f3f3f3;
  font-size: 1.7rem;
  font-family: 'Gagalin';
  letter-spacing: 1px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  padding-top: 0.3rem;
}