@if (items.length) {
<div mat-dialog-content
  class="dialog-wrapper post-dialog"
  [ngClass]="{'bigger-content': itemDisplayed === 2}">

  <div class="full-width">
    <div class="headline">

      <div class="title"
        contenteditable="true">
        СРПСКИ ВЕЛИКАНИ
      </div>

      <div class="line">
        <div class="romb"></div>
      </div>

      <div class="subtitle"
        contenteditable="true">
        ЗНАМЕНИТЕ ЛИЧНОСТИ
      </div>
    </div>

    <div class="logo-wrapper"
      *ngIf="showLogo"
      (click)="showLogo = false">
      <img src="assets/images/gallery-logo-text-outline.png"
        alt="Logo Galerija" />
    </div>
  </div>

  <div class="people">
    @for (item of items; track item.id; let i = $index) {
    @if(i < 4)
      {
      <ng-container
      *ngTemplateOutlet="person; context: {item, i}">
      </ng-container> }
      }
  </div>
</div>
}

<ng-template #person
  let-item="item"
  let-i="i">
  <div class="person">
    <img class="person-image"
      (click)="onRemove($event, item)"
      [src]="item.imagePath">
    <div class="person-data">
      <div class="person-name"
        [ngClass]="'color-' + i"
        (dblclick)="reduceFontSize($event)"
        contenteditable="true">{{item.commonName}}</div>
      <div class="person-age"
        contenteditable="true">{{item.birthDeath}}.</div>
      <div class="person-description"
        contenteditable="true">{{item.shortDescription}}</div>
    </div>
  </div>
</ng-template>